<section class="my-account ">
  <h2 class="title profile">Forgotten Your Password?</h2>
  <div class="borderWrapper retrievePassword">
    <div *ngIf="reset; else resetBlock">
      <form [formGroup]="resetForm" custom-focus>
        <p class="title">
          Please enter your email address and we will send you an email
          containing your login details.
        </p>
        <div class="col-xs-12 row" style="margin:20px;">
          <div class="col-sm-12 col-md-3  ">
            <label class="register_label "
              >Email Address<span class="redstar">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-8 text-left ">
            <span class="login_fields">
              <input
                type="text"
                class="mandatory form-control"
                formControlName="uid"
                (focus)="onFocusUid()"
                [ngClass]="{
                  'has-error not-valid':
                    !resetForm.get('uid').valid && resetForm.get('uid').touched,
                  valid: resetForm.get('uid').valid,
                  invalid: !resetForm.get('uid').valid
                }"
              />
              <div class="no-uid-error-msg" *ngIf="profileErrorStatus">
                No Profile found
              </div>
              <div
                *ngIf="
                  !resetForm.controls['uid'].valid &&
                  resetForm.get('uid').touched
                "
                class="not-valid-error-msg"
              >
                <span [hidden]="!resetForm.controls['uid'].errors.required">
                  {{ "resetPassword.uid" | translate }}</span
                >
                <span
                  [hidden]="!resetForm.controls['uid'].errors.patternInvalid"
                >
                  {{ "resetPassword.invalidEmail" | translate }}
                </span>
              </div>
            </span>
          </div>
        </div>
      </form>
      <div class="form_action">
        <button class="pull-left buttonStyle " (click)="onContinueClick()">
          Contiue Shopping
        </button>
        <button
          type="submit"
          class="pull-right buttonStyle"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </div>
    <ng-template #resetBlock>
      <p class="reset_p">
        Your password has now been sent. Please check your email inbox.
      </p>
    </ng-template>
  </div>
</section>
