@import "../../../../variable";

.my-account{
    margin:15px;
    position: relative;
    .title.profile {
        padding: 0 0 7px;
    }
}
.borderWrapper{
    border:1px solid $primary-color;
}
.retrievePassword{
  padding:3% 12px 8%;
  form{
      padding: 10px;
      label{
          font-size:12px;
      }
      .form_action{
          margin:20px 0;
          padding: 20px;
      }

  }   

}
.reset_p{
    padding:15px 20px;
}

.login_fields{
    input[type="text"].form-control,
    input[type="email"],input[type="password"],
    input[type="email"].form-control,
    input[type="password"].form-control,
    input[type="tel"].form-control {
       ~{
           .not-valid-error-msg{
               display:none  ;
           
           }
       }
    &.not-valid{    
       &:focus{
        box-shadow: none;
       ~{
        .not-valid-error-msg{
           display:block ;
         }
        }
       }
     }
       width: 65%;
       display: block;
       height: 48px;
       border: 1px solid $light-grey;
       border-radius: 0;
     //  margin: 5px 0;
       &.not-valid {
           background-image: url('https://www.moltonbrown.co.uk/images/exclamation-symbol.png');
           background-position: 95% 4px;
           border: 1px solid $mb-error-bg !important;
           background-repeat: no-repeat;    background-size: 4px;
       }
       &.valid {
           background-image: url('https://www.moltonbrown.co.uk/images/tick-symbol.png') !important;
           background-position: 95% 2px;
           background-repeat: no-repeat;
       }
    }
}

.no-uid-error-msg{
    position: absolute;
    bottom: 100%;
    background-color:$mb-error-bg;
    color: $mb-white;
    padding: 10px;
    left: 6%;
    text-align: center;
    span{
      font-size: 14px !important;  
    }
    
    width: 88%;
    z-index: 9;
    &::after{
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border: 0;
        left: 5%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background: $mb-error-bg;
        bottom: -7px;
    }
}
