<div class="container">
  <app-mb-bread-crumb [breadcrumb]="breadcrumb"></app-mb-bread-crumb>
  <div class="category-main" *ngIf="categorybanner">
    <h1 *ngIf="categorybanner.categoryDisplayName">
      {{categorybanner.categoryDisplayName}}
    </h1>
</div>
  <app-categorybanner
    *ngIf="categorybanner"
    [categorybanner]="categorybanner"
  ></app-categorybanner>
</div>

<main class="plp-view_container container">
    <app-sort-type
      [searchPrdId]="searchPrdId"
      [checkList]="checkList"
      (onGridToggle)="onGridClick($event)"
      (clearAll)="onClearAll()"
      (onSortByChange)="sortByChange()"
      (filterby)="onMbFilterByClick()"
      (updateFilterData)="onUpdateFilterData($event)"
      (onShowFilterFacet)="onCheckRefineFacet()"
    >
    </app-sort-type>
 <div class="category-top-bar"   
    *ngIf="activeProducts">
    <div>
        <h2>FILTER BY</h2>
    </div>
    <div>
        <app-pager
        [pagination]="pagination"
        [catalogSpecific]="catalogSpecific"
        [pager]="pager"
        [viewAllProducts]="viewAllProducts"
        (viewAll)="onviewAllClick($event)"
        (onShowFirstPage)="onShowFirstPage($event)"
        (productperPage)="fetchProductperPage($event)"
        (fetchperPage)="fetchProductNextperPage($event)"
      ></app-pager>
    </div>
</div>
    <section *ngIf="!freshRelevanceSpecific; else freshrelevanceblock">
      <div class="row plp-container-grid" *ngIf="activeProducts;else overlayTmpl">
          <div class="plp-container-load-block"     [ngClass]="{ 'overlay-bg-show': !pageLoad, 'overlay-bg-hide': pageLoad }">
              <div class="b2c-title">
               <span class="loading-txt"> loading... </span> 
              </div>
          </div>
        <!-- facet starts -->
        <div
          class="facets col-md-3 left-menu "
          [ngClass]="{
            'container-display-block': catalogSpecific,
            'container-display-none': !catalogSpecific
          }"
        >
          <app-filter
            [openFacet]="openFacet"
            [searchDisplay]="false"
            [facetResponse]="facetResponse"
            [searchPrdId]="searchPrdId"
            [modal]="false"
            (clearParams)="onClearAll()"
            (refetchProducts)="onRefetchProducts($event)"
          >
          </app-filter>
        </div>
        <!-- facet ends -->
        <div
          class="plp-products-container    col-sm-12 "
          *ngIf="activeProducts"
          [ngClass]="{
            'col-md-9': catalogSpecific,
            'col-md-12 no-padding': !catalogSpecific
          }"
        >
          <div class="catalog_plp">
            <app-product
              *ngIf="pagination"
              [categoryResponse]="categoryResponse"
              [activeProducts]="activeProducts"
              [pagedItems]="pagedItems"
              [displayGrid]="displayGrid"
            >
            </app-product>
          </div>
          <div class="page_btm">
            <app-pager
              [pagination]="pagination"
              [pager]="pager"
              [catalogSpecific]="catalogSpecific"
              [viewAllProducts]="viewAllProducts"
              (viewAll)="onviewAllClick($event)"
              (onShowFirstPage)="onShowFirstPage($event)"
              (productperPage)="fetchProductperPage($event)"
              (fetchperPage)="fetchProductNextperPage($event)"
            ></app-pager>
          </div>
        </div>
      </div>
      <ng-template #overlayTmpl>
          <div class="plp-container-load-block  plp-overlay">
              <div class="b2c-title">
                <span class="loading-txt"> loading... </span> 
              </div>
          </div>
      </ng-template>
    </section>
</main>

<!-- modal -->
<ng-template #freshrelevanceblock>
  <div class="freshrelavance-container container">
    <div class="heading">
      <h2 class="content-inline-block">Bestsellers</h2>
      <h2 class="content-inline-block viewAllProducts" *ngIf="categorybanner">
        <a (click)="onViewAllProducts()">
          View All&nbsp;{{ categorybanner.categoryDisplayName }}&nbsp;Products
        </a>
      </h2>
    </div>
    <div #parentCategory>
    </div>
  </div>
</ng-template>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <app-filter
      [facetResponse]="facetResponse"
      [searchPrdId]="searchPrdId"
      [modal]="true"
      (clearParams)="onClearAll()"
      (refetchProducts)="onRefetchProducts($event)"
    >
    </app-filter>
  </div>
</div>
