<div class="paypal">
  <section class="paypal-option">
    <p class="paypal-tc">
      Click the 'Pay with PayPal' button below to place your order and continue
      to PayPal.
    </p>
    <form
      [formGroup]="paypalForm"
      (ngSubmit)="onpaypalTap($event)"
      custom-focus
    >
      <app-mb-terms
        [paypal]="true"
        [formType]="paypalForm"
        (setTerms)="onSetTerms($event)"
        (setPolicyTerms)="onSetPolicyTerms($event)"
      >
      </app-mb-terms>
    </form>
  </section>
</div>
<!-- <div id="paypal-checkout-btn"></div> -->
