@import"../../variable";
.pickmix{
    padding: 0 ;
    position: relative;
    overflow: visible;
    &.pickmix-conatiner {
        width: 964px;
        margin: 15px auto 0;
        text-align: center;
        flex: 1 0 auto;
        -webkit-box-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
   }
    h1{
        font-size: 28px;        
        line-height: 20px;        
        margin-top:55px;
        @media screen and(max-width:768px) {
            font-size:24px;
        }
    }
    h2{
        font-size:18px;
        line-height: 20px;
        margin:10px 0 30px;
    }
    .pickmix-sticky-wrapper{
        position: sticky;
        top:0px;
        z-index: 33;
        li{
            text-transform:uppercase;
        }
    }

.pm-initial-wrapper{
    position: initial !important;
}
.active_bg{
    background-color:#47a1c5 ;
    
}
.continue-container{
    span{
        display: inline-block;
        text-align: center;
        margin: 0 20px;
    }
}
}
.modal-content{
    button{
        text-transform: uppercase;
    }
}


.cta{
    min-width: 160px;
    color: $mb-white;
    background-color: $primary-color;
    border: 0;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
    padding:8px 14px;line-height: 1.33;
    @media screen and(max-width:768px){
        min-width:55% !important;
        font-size: 12px;
    }
}
.disable-btn{
    color: $mb-white;
    background-color: #5a5a5a;
    border: 0;
    opacity: 1;
}
.pm-modal-cta-conatiner{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    button{
        min-width: auto;
        font-size:14px;
    }
}
#pickMixStore{
    @media (min-width: 576px){
   .modal-dialog {
       max-width:395px;
   }
}
    .modal-header{
        background: $edition-color;
        min-height: 16px;
        justify-content: center;
        color: $mb-white;
        padding: 5px;
    }
}
#pickmix-amp-content{
    margin-top:30px;
    padding: 0 12px;
    @media screen and (max-width:768px){
        margin-top:20px;
    }
    .amp-dc-banner .amp-dc-banner-info-wrap.amp-dc-info-bottom{
        position: absolute;
        vertical-align: middle;
    }
    .pick-mix .amp-dc-banner-info{
        padding: 28px 28px 0 0;
        .amp-dc-banner-header, .amp-dc-banner-subheader, .amp-dc-banner-description{
            font-size: 19px;
            line-height: 11px;
            color: $mb-white;
            text-align: right;
            font-family: georgia;
            font-style: italic;    margin-bottom: 19px;
            @media screen and (max-width:768px) {
                color:$primary-color;
            }
        }
    }
}
