<section class="registration_form edit-profile">
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmitForm($event)"
    custom-focus
  >
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_title"
          >Title<span class="redstar">*</span></label
        >
      </div>

 
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <select
            class="mandatory form-control"
            formControlName="titleCode"
            [ngClass]="{
              'has-error  not-valid':
                !registrationForm.controls['titleCode'].valid &&
                registrationForm.get('titleCode').touched
            }"
          >
            <option value="" selected="selected">Please Select</option>
            <option value="miss">Miss</option>
            <option value="mrs">Mrs</option>
            <option value="ms">Ms</option>
            <option value="mr">Mr</option>
            <option value="dr">Dr</option>
          </select>
          <div
            *ngIf="
              !registrationForm.controls['titleCode'].valid &&
              registrationForm.get('titleCode').touched
            "
            class="not-valid-error-msg"
          >
            <span
              [hidden]="!registrationForm.controls['titleCode'].errors.required"
              >{{ "register.titleCode" | translate }}</span
            >
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_firstname"
          >First Name<span class="redstar">*</span></label
        >
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input
            formControlName="firstName"
            type="text"
            autocomplete="off"
            class="mandatory form-control reg_field "
            [ngClass]="{
              'has-error  not-valid':
                !registrationForm.controls['firstName'].valid &&
                registrationForm.get('firstName').touched
            }"
          />
          <div
            *ngIf="
              !registrationForm.controls['firstName'].valid &&
              registrationForm.get('firstName').touched
            "
            class="not-valid-error-msg"
          >
            <span
              [hidden]="!registrationForm.controls['firstName'].errors.required"
            >
              {{ "register.firstName" | translate }}
            </span>
            <span
              *ngIf="
                registrationForm.controls['firstName'].errors.patternInvalid
              "
            >
              {{ "register.firstName" | translate }}
            </span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_lastname"
          >Last Name<span class="redstar">*</span></label
        >
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input
            type="text"
            formControlName="lastName"
            autocomplete="off"
            class="mandatory form-control reg_field "
            [ngClass]="{
              'has-error  not-valid':
                !registrationForm.controls['lastName'].valid &&
                registrationForm.get('lastName').touched
            }"
          />
          <div
            *ngIf="
              !registrationForm.controls['lastName'].valid &&
              registrationForm.get('lastName').touched
            "
            class="not-valid-error-msg"
          >
            <span
              [hidden]="!registrationForm.controls['lastName'].errors.required"
            >
              {{ "register.lastName" | translate }}
            </span>
            <span
              *ngIf="
                registrationForm.controls['lastName'].errors.patternInvalid
              "
            >
              {{ "register.lastName" | translate }}
            </span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_email"
          >Email<span class="redstar">*</span></label
        >
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input
            type="email"
            formControlName="uid"
            autocomplete="off"
            autocomplete="off"
            class="mandatory form-control reg_field"
           />
          <!-- <div
            *ngIf="
              !registrationForm.controls['uid'].valid &&
              registrationForm.get('uid').touched
            "
            class="not-valid-error-msg"
          >
            <span
              [hidden]="!registrationForm.controls['uid'].errors.required"
              >{{ "register.uid" | translate }}</span
            >
            <span
              [hidden]="!registrationForm.controls['uid'].errors.patternInvalid"
              >{{ "register.invalidEmailAddress" | translate }}</span
            >
          </div> -->
        </span>
      </div>
    </div>

    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_country"
          >Country<span class="redstar">*</span></label
        >
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <select
            class="mandatory form-control"
            formControlName="country"
            (change)="onChangeCountry($event)"
            [ngClass]="{
              'has-error  not-valid':
                !registrationForm.controls['country'].valid &&
                registrationForm.get('country').touched
            }"
          >
            <option value="" selected="selected">Choose Country*</option>
            <option
              *ngFor="let data of countries; let k = index"
              [ngValue]="data"
              >{{ data.name }}</option
            >
          </select>
          <div
            *ngIf="
              !registrationForm.controls['country'].valid &&
              registrationForm.get('country').touched
            "
            class="not-valid-error-msg"
          >
            <span
              [hidden]="!registrationForm.controls['country'].errors.required"
            >
              {{ "register.country" | translate }}</span
            >
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row" *ngIf="loadGMscript">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_postcode"
          >Postcode/Zipcode<span class="redstar">*</span></label
        >
      </div>
      <div class="col-sm-12 col-md-8 text-left">
        <span class="login_fields">
          <input
            #myInput
            (onSelect)="setAddress($event)"
            type="text"
            (keyup)="onSearchKeyUp($event)"
            class="mandatory form-control "
            formControlName="postalCode"
            googlePlaces
            maxlength="10"
            [ngClass]="{
              'has-error  not-valid':
                (!registrationForm.controls['postalCode'].valid &&
                  registrationForm.get('postalCode').touched),
              'not-valid-postcode': !postCodeStatus
            }"
          />
          <span class="postcode-status" *ngIf="!postCodeStatus">Please enter a valid postcode or enter the address manually.</span>
          <div
            *ngIf="
              !registrationForm.controls['postalCode'].valid &&
              registrationForm.get('postalCode').touched
            "
            class="not-valid-error-msg"
          >
        
          <span
          [hidden]="
            !registrationForm.controls['postalCode'].errors.patternInvalid
          "
        >Please enter a valid postcode</span>
            <span
              [hidden]="
                !registrationForm.controls['postalCode'].errors?.required
              "
            >
              {{ "register.postCode" | translate }}</span
            >
          </div>
          <div class="postcode-msg-block">
            <span>Please enter a valid postcode or enter the address manually.</span>
          </div>
        </span>
        <span class="ml-8 find-address" *ngIf="ukLoopBtnStatus">
          <button class="buttonStyle mt-1" (click)="onLookupAddress($event)">
            Lookup Address
          </button>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row " *ngIf="postalAddresses">
      <div class="col-sm-12 col-md-4  ">
        <label class="register_label "
          >Select Address<span class="redstar">*</span></label
        >
      </div>

      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <select
            class="mandatory form-control"
            formControlName="address"
            (change)="onSelectPlace($event.target.value)"
          >
            <option value="" selected>Select an Address</option>
            <option
              *ngFor="let data of postalAddresses; let k = index"
              [value]="data.Id"
              >{{ data.StreetAddress }}, &nbsp;{{ data.Place }}</option
            >
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label" for="reg_address"
          >Address<span class="redstar">*</span></label
        >
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input
            type="text"
            formControlName="line1"
            class="mandatory form-control reg_field "
            [ngClass]="{
              'has-error  not-valid':
                !registrationForm.controls['line1'].valid &&
                registrationForm.get('line1').touched
            }"
          />
          <div
            *ngIf="
              !registrationForm.controls['line1'].valid &&
              registrationForm.get('line1').touched
            "
            class="not-valid-error-msg"
          >
            <span
              [hidden]="!registrationForm.controls['line1'].errors.required"
            >
              {{ "register.line1" | translate }}</span
            >
          </div>
          <input
            type="text"
            class="mandatory"
            formControlName="line2"
            style="margin-top:15px;"
          />
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " 
          >Town/City<span class="redstar">*</span></label
        >
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input
            type="text"
            formControlName="town"
            class="mandatory form-control reg_field"
            [ngClass]="{
              'has-error  not-valid':
                !registrationForm.controls['town'].valid &&
                registrationForm.get('town').touched
            }"
          />
          <div
            *ngIf="
              !registrationForm.controls['town'].valid &&
              registrationForm.get('town').touched
            "
            class="not-valid-error-msg"
          >
            <span [hidden]="!registrationForm.controls['town'].errors.required">
              {{ "register.town" | translate }}</span
            >
          </div>
        </span>
      </div>
    </div>

    <div class="col-xs-12 row" *ngIf="!usSpecificForm; else usStates">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label" 
          >{{ "form.label.state" | translate }}
          </label
        >
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input 
                placeholder="County (optional)"
                type="text" 
                formControlName="district"  
            />

        </span>
      </div>
    </div>
    <ng-template #usStates>
      <div class="col-xs-12 row">
        <div class="col-sm-12 col-md-4 ">
          <label class="register_label " >{{ "form.label.state" | translate }}
            <span class="redstar" >*</span>
          </label>
        </div>
        <div class="col-sm-12 col-md-8 text-left ">
          <span class="login_fields">
            <select
              *ngIf="stateList"
              class="mandatory form-control"
              formControlName="district"
            >
              <option value=""  selected>Choose State *</option>
              <option
                *ngFor="let data of stateList; let k = index"
                [ngValue]="data"
                >{{ data.name }}</option
              >
            </select>
            <input
              *ngIf="!stateList"
              autocorrect="off"
              formControlName="district"
              placeholder="State"
              type="text"
              class="form-control  mandatory"
              autocapitalize="on"
              [ngClass]="{
                'has-error not-valid':
                  !registrationForm.get('district').valid &&
                  registrationForm.get('district').touched
              }"
            />

            <div
            *ngIf="
              !registrationForm.controls['district'].valid &&
              registrationForm.get('district').touched
            "
            class="not-valid-error-msg"
          >
            <span [hidden]="!registrationForm.controls['district'].errors.required">
              {{ "register.district" | translate }}</span
            >
          </div>
          </span>
        </div>
      </div>
    </ng-template>

    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " 
          >Phone Number<span class="redstar">*</span></label
        >
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields regPhone">
          <a
            class="contextual-help"
            show-delay="100"
          ></a>

          <input
            type="text"
            formControlName="phone"
            class="form-control  mandatory"
            [ngClass]="{
              'has-error not-valid':
                (!registrationForm.get('phone').valid &&
                  registrationForm.get('phone').touched) ||
                registrationFormInvalid
            }"
          />
          <a
            class="registrationForm contextual-help"
            show-delay="500" ngbTooltip="{{'register.phonenumberInfo'|translate}}" placement="right" 
          ></a>
          <div
            *ngIf="
              (!registrationForm.controls['phone'].valid &&
                registrationForm.get('phone').touched) ||
              (isValidFormSubmitted != null && !isValidFormSubmitted)
            "
            class="not-valid-error-msg"
          >
            <span *ngIf="registrationForm.controls['phone'].errors.required"
              >What's your contact telephone number?</span
            >
            <span
              *ngIf="registrationForm.controls['phone'].errors.patternInvalid"
            >
              This telephone number doesn't look right. It must be between 10
              and 14 characters.
            </span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_title">Age Group</label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <select class="mandatory" formControlName="agegroup">
            <option value="" selected>Please select</option>
            <option value="16-18">16-18</option>
            <option value="19-25">19-25</option>
            <option value="26-45">26-45</option>
            <option value="46-60">46-60</option>
            <option value="Over 60">Over 60</option>
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <p class="col-sm-12 col-md-4 text-right">
        <label class="register_label "> Gender</label>
      </p>
      <p class="col-sm-12 col-md-8 text-left genderAlign">
        <input
          id="gender_female"
          type="radio"
          value="FEMALE"
          class="pull-left"
          formControlName="gender"
        />
        <span class="pull-left gender">Female</span>
        <input
          id="gender_male"
          type="radio"
          value="MALE"
          class="pull-left"
          formControlName="gender"
        />
        <span class="pull-left gender">Male</span>
      </p>
    </div>
    <div class="col-xs-12 expressCheckoutOptions">
      <p>Express checkout options</p>
    </div>
    <div class="col-xs-12 row">
      <p class="col-sm-4">
        <label>Default Shipping Method</label>
      </p>
      <p class="col-sm-8 text-left">
        <span class="select_field">
          <select class="shipping_select" formControlName="dlMode">
            <option value="" selected="selected">Select Default Shipping</option>
            <option *ngFor="let dl of dlModes" [ngValue]="dl">
              {{
                dl.description
                  ? dl.description
                  : dl.serviceName
                  ? "From  " + dl.serviceName
                  : ""
              }}
            </option>
          </select>
        </span>
      </p>
    </div>
    <div
      class="text-left sbmt-block"
    >
      <!-- <button class="buttonStyle" (click)="onUpdate()">Cancel</button> -->
      <button class="buttonStyle" type="submit">Submit</button>
    </div>
  </form>
</section>
