<div class="dt-delivery-details" style="position: relative;">
  <div class="user-delivery-details" *ngIf="shippingInfo">
    <div
      class="user-delivery-method user-delivery-bg  clearfix"
      *ngIf="!euSpecific"
    >
      <i class="icon-uk-std-dt icon-bg-block"></i>
      <div class="delivery-method" >{{ 
        (!ukspecific)?
        (shippingInfo.deliveryType)?shippingInfo.deliveryType:'Ship To An Address'
        : (shippingInfo.deliveryType)?shippingInfo.deliveryType:'UK & International delivery'  
         }}</div>
      <div class="edit-details">
        <a
          (click)="onEditDeliveryType('delivery')"
          class="edit-delivery-details"
        >Edit this</a>
        <i class="icon-valid-white icon-bg-block"></i>
      </div>
    </div>

    <div class=" user-delivery-bg  clearfix"  *ngIf="shippingInfo.customerAddress">
      <div class="addressLine">
        <i class="icon-home icon-bg-block"></i>
        <div class="delivery-customer-info">
          <div class="customer-dt">
            
            {{
              shippingInfo.customerAddress.titleCode
                ? shippingInfo.customerAddress.titleCode
                : ""
            }}
            {{
              shippingInfo.customerAddress.firstName
                ? shippingInfo.customerAddress.firstName
                : ""
            }}
            {{
              shippingInfo.customerAddress.lastName
                ? shippingInfo.customerAddress.lastName + ","
                : ""
            }}
            {{
              shippingInfo.customerAddress.line1
                ? shippingInfo.customerAddress.line1 + ","
                : ""
            }}
            {{
              shippingInfo.customerAddress.line2
                ? shippingInfo.customerAddress.line2 + ","
                : ""
            }}
            {{
              shippingInfo.customerAddress.town
                ? shippingInfo.customerAddress.town + ","
                : ""
            }}
            {{
              shippingInfo.customerAddress.district
                ? shippingInfo.customerAddress.district + ","
                : ""
            }}
            {{
              shippingInfo.customerAddress.postalCode
                ? shippingInfo.customerAddress.postalCode + ","
                : ""
            }}
            {{
              shippingInfo.customerAddress.country.name
                ? shippingInfo.customerAddress.country.name
                : ""
            }}&nbsp;
          </div>
        </div>
        <div class="edit-details" *ngIf="!shippingInfo.customerAddress.phone">
          <a
            (click)="onEditDeliveryType('profile')"
            class="edit-delivery-details"
            >Edit this</a>
          <i class="icon-valid-white icon-bg-block"></i>
        </div>
      </div>
      <div
        class="mt-25 deliverPhoneNumber"
        *ngIf="shippingInfo.customerAddress.phone"
      >
        <i class="icon-telephone icon-bg-block"></i>
        <div class="delivery-method">
          {{ shippingInfo.customerAddress.phone }}
        </div>
        <div class="edit-details">
          <a
            (click)="onEditDeliveryType('profile')"
            class="edit-delivery-details"
            >Edit this</a>
          <i class="icon-valid-white icon-bg-block"></i>
        </div>
      </div>
    </div>

    <div class="pt-10 clearfix" *ngIf="shippingInfo.payType">
      <i
        class=" icon-bg-block"
        [ngClass]="{
          'icon-international-sml': getIntcon(shippingInfo.payType),
          'icon-uk-std-dt': getStdIcon(shippingInfo.payType),
          'icon-calendar-sml': shippingInfo.payType.date
        }"
      >
      </i>
      <div
        class="delivery-method delivery-type"
        *ngIf="!shippingInfo.payType.date; else namedDay"
      >
        <span
          >{{
            shippingInfo.payType.description
              ? shippingInfo.payType.description
              : shippingInfo.payType.zoneName
          }}&nbsp;</span
        >
        <span *ngIf="shippingInfo.payType.serviceName"
          >&#40;{{ shippingInfo.payType.serviceName }}&#41;</span
        >
        <span *ngIf="shippingInfo.payType.deliveryCost">
          {{
            shippingInfo.payType.deliveryCost
              ? shippingInfo.payType.deliveryCost.formattedValue
                ? shippingInfo.payType.deliveryCost.formattedValue
                : shippingInfo.payType.deliveryCost
              : ""
          }}
        </span>
      </div>
      <ng-template #namedDay>
        <div class="delivery-method delivery-type">
          <span *ngIf="shippingInfo.payType.serviceName"
            >{{ shippingInfo.payType.serviceName }}&nbsp;</span
          >
          <span *ngIf="shippingInfo.payType.date"
            >-&nbsp;{{ shippingInfo.payType.date }}&nbsp;</span
          >
          <span *ngIf="shippingInfo.payType.deliveryCost">
            {{
              shippingInfo.payType.deliveryCost
                ? shippingInfo.payType.deliveryCost.formattedValue
                  ? shippingInfo.payType.deliveryCost.formattedValue
                  : shippingInfo.payType.deliveryCost
                : ""
            }}
          </span>
        </div>
      </ng-template>
      <div class="edit-details">
        <a (click)="onEditDeliveryServiceType()" class="edit-delivery-details">
          Edit this</a>
        <i class="icon-valid-white icon-bg-block"></i>
      </div>
    </div>
    <!-- {{shippingInfo.payType|json}} -->
  </div>

  <section class="panel-body dl-service-methods" *ngIf="serviceBody" [ngClass]="{'dl-service-height':serviceLoad}">
      <div class="dl-overlay"  [ngClass]="{'dl-overlay-show':serviceLoad,'dl-overlay-hide':!serviceLoad}">
          <div class="b2c-title">
              <span class="loading-txt"> loading... </span> 
             </div>
      </div>
    <div class="dl-service" [ngClass]="{ delivery_service: payselect }">
      <h2>
        Your delivery service
      </h2>
      <div class="dl-service-py-table">
        <div
          *ngIf="outstation; else localDelivery"
          class="dl-service-py-table-cell"
        >
          <div class="choose-service-block">
            <div
              class="dt-outstaion "
              *ngFor="let oustation of outstationDelivery"
            >
              <div class="mb-dt-selected">
                <i class="icon-dt-international">
                  <img
                    src="{{
                      euSpecific
                        ? 'assets/imgs/StandardDelivery.png'
                        : 'assets/imgs/InternationalDelivery.png'
                    }}"
                  />
                </i>
                <h5>
                  <span *ngIf="oustation.description">
                    {{
                      oustation.description
                        ? oustation.description
                        : "International Delivery"
                    }}
                  </span>
                  <span class="delivery-country">
                    <span *ngIf="euSpecific">
                      {{ oustation.zoneName }} </span
                    >&nbsp;
                    {{ oustation.countryName }}
                  </span>
                </h5>
                <h5 class="outstation-dt-price">
                  {{ oustation.deliveryCost }}
                </h5>
              </div>
              <div class="service-block mt-15">
                <button   (click)="outstationDt($event, oustation)"  class=" btn-continue-payment pull-right" >
                      <span class="icon-padlock"></span>CONTINUE TO PAYMENT
                 </button>
                <h5 class="order-delivery-date" >
                  Your order will arrive within {{ oustation.serviceName }}.
                </h5>
         
              </div>
            </div>
          </div>
        </div>
        <ng-template #localDelivery>
          <span
            *ngFor="let data of deliveryPayments; let k = index"
            class="dl-service-py-table-cell"
          >
            <a
              class="mb-payment-type mb-type-delevery"
              [ngClass]="{
                'mb-dt-selected': data.active,
                disabled: data.disabled =='disable'
              }"
              (click)="onDeleveryType($event, data, k)"
            >
              <i class="mb-icon-dt-uk"> <img [src]="getImgIcon(data)"/></i>

              <h5 class="mb-dt-header mb-dt-margin">
                {{ data.name ? data.name : data.description }}
              </h5>
              <p class="mb-dt-price mb-dt-margin">
                {{
                  data.deliveryCost
                    ? data.deliveryCost.formattedValue
                      ? data.deliveryCost.formattedValue
                      : data.deliveryCost
                    : ""
                }}
              </p>
            </a>
            <div
              class="service-block mt-15 dl-py-method"
              *ngIf="
                data.active &&
                deliveryTypeselected != 'UK-next-day-named-day-or-Saturday'
              "
            >
            <button   (click)="onSecureDlPaymentCheck($event, data, k)"  class="btn-continue-payment pull-right" >
              <span class="icon-padlock"></span>CONTINUE TO PAYMENT
            </button>
              <h5 class="order-delivery-date" style="font-size:14px;">
                Your order will arrive within
                {{ data.serviceName ? data.serviceName : "3-4 day " }}.
              </h5>
              
            </div>
          </span>
        </ng-template>
      </div>
    </div>

    <section
      class="card-body1 named-day-section"
      *ngIf="deliveryTypeselected == 'UK-next-day-named-day-or-Saturday'"
    >
      <div class="named-day-delivery clearfix delivery-service-method "   [ngClass]="{'named-day-block':nameDayLoad}"     
      >
      <div class="dl-overlay"  [ngClass]="{'dl-overlay-show':nameDayLoad,'dl-overlay-hide':!nameDayLoad}">
          <div class="b2c-title">
              <span class="loading-txt"> loading... </span> 
            </div>
      </div>
        <div class="choose-delivery-day clearfix" *ngIf="shippingServices">
          <h4>Choose a delivery date</h4>
          <h4 class="ukstd">
            Some locations may take 2 days.
            <a
              (click)="onOpenCartModal()"
              data-toggle="modal"
              data-target="#modalCheckoutPopup"
              >Find out more{{ namedDayId }}</a
            >
          </h4>
          <div
            class="named-day-delivery-available"
            *ngFor="let data of shippingServices; let i = index"
          >
            <button
              class="available-day-row "
              (click)="onSelectNameDay($event,data, i)"
              [ngClass]="{ 
                'active-day': data.active,
                'avail-day':data.serviceName != 'Unavailable' 
              }"
              [disabled]="data.serviceName == 'Unavailable'"
            >
              <div class="named-day delivery-day">{{ data.date }}</div>
              <div class="delivery-day-type named-day">
                {{ data.serviceName }}
              </div>
              <div class="delivery-day-price named-day">
                {{ data.deliveryCost }}
              </div>
            </button>
          </div>

          <div class="service-block mt-15" *ngIf="namedDay">
              <button   (click)="onSecureCheck()"  class="btn-continue-payment pull-right" >
                  <span class="icon-padlock"></span>CONTINUE TO PAYMENT
                </button>
            <h5 class="order-delivery-date" style="font-size:14px;">
              Your order will arrive on {{ namedDay.date }}.
            </h5>
           
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
