<div class="clearfix">
  <section class="basket-section" *ngIf="cart; else noentryBlock">
    <div class="basket-heading" *ngIf="cart.totalItems !=0; else noItemBlock">
      <div class="rowComponents">
        <h1 class="col-md-5" *ngIf="localData">{{localData.yourShoppingBasket}}</h1>
        <div class="col-sm-12 col-lg-3 centerContinueAlign" *ngIf="cart.totalItems !=0;" >
          <a class="continue-shopping" (click)="onContinueShoppingEvent()"  *ngIf="localData">
            <span> </span> &nbsp;{{ localData.continueShopping}}</a>
        </div>
        <div class="express-check-out"  *ngIf="cart.totalItems !=0;">
          <button   class="pull-right clearfix btn-shop-action" (click)="onSecureCheckout()" *ngIf="localData">
            <span></span>{{ localData.secureCheckout}}
          </button>

        </div>
      </div>
      <div class="oss-entry-block" *ngIf="outStockEntries">
        <li *ngFor="let osBottle of  outStockEntries">
          <span class="redstar" *ngIf="!osBottle.isBundle">{{osBottle.product.productDisplayName}} is out of stock.
            Please remove to continue.</span>
          <span class="redstar" *ngIf="osBottle.isBundle">{{getBundleContent(osBottle)}} is out of stock. Please remove
            to continue.</span>
        </li>

      </div>
      <div *ngIf="cart.appliedOrderPromotions">
        <div class="upsell-message" *ngFor="let pm of cart.appliedOrderPromotions">
          <p>{{ pm["description"] }}</p>
        </div>
      </div>
      <div *ngIf="cart.appliedProductPromotions">
        <div class="upsell-message" *ngFor="let apm of cart.appliedProductPromotions">
          <p>{{ apm["description"] }}</p>
        </div>
      </div>
      <div *ngIf="cart.potentialOrderPromotions">
        <div class="upsell-message" *ngFor="let potentialOrder of cart.potentialOrderPromotions">
          <p>{{ potentialOrder["description"] }}</p>
        </div>
      </div>
      <!-- <div *ngIf="cart.appliedVouchers">
        <div class="upsell-message" *ngFor="let av of cart.appliedVouchers">
          <p style="line-height: 1;">{{ av["description"] }}</p>
        </div>
      </div> -->
      <div *ngIf="cart"  class="order-subtotal" >
        <span> Subtotal </span>
        <span id="order_subtotal" *ngIf="cart.subTotal"  >
          {{(cart.totalItems != 0) ?cart.subTotal.formattedValue :'' }}</span>
      </div>
      <div class="orders-container clearfix" *ngIf="cart.entries">
        <app-loading *ngIf="refreshBasket"></app-loading>
        <div class="order-header" *ngIf="localData">
          <div>{{ localData.product }}</div>
          <div>{{ localData.qty }}</div>
          <div>{{ localData.price }}</div>
          <div>{{ localData.total}}</div>
        </div>

        <div class="order-product-entry" *ngFor="let entry of cart.entries; let i = index"
          [hidden]="entry.product.isSample">
          <div class="order-product-img">
            <a   routerLink="{{getRouterPath(entry)}}" routerLinkActive="active" (click)="onShowProductDtls($event,entry.product)" *ngIf="!entry.isBundle; else bundleTypeImage">
              <picture>
                <source
                  srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$smallImg$&amp;fmt=webp"
                  type="image/webp">
                <source
                  srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$smallImg$&amp;fmt=jpg"
                  type="image/jpeg">
                <img src="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$smallImg$&amp;fmt=jpg">
              </picture>
            </a>
            <ng-template #bundleTypeImage>
              <picture>
                <source [srcset]="getPixMixImage(entry['product'][0])" type="image/webp">
                <source [srcset]="getPixMixImageJpg(entry['product'][0])" type="image/jpeg">
                <img [src]="getPixMixImageJpg(entry['product'][0])">
              </picture>
            </ng-template>
          </div>
          <div class="order-product">
            <div class="order-product-info">
              <div class="order-product-info-img">
                <picture *ngIf="!entry.isBundle; else bundleTypeImage">
                  <source
                    srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$smallImg$&amp;fmt=webp"
                    type="image/webp">
                  <source
                    srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$smallImg$&amp;fmt=jpg"
                    type="image/jpeg">
                  <img
                    src="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$smallImg$&amp;fmt=jpg">
                </picture>
                <ng-template #bundleTypeImage>
                  <picture>
                    <source [srcset]="getPixMixImage(entry['product'][0])" type="image/webp">
                    <source [srcset]="getPixMixImageJpg(entry['product'][0])" type="image/jpeg">
                    <img [src]="getPixMixImageJpg(entry['product'][0])">
                  </picture>
                </ng-template>
              </div>


              <span class="order-product-name">
                <a  routerLink="{{getRouterPath(entry)}}" routerLinkActive="active" (click)="onShowProductDtls($event,entry.product)" *ngIf="!entry.isBundle; else bundleType">
                  {{ entry.product.productDisplayName }}
                </a>
                <ng-template #bundleType>
                  <div *ngIf="entry.bundleTemplateId">
                    <span class="order-product-name">
                      <a> {{ getBundleContent(entry) }}</a>
                    </span>
                  </div>
                  <a  routerLink="{{getRouterPath(entry)}}" routerLinkActive="active" (click)="onShowProductDtls($event,bottle[j])" *ngFor="let bottle of entry['product']; let j = index">
                    <ul class="bundle-list" *ngIf="!bottle.product.isSample">
                      <li>
                        <span>{{getBundleProductQuntity(entry,bottle)}}&nbsp;&#10005;&nbsp;</span>
                        {{ bottle.product.productDisplayName }}
                      </li>
                    </ul>
                  </a>
                  <ul class="bundle-list" *ngIf="entry['product'][0]['isTravelPouchSelected']">
                    <li>
                      <span>1&nbsp;&#10005;&nbsp;</span>
                      Travel Pouch
                    </li>
                  </ul>
                </ng-template>
              </span>
              <div *ngIf="!entry.isBundle;else stockLevel">
                <span *ngIf="entry.product.stock">
                  <span class="order-instock" *ngIf="entry.product.stock.stockLevelStatus =='inStock' "> In Stock
                  </span>
                  <span class="out-of-instock" *ngIf="entry.product.stock.stockLevelStatus !='inStock' "> Out Of Stock
                  </span>
                </span>
              </div>
              <ng-template #stockLevel>
                <div *ngIf="entry.stock">
                  <span class="order-instock" *ngIf="entry.stock.stockLevelStatus =='inStock' "> In Stock </span>
                  <span class="out-of-instock" *ngIf="entry.stock.stockLevelStatus !='inStock' "> Out Of Stock </span>
                </div>
              </ng-template>
            </div>

            <div class="quantity-update">
              <div class="input-group">
                <span class="minus"><input type="button" class="minus_update" value="-"
                    (click)="onDecreaseCount(entry, i)" /></span>

                <span class="quantity">
                  {{entry.quantity}}
                </span>
                <span class="plus"><input type="button" class="plus_update" value="+"
                    (click)="onAddItem(entry, i)" /></span>
              </div>
              <div class="input-group2">
                <span>QTY &nbsp;</span>
                <select class="select-quantity" (change)="onChangeQuant($event,entry)" [value]="entry.quantity">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <div class="table-splice-item">
                <a class="remove-item" *ngIf="localData" (click)="onDeleteEntry(entry)">{{
                  localData.remove
                }}</a>
              </div>
            </div>
            <div class="product-price clearfix">
              <span *ngIf="entry.isBundle" [innerHtml]="getBundlePrice(entry)"></span>
              <span class="clearfix " *ngIf="!entry.isBundle" [innerHtml]="getProdPrice(entry)"></span>
            </div>
            <div class="product-total price-format" name="totalPrice">
              <span *ngIf="entry.isBundle" [innerHtml]="getBundleTotalPrice(entry)"></span>
              <span *ngIf="!entry.isBundle" [innerHtml]="getTotalPrice(entry)"></span>
            </div>
            &nbsp;
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <form 
         [formGroup]="basketForm" 
         (ngSubmit)="applyPromoCode($event)" 
         *ngIf="cart.totalItems != 0"   
         class="registration_form" 
         custom-focus>
        <div 
           class="clearfix" 
           *ngIf="cart.totalDiscounts">
          <div 
             class="discount_fields  clearfix" 
             *ngIf="cart.totalDiscounts.value !=0">
            <div class="order-discount-block">
              <span>Discount</span>
              <span id="order_discount" class="price-format">
                {{ cart.totalDiscounts.formattedValue }}</span>
            </div>
          </div>
        </div>
        <div class="login_fields basketContainerApplyTotal clearfix">
          <div class=" mobilePromoCode">
            <div class="apply-promo-box" *ngIf="!promocodeSuccess;else removePromocode">
              <input 
                 placeholder="{{ 'enterPromoCode' | translate }}" 
                 type="text" 
                 formControlName="promoCode"
                 class="mandatory form-control reg_field promo-code-inpt" 
                 (focus)="onFocusPromoCode()" 
                 [ngClass]="{
                    'has-error  not-valid':
                      !basketForm.controls['promoCode'].valid &&
                      basketForm.get('promoCode').touched,
                    'invalid-promocode': isPromoCodeError
                  }" 
                />
               <span class="promo-succes-msg" *ngIf="promocodeSuccess">
                {{promoSuccesMsg}}
              </span>
              <span class="promo-code-error-msg" *ngIf="isPromoCodeError">
                That code doesn't look familiar. Please check and try again.
              </span>
              <div *ngIf="!basketForm.controls['promoCode'].valid &&
                basketForm.get('promoCode').touched" class="not-valid-error-msg">
                <span *ngIf="localData" [hidden]="!basketForm.controls['promoCode'].errors.required">
                  {{ localData.enterPromoCode}}
                </span>
              </div>
              <div>
                <input type="submit" class="btn btn-default apply-promo" value="{{ 'apply' | translate }}" />
              </div>
            </div>
            <ng-template #removePromocode>
              <span class="promo-succes-msg" *ngIf="promocodeSuccess" [innerHtml]="promoSuccesMsg">
              </span>
              <div>
                <input type="submit" class="btn btn-default apply-promo " value="remove" />
              </div>
            </ng-template>
          </div>
          <div class="order-subtotal-block" *ngIf="localData">
            <span>{{localData.subTotal}}</span>
            <span   id="order_subtotal" class="price-format" *ngIf="cart.subTotal" >
              {{ cart.subTotal.formattedValue }}
            </span>
          </div>
        </div>
      </form>
    </div>
    
    <ng-template #noItemBlock>
      <section>
        <div class="empty_basket">
          <div class="basket-heading" *ngIf="localData">
            <h1>{{ localData.yourBasketEmpty}}</h1>
            <p class="start-shopping-link">
              <a (click)="onContinueShoppingEvent()">{{localData.startShopping}} <span></span></a>
            </p>
          </div>
        </div>
      </section>
    </ng-template>
  </section>





  <ng-template #noentryBlock>
    <section>
      <div class="empty_basket">
        <div class="basket-heading" *ngIf="localData">
          <h1>{{ localData.yourBasketEmpty}}</h1>
          <p class="start-shopping-link">
            <a (click)="onContinueShoppingEvent()">{{localData.startShopping}} <span></span></a>
          </p>
        </div>
      </div>
    </section>
  </ng-template>



  <div class="rowComponents treat-align justify-content-between">
    <section class="edit-hole-section">
      <section id="Checkout-Banners">
        <img
          src="https://www.moltonbrown.co.uk/MBPromoImages/CheckoutGraphics/310119-Basket-Promo-Banner_UK_Desktop_Higher.jpg"
          alt="Complimentary Luxury Travel Set. SHOP NOW" />
      </section>
    </section>

    <section class="treat-section ">
      <div class="pdp-realtedprduct-container" style="margin:0;" #lastMinutTreats>
      </div>
    </section>
  </div>


  <div class="rowComponents treat-align  justify-content-between ">
    <section class="treat-section hideBlock basketpageTreat">
      <div class="pdp-realtedprduct-container" style="margin:0;" #customeAlsoBought>
      </div>
    </section>
    <section class="delivery-option-block">
      <app-delivery-options></app-delivery-options>
    </section>
  </div>

  <div class="basket-footer-container" *ngIf="localData">
    <div class="text-uppercase security-label" style="opacity: 1;">
      {{ localData.securityGauranteed}}
    </div>
    <div class="rowComponents">
      <div class="payment-gateway-icons" style="opacity: 1;">
        <span class="norton-secure "></span>
        <span class="visa-secure "></span>
        <span class="master-card"></span>
        <span class="american-express "></span>
        <span class="vpay-secure"></span>
        <span class="paypal-secure"></span>
        <span class="mb-secure"></span>
      </div>
      <div class="express-check-out " *ngIf="cart">
        <div class="pull-right" *ngIf="cart.totalItems != 0">
          <button type="button" class="btn-shop-action" (click)="onSecureCheckout()"
            style="opacity: 1;"><span></span>{{ localData.secureCheckout}}</button>
        </div>
      </div>
    </div>
  </div>

</div>