@import "./../../../../../variable";

agm-map {
    height: 450px;
  }
  .gm-style {
    .gm-style-iw-c{
    padding:0;

  }
  }
 
  .mb-map-window-view {
    right: 10px;
    top: 10px;
    width: 260px;
    max-width: 260px;
    padding: 15px;
    background-color: $mb-white;
    border: 1px solid $light-grey;
  
    font-size: 12px;
    .btn-close {
      width: 30px;
      height: 24px;
      border: 0;
      position: absolute;
      top: 0px;
      right: 0px;
      opacity: 1;
      text-transform: lowercase;
      color: white;
      z-index: 1;
      font-size: 14px;
      font-weight: normal;
      span{
        font-size: 21px;
      }
  }
  h4 {
    background-color: $edition-color;
    color: $mb-white;
    font-size: 14px;
    margin: -15px -15px 15px;
    padding: 10px 10px 6px;
    text-align: center;
    font-family: $font-century-bold;
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 0;
      margin-left: -10px;
      border: 9px solid transparent;
      border-right-color: $edition-color;
      position: absolute;
      left: -8px;
      top: 6px;
  }
  h5 {
    font-size: 14px;
    margin: 0 0 5px;
    font-weight: bold;
}
 .store-timings {
  margin-bottom: 5px;
  
   
  
   span {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
}
}
}
.store-timings li{
list-style: none !important;}

.cc-store-choose{
  margin-top:5px;
  .btnChooseStore {
  height: auto !important;
  margin: auto !important;
  width: 90% !important;
  display: block !important;
}
} 
.store-timings{
  li{
    margin:5px;
    span.day{
      text-transform: capitalize;

    }
    span.rightTime{
      float: right;
    }
  } 
}
