<div class="my-account">
       <h2>Favourites</h2>
       <p>
              To save you time when shopping, simply add the items you buy regularly to your favorites list.
               You can then add these items to your basket without having to search for them again.
       </p>
       <div class="favourite" *ngIf="favouriteList;else noFavourites">
              <h3 class="customer">My Favourites</h3>
              <div class="text-center col-sm-3 pull-left favourite_product" *ngFor="let product of favouriteList">
                     <div (click)="onShowProduct($event,product)">
                     <a routerLink="{{getRouterPath(product)}}" routerLinkActive="active">
                <picture>
                                <source srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{product.code}}_uk_set?$smallImg$&amp;fmt=webp" type="image/webp">
                                <source srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{product.code}}_uk_set?$smallImg$&amp;fmt=jpg" type="image/jpeg">
                                <img src="//media.moltonbrown.co.uk/s/moltonbrown/{{product.code}}_uk_set?$smallImg$&amp;fmt=jpg">
                </picture>
                     </a>
                     <p class="imgText"><a [innerHtml]="product.productDisplayName"></a></p>
                     <p></p>
                     <div class="pricePoint">
                            <span class="pricePoint-price" *ngIf="!product.originalPrice">{{
                              product.price ? product.price.formattedValue : "loading"
                            }}</span>
                            <span class="pricePoint-discount" *ngIf="product.originalPrice">
                              <del class="pricePoint-old-price">{{
                                product.originalPrice
                              }}</del>
                              &nbsp;
                              <span class="ds-price">{{
                                product.price ? product.price.formattedValue : "loading"
                              }}</span>
                            </span>
                          </div>
                     </div>
                     <div *ngIf="product.stock ;else outOfStock">
                       <span *ngIf="product.price" >
                          <button 
                                class="addToCartBtn"  
                                *ngIf="product.stock.stockLevelStatus !='outOfStock' ;else outOfStock" 
                                (click)="addToBasket(product)"
                                > 
                                Add to Basket 
                                <span></span>
                            </button>
                          </span>
                     </div>
                     <ng-template #outOfStock>
                        <span class="product_avial">
                                Out of stock
                        </span>  
                     </ng-template>
                     <a class="removeProduct" (click)="removeFromWhislist(product)">Remove This Product</a>
               </div>
       </div> 
       <ng-template #noFavourites>
         <p class="no_favrites">No favourites selected</p>
       </ng-template>
</div>             