@import "../../../variable";

.sticky-wrapper{
    position: relative;
}

    .pickmix-category-container{
      display: inline-block;
      width:100%;
    }
    .pickmix-sticky-body {
       position: sticky;
       top:29px;
       z-index: 33;
    }
    .pickMix-aside{
        width:100%;
        @media (max-width:$screen-sm){
            width:100%;
        }
        &.category-wrapper {
            position: -webkit-sticky;
            position: sticky;
            top: 200px;
            background-color:$mb-white;
            // margin-top:0px;
            // height: 138px;
            overflow-y: auto;
            width: 220px;
            float: left;        
            @media(max-width:$screen-sm){
                top:0px;
            }
            z-index: 3;
        }
        ul{
            list-style-type: none;
            width:100%;
            position: relative;
            margin: 20px 20px 0 0;
            padding: 0;
            list-style-type: none;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 20px;
                bottom: 40px;
                left: 22px;
                width: 4px;
                background-color: #e1e1e1;
                @media(max-width:$screen-sm){
                    height: 5px;
                    width: calc(100% - 80px);
                    bottom:0;
                    top:unset;
                }
            }
            li{
                width:100%;
                cursor: pointer;
                @media (max-width:$screen-sm){
                  display: inline-block;
                }
                 a{
                    cursor: pointer;
                    width: 100%;
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $primary-color;
                    padding: 15px 0 15px 54px;
                    @media(max-width:$screen-sm){
                        padding: 1px 0 15px 30px;
                    }
                    position: relative;
                    text-decoration: none;
                     &::before {
                    position: absolute;
                    top: 50%;
                    left: 11px;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    border: 13px solid #e1e1e1;
                    border-radius: 50%;
                    @media(max-width:$screen-sm){
                      top:95%;
                    }
                }
                &.active{
                    &:before{
                        border: 20px solid #e1e1e1;
                        left:4px; 
                    }
                    &:after{
                        position: absolute;
                        left: 11px;
                        top: 50%;
                        @media(max-width:$screen-sm){
                            top:95%;
                          }
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        display: block;
                        content: ''!important;
                        width: 0;
                        height: 0;
                        border: 13px solid #47a1c5;
                        border-radius: 50%;
                    }
                }
            }
            }
        }
    }
    .pickmix-product-container{
        width: 744px;
        float: right;
        padding-bottom: 20px;
        position: relative;
        text-align: left;
        @media(max-width:$screen-sm){
            width:100%;
            flex:0 0 100%;
            max-width: 100%;
            .item{
                width:24%;
            }
        }
        .item{
            // position: relative;
            // padding-right: 15px;
            // padding-left: 15px;
            // flex: 0 0 33.333333%;
            // max-width: 33.333333%;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            position: relative;
            width: 245px;
            margin: 0 0 14px;
            .product-img{
                min-height: 245px;
                background: url(../../../assets/imgs/loading-spinner@2x.gif) no-repeat center center;
                background-size: 20px 20px;
                img {
                    width: 245px;
                    height: 245px;
                }
            }
        }
    }
    h1{
        font-size: 28px;        
        line-height: 20px;        
        margin-top:55px;
    }
    h2{
        font-size:18px;
        line-height: 20px;
        margin-top:20px;
    }

.cta{
    min-width: 160px;
    font-size:15px;
    line-height: 20px;
    @media screen  and(max-width:580px){
        font-size:12px;
    }
}

.price-container {
    float: right;
    height: 109px;
    position: relative;
    width: 160px;
    @media screen and (max-width:580px){
        width:30%;
    }
    .price {
        font-size: 20px;
        line-height: 32px;
        text-transform: uppercase;
        float: right;
        text-align: right;
        margin: 28px 0 5px 0;
        width: 100%;
        @media screen and(max-width:580px) {
            
                font-size:14px;
            
        }
        span{

            font-size: 20px;
            @media screen and(max-width:580px) {
            
                font-size:14px;
            
        }
        }
    }
    .continue {
        position: absolute;
        bottom: 0;
        right: 0;
        // width: 160px;
    
    .disabled {
        background-color: #d8d7d7;
        border-color: #d8d7d7;
     }
  }
}

/*pickMix-container*/
.pickMix-block{
    width: 100%;
    padding: 14px 14px 14px 230px;
    background-color: #f3f2f2;
    border: 1px solid #acacac;
    border-top: 0;
    @media screen and (max-width:768px){
        padding:14px;
        height:138px;
    }
    .pickMix-block-container{
        padding: 0 14px;
        width: 241px;
        float: left;
        @media screen and (max-width:768px){
            width:35%;
            padding: 0;
        }
        .group{
            height: 91px;
        .pickMix-item {
            width: 71px;
            float: left;
            padding: 0 3px 0 0;
            @media screen and(max-width:768px) {
                width:33%;
            }
            &.opt-selected{
                .pickMix-item-img {
                    background: $mb-white;
                    img{
                        opacity: 1;
                        cursor: pointer;
                    }
                 }
                 .pickMix-selection-indicator {
                    background: url('../../../assets/imgs/tick-white.png') no-repeat center 1px $mb-express-bg;
                }
            }
            .pickMix-item-img {
                width: 100%;
                height: 68px;
                background-repeat:  no-repeat;
                background-position: center center;
                background-color: #898989;
                overflow: hidden;
                position: relative;
              @media screen and (max-width:580px) {
                  background-size:13px;
              }
                img {
                    width: 68px;
                    height: 68px;
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    opacity: 0;
                    -webkit-transition: opacity .5s ease;
                    transition: opacity .5s ease;
                }
            }
        }
        .pickMix-selection-indicator {
            width: 100%;
            height: 15px;
            margin: 3px 0 5px 0;
            background-color: #898989;
            background-position: center 1px;
            -webkit-transition: background .5s ease;
            transition: background .5s ease;
          
        }

    }
    .pickMix-progress-container{
        width: 100%;
        height: 18px;
        padding-right: 3px;
        font-size: 14px;
        line-height: 18px;
        color: $mb-white;
        text-align: center;
    .pickMix-progress-indicator{
        background-color: #47a1c5;
        color: $mb-white;
        -webkit-transition: background-color .5s ease;
        transition: background-color .5s ease;
    }
}
    }
    .remove-tooltip {
        position: absolute;
        font-size: 14px;
        text-align: left;
        top: 14px;
        left: 244px;
        width: 451px;
        height: 86px;
        padding: 32px 10px 10px 42px;
        color: $mb-white;
        background: url(../../../assets/imgs/info-icon.svg) no-repeat 10px 28px rgba(0,0,0,0.65);
        @media screen and (max-width:768px) {
            left: 13px;
            width: 67%;
            /* font-size: 11px; */
            
        }
        @media screen and (max-width:580px) {
            left: 13px;
            width: 63%;
           font-size: 11px;     padding: 26px 10px 10px 42px;
            
        }
    }
}
.pickmix-product-container{
    overflow: hidden;
    section.page-section{
            .product-description{
                padding:0 10px;
                .product-title {
                    font-size: 14px;
                    margin: 0 0 10px 0;
                    line-height: 18px;
                    color:$primary-color;
                    max-height: 50px;
                    height:50px;
                }
            }  
            .btn-add:hover{
                background: url('https://css.moltonbrown.co.uk/images/add.svg') no-repeat center center #404040; 
            }  
           .btn-add{
                display: block;
                position: absolute;
                cursor: pointer;
                top: 18%;
                left: 52%;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: url('https://css.moltonbrown.co.uk/images/add.svg') no-repeat center center $primary-color;
                -webkit-transition: background-color .4s ease;
                transition: background-color .4s ease;
                @media screen and(max-width:768px) {
                    width: 22px;
                    height: 22px;
                    background-size: 16px;
                }
            }
            .out-of-stock {
                display: block;
                position: absolute;
                top: 20%;
                left: 52%;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #898989;
                color: $mb-white;
                font-size: 10px;
                text-transform: uppercase;
                padding-top: 13px;
                line-height: 1.2;
            }        
    }
}
a.close-sample-info {
    width: 26px;
    height: 26px;
    display: block;
    margin: 0 auto;
    background: url('https://css.moltonbrown.co.uk/images/info-close-icon.svg') no-repeat -26px 0;
    
}
a.sample-info-tooltip {
    @media screen and (max-width:$screen-sm){
        display: none !important;
    }
    width: 26px;
    height: 26px;
    display: block;
    margin: 0 auto;
    background: url('https://css.moltonbrown.co.uk/images/info-close-icon.svg') 0 0 no-repeat;
}




.more-info-content{
    background-color: rgba(235,233,233,0.95);
    padding: 18px 18px 8px 18px;
    position: absolute;
    bottom: 36px;
    max-height: 236px;
    z-index: 99999;    
    &.info-block{
        display:block;
        &:after{
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border: 0;
            left: auto;
            right:50%;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background: rgba(235,233,233,0.95);
            bottom: -7px;
        }
    }
    &.info-close{
        display:none;
    }
    .more-info-scroll {
        overflow-y: auto;
        max-height: 210px;
        p {
            font-size: 1em;
            text-align: left;
            margin: 0 0 10px;
            line-height: 20px;
        }
    }
}
@media(max-width:$screen-sm){
   
    app-pick .rowComponents {
        .pickMix-aside ul {
            list-style-type: none;
            display: flex; 
        }
        margin-top:0px;
     .col-3{
        z-index: 111111;
        flex: 0 0 100%;
        max-width: 100%;
        height: 54px;
        left: 0;
        bottom: 0;
        top: 167px;
        position: sticky;
        background-color: $mb-white;
        border-bottom: 1px solid #ccc;
    
    }   
    .pickMix-aside{
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        height: 53px;
    }
    ul{
        &.navigation{    
            margin: 3px 0 0 0;
            padding: 0;
            list-style-type: none;
            white-space: nowrap;
            position: relative;
            float: left;
            &::before{
                content: '';
            position: absolute;
            top: 29px;
            left: 48px;
            height: 4px;
            width: 80%;
            width: calc(100% - 80px);
            background-color: #e1e1e1;
            }
            li{
                display: inline-block;
                margin: 0 8px;
                text-align: center;
                position: relative;
                &:first-child{
                    &::before{
                        position: absolute;
                        top: 20px;
                        width: 50%;
                        left: 0;
                        display: block;
                        content: '';
                        height: 14px;
                        background: $mb-white;
                    }
                }
                a{
                    width: auto;
                    height: 48px;
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #3e3e3e;
                    padding: 0 5px;
                    position: relative;
                    text-decoration: none;
                    &.active{
                        &::before{
                            top: 16px;
                            border: 12px solid #e1e1e1;
                        }
                    }
                    &::before{
                        position: absolute;
                        top: 23px;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                        display: block;
                        content: '';
                        width: 0;
                        height: 0;
                        border: 8px solid #e1e1e1;
                        border-radius: 50%;
                    }
                    &:active{
                    &::after{
                        position: absolute;
                        top: 20px;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                        display: block;
                        content: '';
                        width: 0;
                        height: 0;
                        border: 8px solid #47a1c5;
                        border-radius: 50%;
                    }
                    }
                    
                }
            }
    } 
}
    ul.navigation li a.active:after {
        position: absolute;
        top: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        display: block;
        content: '';
        width: 0;
        height: 0;
        border: 8px solid #47a1c5;
        border-radius: 50%;
    }
    }
    }
    .summary-progress-indicator {
        background-color: $mb-express-bg !important;
    } 
    .out-of-stock{
        display: block;
        position: absolute;
        top: 20%;
        left: 52%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #898989;
        color: $mb-white;
        text-transform: uppercase;
        padding-top: 13px;
        line-height: 13px;
        font-size: 12px;
        text-align: center;
        cursor:default;
    }
    .modal-content{
        button{
            text-transform: uppercase;
        }
    }

.pm-modal{
    background: $primary-color;
}
    .pm-modal-box {
        width: 480px;
        margin: 0 auto;
    }
.pm-modal-footer{
    padding: 0;
    border-top: none;
    padding:0;
    a{
        text-decoration: underline !important;
    }
}
.more-info-scroll {
    overflow-y: auto;
    max-height: 210px;
}
.pm-category-wrapper{
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 167px;
    z-index: 3;
}






// .sample-product-info {
//     div {
//         overflow-y: hidden;
//         overflow-x: hidden;
//         width: 100%;
//         height: 115px;
//         padding: 15px 20px;
//     }
//     width: 100%;
//     padding: 10px 0;
//     display: none;
//     color: $primary-color;
//     position: absolute;
//     z-index: 99;
//     top: 0;
//     height: auto;
//     left: 0;
//     text-align: center;
//     background-color: rgba(234,232,232,0.9);
//     &::after {
//         opacity: .8;
//         content: "";
//         color: #e8e8e8;
//         display: inline-block;
//         width: 0;
//         height: 0;
//         bottom: -10px;
//         position: absolute;
//         left: 45%;
//         vertical-align: middle;
//         border-top: 10px solid;
//         border-right: 8px solid transparent;
//         border-left: 8px solid transparent;
// }
// }