<section>
  <div class="container">
      <app-mb-bread-crumb [breadcrumb]="breadcrumb"></app-mb-bread-crumb>
    <div class="rowComponents loginAlign">
        <h2 class="col-sm-12 log_in">Login/Register</h2>
        <div class="returning_customer">
           <div class="returning_customer-log_in">
                 <h2>Returning Customers</h2>
                
                 <form  [formGroup]="authForm" (ngSubmit)="onSubmitForm($event)" custom-focus>
                   <p class="requiredFieldText"><span class="redstar">*</span> Required Field</p>    
                    <p class=" label_text">Email Address<span class="redstar">*</span></p>
                    <div class="login-fileds" style="position: relative;">
                     <input 
                         formControlName="email"
                         type="email"                         
                         class="text mandatory reg-email" 
                         [ngClass]="{ 
                                   'has-error  not-valid':!authForm.controls['email'].valid &&
                                   authForm.get('email').touched,
                                   'valid':authForm.get('email').valid,
                                   'invalid':!authForm.get('email').valid,
                                   'cred-error':showCrentialError}">
                     <h2 *ngIf="showCrentialError" class="credential-err-msg">Your email address or password may be incorrect. Please try again. </h2>
                    <div *ngIf="!authForm.controls['email'].valid &&  authForm.get('email').touched" class="not-valid-error-msg">
                      <span  [hidden]="!authForm.controls['email'].errors.required">{{'login.emailInputFocus'|translate}}</span>
                      <span  [hidden]="!authForm.controls['email'].errors.patternInvalid">{{'login.invalidEmailAddress'|translate}}</span>
                    </div>
                  </div>
                   <p class=" label_text">Password<span class="redstar">*</span></p>
                    <div class="pos-relative login-fileds">
                        <a class="contextual-help"     show-delay="100"  ngbTooltip="{{'login.pswdContextual'|translate}}" placement="right" ></a>
                      <input 
                       formControlName="password"  
                       type="password" 
                       class="text mandatory" 
                       [ngClass]="{ 
                        'has-error  not-valid':!authForm.controls['password'].valid &&
                        authForm.get('password').touched,
                        'valid':authForm.get('password').valid,
                        'invalid':!authForm.get('password').valid,
                        'cred-error':showCrentialError
                      }"
                        >      
                      <div *ngIf="!authForm.controls['password'].valid &&  authForm.get('password').touched" class="not-valid-error-msg">
                        <span  [hidden]="!authForm.controls['password'].errors.required">{{'login.passwordInputFocus'|translate}}</span>
                        <!-- <span  [hidden]="!authForm.controls['password'].errors.patternInvalid">{{'login.invalidPassword'|translate}}</span> -->
                        <span *ngIf="!authForm.controls['password'].errors?.maxlength"> 
                            {{'login.invalidPassword'|translate}}
                        </span>
                        <span *ngIf="!authForm.controls['password'].errors?.minlength"> 
                            {{'login.invalidPassword'|translate}}
                        </span> 
                  </div>
                    </div> 
                       <p class="text-right">
                        <a class="pull-left enable_password" (click)="onRetrivePassword()">Forgotten your password?</a>
                    </p>
                    <div class="text-center">
                    <button type="submit" class="buttonStyle">Login</button>
                   </div>
                  </form>
           </div>
        </div>
        <div class="hrMb"><hr></div>
        <div>
          <div class=" new_customer-block new-login">
            <h2>New Customer</h2>
            <h6>The benefits of registering</h6>            
             By registering your details and creating an account you will be able to:
             <ul>
               <li>Check order history and status</li>
               <li>Store and manage multiple delivery addresses</li>
               <li>Update your personal profile and preferences</li>
               <li>Enjoy a speedier checkout</li>
              </ul>
              <div class="text-center">
                  <button (click)="onShowRegisterForm() " class="buttonStyle"> Register</button>
                 </div>
            </div>
          </div>
    </div>
  </div>
</section>
