<section [formGroup]="giftForm" custom-focus>
  <div class="form-group pos-relative">
    <label class="sr-only">First name*</label>
    <input
      formControlName="FirstName"
      autocorrect="off"
      autocomplete="off"
      placeholder="First name*"
      type="text"
      class="form-control  mandatory"
      [ngClass]="{
        'has-error  not-valid':
          !giftForm.get('FirstName').valid && giftForm.get('FirstName').touched,
        valid: giftForm.get('FirstName').valid,
        invalid: !giftForm.get('FirstName').valid
      }"
      required
    />
    <div
      *ngIf="
        (!giftForm.controls['FirstName'].valid &&
          giftForm.get('FirstName').touched) ||
        (isValidFormSubmitted != null && !isValidFormSubmitted)
      "
      class="not-valid-error-msg"
    >
      <span *ngIf="giftForm.controls['FirstName'].errors.patternInvalid">
        What is the first name on your card?
      </span>
      <span *ngIf="giftForm.controls['FirstName'].errors.required">
        What is the first name on your card?
      </span>
    </div>
  </div>
  <div class="form-group pos-relative">
    <label class="sr-only">Last name*</label>
    <input
      autocorrect="off"
      formControlName="LastName"
      autocomplete="off"
      placeholder="Last name*"
      type="text"
      class="form-control  mandatory"
      [ngClass]="{
        'has-error  not-valid':
          !giftForm.get('LastName').valid && giftForm.get('LastName').touched,
        valid: giftForm.get('LastName').valid,
        invalid: !giftForm.get('LastName').valid
      }"
      required
    />
    <div
      *ngIf="
        (!giftForm.controls['LastName'].valid &&
          giftForm.get('LastName').touched) ||
        (isValidFormSubmitted != null && !isValidFormSubmitted)
      "
      class="not-valid-error-msg"
    >
      <span *ngIf="giftForm.controls['LastName'].errors.required">
        What is the last name on your card?
      </span>
      <span *ngIf="giftForm.controls['LastName'].errors.patternInvalid">
        What is the last name on your card?
      </span>
    </div>
  </div>
  <div class="form-group pos-relative">
    <input
      formControlName="GivexCardNumber"
      placeholder="Gift card number*"
      type="text"
      class="form-control  mandatory contextHlp"
      [ngClass]="{
        'has-error  not-valid':
          !giftForm.get('GivexCardNumber').valid &&
          giftForm.get('GivexCardNumber').touched,
         'valid': giftForm.get('GivexCardNumber').valid,
        'invalid': !giftForm.get('GivexCardNumber').valid
      }"
    />
    <div
      *ngIf="
        (!giftForm.controls['GivexCardNumber'].valid &&
          giftForm.get('GivexCardNumber').touched) ||
        (isValidFormSubmitted != null && !isValidFormSubmitted)
      "
      class="not-valid-error-msg"
    >
      <span *ngIf="giftForm.controls['GivexCardNumber'].errors.required">
        Enter the 21-digit number on the back of your gift card
      </span>
      <span *ngIf="giftForm.controls['GivexCardNumber'].errors.patternInvalid">
        Enter the 21-digit number on the back of your gift card
      </span>
    </div>
    <a
      class="contextual-help" ngbTooltip="{{'giftCardNumber'|translate}}" placement="right"
     show-delay="100"
    ></a>
  </div>
  <div class="form-group pos-relative">
    <input
      formControlName="GivexPinNumber"
      placeholder="Gift card pin*"
      type="text"
      class="form-control  mandatory contextHlp"
      [ngClass]="{
        'has-error  not-valid':
          !giftForm.get('GivexPinNumber').valid &&
          giftForm.get('GivexPinNumber').touched,
        valid: giftForm.get('GivexPinNumber').valid,
        invalid: !giftForm.get('GivexPinNumber').valid
      }"
    />
    <div
      *ngIf="
        (!giftForm.controls['GivexPinNumber'].valid &&
          giftForm.get('GivexPinNumber').touched) ||
        (isValidFormSubmitted != null && !isValidFormSubmitted)
      "
      class="not-valid-error-msg"
    >
      <span *ngIf="giftForm.controls['GivexPinNumber'].errors.required">
        Scratch off the panel on the back of the card to reveal the 6-digit
        number.
      </span>
      <span *ngIf="giftForm.controls['GivexPinNumber'].errors.patternInvalid">
        Scratch off the panel on the back of the card to reveal the 6-digit
        number.
      </span>
    </div>

    <a
      class="contextual-help"
      show-delay="100"  ngbTooltip="{{'giftCardPin'|translate}}" placement="right"
    ></a>
  </div>
  <div class="form-group pos-relative">
    <input
      formControlName="Amount"
      placeholder="Amount to pay*"
      type="text"
      class="form-control mandatory contextHlp"
      [ngClass]="{
        'has-error  not-valid':
          !giftForm.get('Amount').valid && giftForm.get('Amount').touched,
        valid: giftForm.get('Amount').valid,
        invalid: !giftForm.get('Amount').valid
      }"
    />
    <div
      *ngIf="
        (!giftForm.controls['Amount'].valid &&
          giftForm.get('Amount').touched) ||
        (isValidFormSubmitted != null && !isValidFormSubmitted)
      "
      class="not-valid-error-msg"
    >
      <span *ngIf="giftForm.controls['Amount'].errors.required">
        How much do you want to pay from your gift card?
      </span>
      <span *ngIf="giftForm.controls['Amount'].errors?.patternInvalid">
        Please enter valid amount.
      </span>
    </div>
    <a
      class="contextual-help"
      show-delay="100" ngbTooltip="{{'amountToPay'|translate}}" placement="right"
    ></a>
  </div>
</section>
