<div class="clearfix" >
        <div class="show-orders-summary clearfix">
                <button class="btn-show-order" (click)="onViewSummary()">View your order</button>
         </div>
    <section class="checkout-content checkout-delivery-bg  clearfix">
        <div class="main-content">
            <div class="delivery-panel">
                <div class="panel-heading" [ngClass]="{'disabled-tab':paymentBlock,'enabled':!paymentBlock}">
                    <h4>Delivery</h4>
                    <label class="header-mandatory">* Required information</label>
                </div>
                <div>
                    <section [ngSwitch]="switchServiceType" class="mainSection">
               
                        <section class="delivery-section" *ngSwitchCase="'delivery'"  >
                        <div class="dl-overlay"  [ngClass]="{'dl-overlay-show':pageLoad,'dl-overlay-hide':!pageLoad}">
                            <div class="b2c-title"> 
                                    <span class="loading-txt"> loading... </span>  
                            </div>
                        </div>
                        <section class="panel-body" >
                            <div class="section-heading" *ngIf="siteSpecicShipping">
                                <h2>How do you want to get your order ?</h2>
                            </div>
                            <div class="delivery-type-selection" *ngIf="siteSpecicShipping">
                                <div class="delivery-type-international delivery-type" *ngFor="let data of deliveryModeTypes;let k=index;"
                                    [ngClass]="{'selected':data.selected=='enabled','disabled':'disabled'==data.selected}"
                                    (click)="onDeleveryType(data,k)">
                                     <i class="icon-dt-uk">
                                     <img   [src]="data.imageSrc "></i>
                                    <h5>{{(data.deliveryName =="UK International delivery")?getStandardName(data):data.deliveryName}}</h5>
                                    <p class="dt-info">{{(data.deliveryName =="UK International delivery")? getStandardDescription(data):data.deliveryDescription}}</p>
                                    <p class="dt-price">{{(data.deliveryName =="UK International delivery")?getStdDescrptn(data):data.deliveryCostDescription}}</p>
                                </div>
                            </div>
                            <section [ngSwitch]="switchDeliveryType">
                                <div class="delivery-collapse-block" *ngSwitchCase="'collect'">
                                    <app-delivery-form
                                       [customerInfoUpdate]="customerInfoUpdate"
                                       (showOverLay)="showOverLay($event)"  
                                       (onValueChanged)="onShowDeliveryBlock($event)"
                                       >
                                    </app-delivery-form>
                                </div>
                                <div class="delivery-collapse-block" *ngSwitchCase="'ship'">
                                    <app-storepoint 
                                      (selectedStore)="onSelectedStore($event)"
                                      >
                                    </app-storepoint>
                                </div>
                            </section>
                        </section>
                        </section>
                        <section *ngSwitchCase="'service'">
                            <app-delivery-service 
                                 *ngIf="expressService;else collectServiceBlock" 
                                 [expressCheckout]="expressCheckout"
                                 [deliveryInfo]="deliveryServiceInfo" 
                                 (onSecureChanged)="onSecureChanged($event)"
                                 (onEditInfo)="onEditInfo($event)"
                                 (onupdateCart)="onupdateCart($event)"
                                   >
                            </app-delivery-service>
                            <ng-template #collectServiceBlock>
                                <app-collect-service 
                                    [deliveryInfo]="collecionInfo" 
                                    (onEditClkCltInfo)="onEditClkCltInfo($event)"
                                    (onCollectionChange)="onCollectionChange($event)">
                               </app-collect-service>
                            </ng-template>
                        </section>
                    </section>
                </div>
            </div>
            <div class="payment-panel" [ngClass]="{'disabled-tab':!paymentBlock,'enabled':paymentBlock}">
                <app-paytype
                     [deliveryInfo]="deliveryInfo" 
                     [paymentBlock]="paymentBlock" 
                     [expressCheckout]="expressCheckout"
                >
                </app-paytype>
            </div>
           
        </div>
        <div class="order-summary-wrap">
            <app-order-summary
               #cartRefElement 
               [updateCart]="updateCart" 
               [overlay]="overlay" 
               [osDetail]="osDetail" 
               (postCartData)="postCartData($event)"
               (updateCartData)="onUpdateCartData($event)"
               >
            </app-order-summary>
        </div>
    </section>
</div>