<div class="clearfix" >
  <section class="order-confirmation-main" *ngIf="order;else overlayConfirmation">
    <div class="basket-section order-confirmation-section" *ngIf="order">
      <div class="panel-heading">
        <h4>Thank you for your order.</h4>
      </div>
      <div class="orders-container order-confirmation-msg">
        <section>
          <h4>
            Your order number is {{ order.code }}
            <span *ngIf="order.deliveryMode.deliveryDate">
              .It will be delivered on <br />
              {{ order.deliveryMode.deliveryDate }}</span
            >
          </h4>
           <div class="order-confirmation-msg-detail">
             <div> An order confirmation will be emailed to {{ retreiveUser(order.user.uid) }} shortly.</div>
            <div *ngIf="!guestUser" class="oc_reguser_order-context">
              You can check your order and all your previous online orders in
              <a routerLink="/store/myaccount/profile" routerLinkActive="active"  (click)="gotoMyAccount($event)"> My Account</a>
            </div>
          </div>
   
          <h4>Questions about your order?</h4>
          <div class="order-confirmation-msg-detail">
            Call us on {{ customerCenter }}
            <span *ngIf="!deSiteSpecific">
              or email
              <a href="mailto:aucustomerservice@moltonbrown.com"
                >customerservice@moltonbrown.com</a
              >
            </span>
          </div>
          <div class="form-group order-confrm-btn">
            <a
               routerLink="/store/index" 
               title="Continue Shopping"
               routerLinkActive="active"
               class="btn btn-default reset-btn"
               (click)="onNavigateHome($event)"
            >
              Continue shopping
          </a>
          </div>
        </section>
        <section *ngIf="guestUser" class="guest-user-section">
          <div class="form-group guest-user-block ">
            <h4>Save your details for Next time ? (optional)</h4>
            <legend>
              Checkout quicker by creating an account for {{guestEmail}}
            </legend>
          </div>
          <div class="duplicate-msg" *ngIf="duplicateUser">
            An Account already exists for this email address. You can sign in or
            reset password <a routerLink="/store/myaccount/profile/passwordReset" routerLinkActive="active" (click)="goToResetPassword($event)" class="account">here</a>
            However this order will not appear in your order history.
          </div>
          <form
             *ngIf="userCreation;else userCreationMsg"
              class="oc_form"
              [formGroup]="guestForm"
              (ngSubmit)="onSubmitForm($event)"
              custom-focus
          >
            <fieldset>
              <div class=" form-group">
                <input
                  formControlName="password"
                  placeholder="Password"
                  type="password"
                  class="form-control  mandatory"
                  [ngClass]="{
                    'has-error  not-valid':
                      !guestForm.controls['password'].valid &&
                      guestForm.get('password').touched
                  }"
                />
                <a
                  class="contextual-help"
                  show-delay="100"
                ></a>
                <div
                  *ngIf="
                    !guestForm.controls['password'].valid &&
                    guestForm.get('password').touched
                  "
                  class="not-valid-error-msg"
                >
                  <span
                    [hidden]="!guestForm.controls['password'].errors.required"
                    >{{ "register.passwordEnter" | translate }}</span
                  >
                  <span
                    [hidden]="
                      !guestForm.controls['password'].errors.patternInvalid
                    "
                    >{{ "register.invalidPassword" | translate }}</span
                  >
                </div>
              </div>
              <div class="form-group ">
                <input
                  formControlName="confirmPassword"
                  placeholder="Verify Password"
                  type="password"
                  class="form-control  mandatory"
                  [ngClass]="{
                    'has-error  not-valid':
                      !guestForm.controls['confirmPassword'].valid &&
                      guestForm.get('confirmPassword').touched
                  }"
                />
                <div
                  *ngIf="
                    !guestForm.controls['confirmPassword'].valid &&
                    guestForm.get('confirmPassword').touched
                  "
                  class="not-valid-error-msg"
                >
                  <span
                    [hidden]="
                      !guestForm.controls['confirmPassword'].errors.required
                    "
                    >{{ "register.confirmPassword" | translate }}</span
                  >
                  <span
                    [hidden]="
                      !guestForm.controls['confirmPassword'].errors
                        .appCustomValidator
                    "
                    >{{ "register.matchPassword" | translate }}</span
                  >
                </div>
              </div>
              <div class="checkbox">
                <input type="checkbox" class="checkbox" />
                <label> Save payment details for next time .</label>
              </div>
              <div class="form-group clearfix pull-left">
                <button type="submit" class="btn btn-default pull-right">
                  Create Account
                </button>
              </div>
            </fieldset>
          </form>
          <ng-template #userCreationMsg>
            <div>
              <div class="order-confirmation-msg-detail"><b>Account created for {{guestEmail}}</b></div>
              <div class="acc-creation-msg">
                Welcome to Molton Brown . You can now check your order and all your future online orders in
                  <a routerLink="/store/myaccount/profile" routerLinkActive="active" (click)="onShowProfilePage($event)" class="account">My Account </a> .
              </div>
            </div> 
          </ng-template>
        </section>
      </div>
    </div>
    <div class="basket-section order-confirmation-section">
      <div class="panel-heading ">
        <h4 class="Yourorder">Your order</h4>
      </div>
      <div class="orders-container order-confirmation" *ngIf="order.entries">
        <div class="order-header">
          <div>
            <legend>product</legend>
          </div>
          <div>
            <legend>QTY</legend>
          </div>
          <div>
            <legend>Price</legend>
          </div>
          <div>
            <legend>Total</legend>
          </div>
        </div>
        <div *ngFor="let entry of order.entries">
          <div class="order-product-mbl-container">
            <div class="order-product-img">
              <a  routerLink="{{getRouterPath(entry)}}" routerLinkActive="active" *ngIf="!entry.isBundle; else bundleTypeImage">
                <picture>
                  <source
                    srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$thImg$&amp;fmt=webp"
                    type="image/webp"
                  />
                  <source
                    srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$thImg$&amp;fmt=jpg"
                    type="image/jpeg"
                  />
                  <img
                    src="//media.moltonbrown.co.uk/s/moltonbrown/{{
                      entry.product.code
                    }}_uk_set?$thImg$&amp;fmt=jpg"
                  />
                </picture>
              </a>
              <ng-template #bundleTypeImage>
                <picture>
                  <source
                    [srcset]="getPixMixImage(entry['product'][0])"
                    type="image/webp"
                  />
                  <source
                    [srcset]="getPixMixImageJpg(entry['product'][0])"
                    type="image/jpeg"
                  />
                  <img [src]="getPixMixImageJpg(entry['product'][0])" />
                </picture>
              </ng-template>
            </div>
            <div class="order-product">
              <div class="order-product-info">
                <picture *ngIf="!entry.isBundle">
                  <source
                    srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$thImg$&amp;fmt=webp"
                    type="image/webp"
                  />
                  <source
                    srcset="//media.moltonbrown.co.uk/s/moltonbrown/{{entry.product.code}}_uk_set?$thImg$&amp;fmt=jpg"
                    type="image/jpeg"
                  />
                  <img
                    src="//media.moltonbrown.co.uk/s/moltonbrown/{{
                      entry.product.code
                    }}_uk_set?$thImg$&amp;fmt=jpg"
                    class="order-prd-image-show"
                  />
                </picture>

                <picture *ngIf="entry.isBundle">
                  <source
                    [srcset]="getPixMixImage(entry['product'][0])"
                    type="image/webp"
                  />
                  <source
                    [srcset]="getPixMixImageJpg(entry['product'][0])"
                    type="image/jpeg"
                  />
                  <img
                    [src]="getPixMixImageJpg(entry['product'][0])"
                    class="order-img"
                  />
                </picture>
                <span class="order-product-name" [ngClass]="{'os-product-sample':entry.product.isSample}">
                  <span *ngIf="!entry.isBundle; else bundleType">
                  <a routerLink="{{getRouterPath(entry)}}" routerLinkActive="active"
                    (click)="onShowProductDtls($event,entry.product)"
                    class="orderconf-img-title"
                  >
                    {{ entry.product.productDisplayName }}
                  </a>
                  <div *ngIf="!guestUser&&!entry.isBundle&&!entry.product.isSample" class="add-favourites">
                      <div class="add-favourites-ds">
                        <!-- <img
                        class="fav-img"
                          src="assets/imgs/btn_addToFavourites.gif"
                          alt="add to favourites"
                          (click)="addToFavourite($event, entry)"
                        /> -->
                        <span *ngIf="!entry.product.favourite; else favouriteBlock">
                          <a (click)="addToFavourite($event, entry)" title="Add This Item To Your Favourites" >Add to Favourites</a>
                        </span>
                        <ng-template #favouriteBlock>
                          <span>
                            <a routerLink="/store/myaccount/profile/myFavorites"  routerLinkActive="active"   >Added to Favourites</a>
                          </span>
                        </ng-template>
                      </div>
                    </div>
                   </span>
                  <ng-template #bundleType>
                    <div *ngIf="entry.bundleTemplateId">
                      <span class="order-product-name">
                        <a> {{ entry.bundleTemplateId }}</a>
                      </span>
                    </div>
                    <a
                      (click)="onShowProductDtls($event,bottle[j])"
                      *ngFor="let bottle of entry['product']; let j = index"
                    >
                      <ul *ngIf="!bottle.product.isSample">
                        <li>
                          <span
                            >{{
                              getBundleProductQuantity(entry, bottle)
                            }}&nbsp;&#10005;&nbsp;</span
                          >
                          {{ bottle.product.productDisplayName }}
                        </li>
                      </ul>
                    </a>
                    <ul
                      class="bundle-list"
                      *ngIf="entry['product'][0]['isTravelPouchSelected']"
                    >
                      <li>
                        <span>1&nbsp;&#10005;&nbsp;</span>
                        Travel Pouch
                      </li>
                    </ul>
                  </ng-template>
                </span>
              </div>
              <div class="quantity-update">
                <div class="input-group">
                  <span class="text-center">
                    {{ entry.quantity }}
                  </span>
                </div>
              </div>
              <div class="product-price">
                <span>
                  <!-- {{
                                    (entry.bundlePrice)?entry.bundlePrice:(entry.product.price.value !=0)?entry.product.price.formattedValue:'FREE'
                                  
                                 }} -->
                  <span
                    *ngIf="entry.isBundle"
                    [innerHtml]="getBundlePrice(entry)"
                  ></span>
                  <span
                    *ngIf="!entry.isBundle"
                    [innerHtml]="getProdPrice(entry)"
                  ></span>
                </span>
              </div>
              <div class="product-total">
                <!-- {{ (entry.bundlePrice)?entry.bundlePrice:getTotalPrice(entry)
                    
                            }} -->

                <span
                  *ngIf="entry.isBundle"
                  [innerHtml]="getBundleTotalPrice(entry)"
                ></span>
                <span
                  *ngIf="!entry.isBundle"
                  [innerHtml]="getTotalPrice(entry)"
                ></span>
              </div>
            </div>
          </div>
        </div>
        <div class="order-confirmation-lastBlock clearfix">
          <div class="order-confirmation-billingAddress" *ngIf="deSiteSpecific">
            <div class="oc-bill-header">
              <h5>Deliver Address:</h5>

              <span *ngIf="order.deliveryAddress.titleCode">{{
                order.deliveryAddress.titleCode
              }}</span>
              <span *ngIf="order.deliveryAddress.firstName">{{
                order.deliveryAddress.firstName
              }}</span>
              <span *ngIf="order.deliveryAddress.lastName">{{
                order.deliveryAddress.lastName
              }}</span>
              <span *ngIf="order.deliveryAddress.line1">{{
                order.deliveryAddress.line1
              }}</span>
              <span *ngIf="order.deliveryAddress.postalCode">{{
                order.deliveryAddress.postalCode
              }}</span>
              <span *ngIf="order.deliveryAddress.town">{{
                order.deliveryAddress.town
              }}</span>

              <span *ngIf="order.deliveryAddress.country">{{
                order.deliveryAddress.country.name
              }}</span>
            </div>
            <div class="oc-bill-header">
              <h5>Billing Address:</h5>

              <span *ngIf="order.deliveryAddress.titleCode">{{
                order.deliveryAddress.titleCode
              }}</span>
              <span *ngIf="order.deliveryAddress.firstName">{{
                order.deliveryAddress.firstName
              }}</span>
              <span *ngIf="order.deliveryAddress.lastName">{{
                order.deliveryAddress.lastName
              }}</span>
              <span *ngIf="order.deliveryAddress.line1">{{
                order.deliveryAddress.line1
              }}</span>
              <span *ngIf="order.deliveryAddress.postalCode">{{
                order.deliveryAddress.postalCode
              }}</span>
              <span *ngIf="order.deliveryAddress.town">{{
                order.deliveryAddress.town
              }}</span>

              <span *ngIf="order.deliveryAddress.country">{{
                order.deliveryAddress.country.name
              }}</span>
            </div>
          </div>
          <div class="order-confirmation-table">
            <div class="order-confirmation-table-cols">
              <div class="oc-sub-header  clearfix" *ngIf="order.totalDiscounts.value !=0" >
                  <span>Promotion</span>
                <span id="order_discount"  class="price-format pull-right">
                      {{ order.totalDiscounts.formattedValue }}</span>
              </div>
            <div class="oc-sub-header">
              <span>Subtotal</span
              ><span class="pull-right">{{
                order.subTotal.formattedValue
              }}</span>
            </div>
            <div class="oc-sub-delivery-info">
              <span>Delivery</span
              ><span class="pull-right text-uppercase">{{
                order.deliveryCost.formattedValue
              }}</span>

              <div class="oc-sub-header" *ngIf="usSpecific && order.totalTax">
                <span>Sales Tax</span
                ><span class="pull-right">{{
                  order.totalTax.formattedValue
                }}</span>
              </div>

              <div *ngIf="order.deliveryMode">
                <div class="oc-delivery" >
                <span  *ngIf="order.deliveryMode">
                  <span *ngIf="order.deliveryMode.pointOfServiceName">
                    <div *ngIf="order.deliveryMode.delDescription">
                      {{ order.deliveryMode.delDescription }}
                    </div>
                    <div *ngIf="order.deliveryMode.pointOfServiceName">
                      {{ order.deliveryMode.pointOfServiceName }}
                    </div>
                    <div *ngIf="order.deliveryMode.serviceName">
                      &nbsp;&#40;{{ order.deliveryMode.serviceName }}&#41;
                    </div>
                  </span>
                  <span *ngIf="!order.deliveryMode.pointOfServiceName">
                    <div *ngIf="order.deliveryMode.description">
                      {{ order.deliveryMode.description }}
                    </div>
                    <div *ngIf="order.deliveryMode.zoneName">
                      {{ order.deliveryMode.zoneName }}
                    </div>
                    <div *ngIf="order.deliveryMode.deliveryDate">
                      {{ order.deliveryMode.deliveryDate }}
                    </div>
                    <div *ngIf="order.deliveryMode.serviceName">
                      &nbsp;&#40;{{ order.deliveryMode.serviceName }}&#41;
                    </div>
                 
                  </span>
                </span>
                </div>
              </div>
            </div>
            <div class="oc-total">
              <span>Total</span>
              <span class="pull-right">{{
                order.totalPriceWithTax.formattedValue
              }}</span>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<ng-template #overlayConfirmation>
<div
class="oc-container-load-block"
style="display: block"
>
<div class="loading-backdrop">
  <div class="b2c-title">
      <span class="loading-txt"> loading... </span> 
  </div>
</div>
</div>
</ng-template>
