//plp
@import"../../variable";
.search-view-container {
    .search-container-grid {
      margin: 0 auto;
      width: 964px;
    }
  } 
  .search-products-container.col-md-9 {
    float: left;
    padding: 0.1em 0 0 0 !important;
    max-width: 764px;
  }  
  .search-heading {
    display: flex;
    justify-content: space-evenly;
    .content-inline-block {
      display: inline-block;
      width: 49%;
      font-size: 12px;
      overflow: hidden;
      color: $primary-color;
    }
    h2 {
      font-size: 12px;
      text-transform: uppercase;
      color: #686873;
      line-height: 30px;
      font-weight: 500;
      font-style: normal;
    }
    .viewAllProducts {
      text-decoration: underline;
      cursor: pointer;
    }
  } 
  .container-display-none {
    display: none;
  }
  .container-display-block {
    display: block;
  }
  .no-padding {
    padding: 0px !important;
  }
  .search-viewAllTop {
    display: block;
    h1 {
      font-weight: normal;
      font-size: 21.6px;
      // margin: 11px 0;
      span {
        font-size: inherit;
        font-weight: inherit;
      }
    }
    .viewAllTop-content {
      display: table;
      height: inherit;
      text-align: right;
      height: 29px;
      float: right;
    }
    .viewAllTop-content-cell {
      display: table-cell;
      vertical-align: bottom;
      font-family: arial, sans-serif;
      font-weight: 500;
      font-size: 16px;
      font-style: normal;
      line-height: 14px;
    }
  }  
  @media screen and (max-width: 979px) {
    .search-facets {
      display: none;
    }
  }
  
  .col-md-9 {
    flex: 0 0 79%;
    max-width: 78%;
  }
  @media screen and (max-width: $screen-sm) {
    .col-md-9 {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      margin-top: 0px !important;
    }
    .search-container-grid {
      width: 100% !important;
    }
  
  
  
  } 
  .search-facets.col-md-3 {
    min-height: 610px;
    float: left;
    max-width: 194px;
    box-sizing: content-box;
    padding: 0px 6px 0 0;
  }
  .viewAllProducts {
    a {
      float: right;
      text-decoration: underline !important;
    }
  }
  .container {
    padding: 0;
  } 
  @media screen and (max-width: $screen-sm) {
    .search-heading {
      .content-inline-block:first-child {
        width: 39%;
        font-size: 11px;
      }
      .content-inline-block:last-child {
        width: 59%;
        font-size: 11px;
      }
    }
  }
  @media (min-width: $screen-sm) {
    .modal-dialog {
      max-width: 85%;
      margin: 0.75rem auto !important;   
    }
 
  }
  @media screen and (max-width:768px){
    .needMoreHelp{
      display: none;
    }

  }
  @media screen and (max-width:586px){
    .showFav{
      display: none;
    }
  }
  .hide-filterbtn {
    display: none;
  }
  .show-filterbtn {
    display: inline-block;
  }
  app-filter{
    height:100%;
  }
  .needMoreHelp{
    img{
      cursor: pointer;
    }
  }
  .searchResults{
    font-size: 12px;
    h1{
      font-size: 1.8em;
      font-weight: normal;
      span{
        font-size:inherit;
      }
    }
  }
  .search-pager_top{
    app-pager{
     .pager-cntnt{
      margin-top:15px;
     }
   }
  }
  .search-page-btm{
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .showFav{
    .customer{
      font-size: 25px;
      padding: 10px 15px 10px 0;
      border-bottom: 1px solid $light-border;
      .searchHeader{
        line-height: initial;
        font-size: 1em;
      }
    }
  }
  .search-header{
    font-size: 12px;
    &.needMoreHelp{
      h3{
      width:100%;
      font-size: 1.5em;
      padding: 28px 0 17px 0;
      font-weight: 700;
      color:$primary-color;
    }
   }
  }
  .search-landing-page-loader{
    background-color:$mb-white;
  }

  .search-top-bar{
    margin-top:24px;
    display:flex;
  div{
    &.searchBy-filter{
      width:21%;
      margin-right: 4px;
      align-self: flex-end;
    }
    &.search-cat-for{
      width:55%;
    }
    &.search-pager{
      width:22%;
      float:right;
      align-self: flex-end;
    }
  }
    h2{
      float: left;
      font-size: 14px!important;
      line-height: 30px!important;
      color: #666;
      font-weight: 600!important;
      text-transform: uppercase;
    }
  }