<ng-container [ngSwitch]="switchMode">
  <div *ngSwitchCase="'cardForm'">
    <form
      class="card-entry-form" 
      [formGroup]="cardDetailForm" 
      (ngSubmit)="oncheckoutContinue($event)" 
      custom-focus
      >
      <section>
        <div class="section-heading">
          <h2>Your billing address</h2>
        </div>
        <div>
          <div class="payer-saved-address clearfix">
            <div>
              <div class="saved-address clearfix">
                <p *ngIf="shippingAddress.customerAddress">
                  <span *ngIf="shippingAddress.customerAddress.line1">
                    {{ shippingAddress.customerAddress.line1 }}
                  </span>
                  <span *ngIf="shippingAddress.customerAddress.line2">
                    {{ shippingAddress.customerAddress.line2 }}
                  </span>
                  <span *ngIf="shippingAddress.customerAddress.town">
                    {{ shippingAddress.customerAddress.town }}
                  </span>

                  <span *ngIf="shippingAddress.customerAddress.postalCode">
                    {{ shippingAddress.customerAddress.postalCode }}
                  </span>
                  <span *ngIf="shippingAddress.customerAddress.country">
                    {{ shippingAddress.customerAddress.country.name }}
                  </span>
                  <span *ngIf="shippingAddress.customerAddress.phone">
                    {{ shippingAddress.customerAddress.phone }}
                  </span>
                </p>
                <a 
                  class="change-address-btn" 
                  title="Change billing address" 
                  (click)="onChangeBillingAddress()">
                  Change billing address
                </a>
              </div>
              <div class="form-group form-checkbox">
                <div class="checkbox bl_checkbox">
                  <input style="padding-top: 0px;" type="checkbox" class="checkbox" formControlName="billingForm"
                    [ngClass]="{
                       'has-error  not-valid':(getTypeOf(cardDetailForm.value['billingForm'])) ||(!cardDetailForm.controls['billingForm'].valid &&  cardDetailForm.get('billingForm').touched)
                      }" />
                  <label class="terms-lbl"
                   [ngClass]="{ 
                     'terms-not-valid':(getTypeOf(cardDetailForm.value['billingForm'])) ||(!cardDetailForm.controls['billingForm'].valid &&  cardDetailForm.get('billingForm').touched)
                    }">
                    This is my correct billing address.*
                  </label>
                  <div class="bl-err-block error-block"
                    *ngIf="(getTypeOf(cardDetailForm.value['billingForm'])) ||(!cardDetailForm.controls['billingForm'].valid &&  cardDetailForm.get('billingForm').touched) ">
                    <span class="check-error-msg-bottom" >
                      ! Please confirm your billing address is correct or use link to
                      change billing address
                    </span>
                  </div>

                </div>
              </div>
            </div>
            <section class="mb-personal-details">
                <div class="section-heading">
                    <legend>Add new card</legend>
                  </div>
              <app-cd-card #paymentCardEl [isValidFormSubmitted]="isValidFormSubmitted"
                (changeCard)="onChangeCardType($event)" [group]="cardDetailForm.get('paymentCard')">
              </app-cd-card>
              <section class="save_card-block" *ngIf="currentUser">
                <fieldset>
                  <legend> Save your details for next time? (optional)</legend>
                  <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" class="savePayment" formControlName="saveCard"
                        (change)="saveCardDetail($event)">
                      <label>Save your payment details for next time.</label>
                    </div>
                  </div>
                </fieldset>
              </section>
              <app-mb-terms 
              [formType]="cardDetailForm.get('terms')" 
              (setPolicyTerms)="onSetPolicyTerms($event)" 
              (setTerms)="onSetTerms($event)">
              </app-mb-terms>

            </section>
          </div>
        </div>
      </section>
    </form>
  </div>
  <ng-container *ngSwitchCase="'billingForm'">
    <app-billing-address 
        [shippingUserAddress]="shippingAddress" 
        (onResetAddress)="onResetAddress()"
        (onSetBillingAddress)="onSetBillingAddress($event)" 
        [payType]="payType">
      </app-billing-address>
  </ng-container>


  <ng-container *ngSwitchCase="'encryptCard'">
    <div class="express-payment-method">
      <legend>Choose a card to pay with</legend>
      <form [formGroup]="checkoutForm" (ngSubmit)="onPaymentContinue($event)" custom-focus>
        <app-encrypted-card
          #paymentCardEl 
          [cards]="cardList" 
          [group]="checkoutForm.get('cardForm')"
          (changeCardType)="onChangeCard($event)" 
          (editCardDetail)="onEditCard()" 
          (cancelEMit)="cancelEMit($event)"
          (addNewCard)="onAddNewCard()">
        </app-encrypted-card>
        <app-mb-terms 
          *ngIf="!newCard" 
          [formType]="checkoutForm.get('terms')"
          (setTerms)="onSetEncryptCardTerms($event)" 
          (setPolicyTerms)="onSetEncryptPolicyTerms($event)">
        </app-mb-terms>
      </form>
    </div>
  </ng-container>
   <div 
       class="dl-overlay"
       [ngClass]="{
          'dl-overlay-show':loading,
          'dl-overlay-hide':!loading
        }">
        <div class="b2c-title text-center pay-load"> 
               <span class="pay-load-text">
                  {{loadingText}}
               </span>  
        </div>
   </div>
</ng-container>