<div class="clearfix">
  <section class="basket-section">
    <div class="basket-heading">
      <div class="rowComponents justify-contents">
        <h1 class="col-md-5">{{ "sampleAndGiftBox" | translate }}</h1>
        <div class=" col-sm-6 col-md-3 continue-shopping-div">
          <a class="continue-shopping " (click)="onContinueShoppingEvent()"
            ><span></span>{{ "continueShopping" | translate }}</a
          >
        </div>
        <div class="mobile-position">
          <div
            class=" express-check-out  pull-right"
            [hidden]="!showExpress"
          >
            <button class="btn-shop-action express-btn-action" *ngIf="totalPriceValue" (click)="onSecureCheckout(true)">
              <span></span>EXPRESS CHECKOUT
            </button>
          </div>

          <div class="express-check-out">
            <span *ngIf="totalPriceValue">
              <button
                type="button"
                class="btn-shop-action"
                (click)="onSecureCheckout(false)"
                style="opacity: 1;"
              >
                <span></span>{{ "secureCheckout" | translate }}
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="orders-container">
      <legend>Thanks for shopping with us. Please choose a FREE sample.</legend>
      <div class="gift-sample-carousel ">
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="slideConfig"
        >
          <div
            ngxSlickItem
            *ngFor="let slide of slides; let k = index; trackBy"
            class="slide"
          >
            <div
              class="treat-items slick-slide slick-current sample "
              [ngClass]="{
                'sample-disabled': slide.status == 'pending',
                'sample-active': slide.added == 'added'
              }"
            >
              <picture *ngIf="slide.code">
                <source
                  srcset="https://media.moltonbrown.co.uk/i/moltonbrown/{{
                    slide.code
                  }}?$smallImg$&amp;fmt=webp"
                  type="image/webp"
                />
                <source
                  srcset="https://media.moltonbrown.co.uk/i/moltonbrown/{{
                    slide.code
                  }}?$smallImg$&amp;fmt=jpg"
                  type="image/jpeg"
                />
                <img
                  src="https://media.moltonbrown.co.uk/i/moltonbrown/{{
                    slide.code
                  }}?$smallImg$&amp;fmt=jpg"
                />
              </picture>
              <p class="text-center treat-product-name">
                {{
                  slide.productDisplayName
                    ? slide.productDisplayName
                    : slide.name
                }}
              </p>

              <div
                class="sample-product-info"
                [ngClass]="{
                  'sample--block': slide.action,
                  'sample--hide': !slide.action
                }"
              >
                <div>{{ slide.description }}</div>
              </div>
              <p class="text-center sample-quantity">
                <a
                  class="showsInlineBlock"
                  [ngClass]="{
                    'sample-info-tooltip': !slide.action,
                    'close-sample-info': slide.action
                  }"
                  (click)="showTooltip($event, k)"
                ></a>
              </p>
              <p class="text-center sample-quantity">30ml sample</p>
              <p class="text-center sample-quantity">
                <button
                  (click)="onAddItem($event,slide, k)"
                  class="btn-default carousel-add-now "
                  [ngClass]="{
                    'sample--block': !slide.disabled,
                    'sample--hide': slide.disabled
                  }"
                  [disabled]="slide.status == 'pending'"
                >
                  Add
                </button>
                <button
                  (click)="onRemoveItem(slide, k)"
                  class="btn-default carousel-remove-now "
                  [ngClass]="{
                    'sample--block': slide.disabled,
                    'sample--hide': !slide.disabled
                  }"
                >
                  Remove
                </button>
              </p>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <form [formGroup]="giftMessageForm" custom-focus>
      <app-giftwrap
        [giftMessageForm]="giftMessageForm.get('giftCard')"
      ></app-giftwrap>
    </form>
  </section>

  <div class="basket-footer-container">
    <div class="secure-block">
      <div class="text-uppercase security-label" style="opacity: 1;">
        {{ "securityGauranteed" | translate }}
      </div>
      <div class="payment-gateway-icons rowComponents" style="opacity: 1;">
        <span class="norton-secure"></span>
        <span class="visa-secure"></span>
        <span class="master-card"></span>
        <span class="american-express"></span>
        <span class="vpay-secure"></span>
        <span class="paypal-secure"></span>
        <span class="mb-secure"></span>
      </div>
    </div>
    <div class="order-subtotal-block" *ngIf="totalPriceValue"> 
      <div class="order-subtotal" style="opacity: 1;" *ngIf="cartEntryObj">
        <span> {{ "subTotal" | translate }}</span>
        <span class="">
          {{ cartEntryObj.totalPriceWithTax.formattedValue }}</span
        >
      </div>
      <div>
        <div
          class=" express-check-out  pull-right"
          [hidden]="!showExpress"
        >
        <button class="btn-shop-action express-btn-action" *ngIf="totalPriceValue" (click)="onSecureCheckout(true)">
            <span></span>EXPRESS CHECKOUT
          </button>
        </div>
        <div class="express-check-out">
          <span *ngIf="totalPriceValue">
            <button
              type="button"
              class="btn-shop-action"
              (click)="onSecureCheckout(false)"
              style="opacity: 1;"
            >
              <span></span>{{ "secureCheckout" | translate }}
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
