@import "../../../variable";
.basket-section {
    background: #f6f6f6;
    padding: 24px;
    overflow: hidden;
    color: $edition-color;
    @media screen and (max-width:425px){
        padding:15px;
    }
    .basket-heading {
        h1 {
        font-size: 24px !important;
        display: inline-block;
        margin-bottom: 10px;
        text-align: left;
        padding:0px;
        font-family: $font-century-bold;
        color: $primary-color !important;
        @media screen and (max-width:768px){
           font-size:19px !important;
        }
    }
}
}
ol{ 
  li{
    &.active {           
      height: 27px;        
      position: relative;
      padding: 0px;
      text-align: center;
      background-color: $mb-white;  
      font-size:1.2857em;
  } 
  }
}
.continue-shopping {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    font-size: 1em;
    font-family: $font-century-bold;
    position: relative;cursor: pointer;float:right;color:$edition-color !important ;
    &:hover{
        text-decoration: underline !important;
    }
    span{
        display: inline-block;
        height: 0;
        opacity: 1;
        position: absolute;
        left: 0;
        top: 5px;
        width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    font-size: 0px;
    border-right: 5px solid $primary-color;
}
}
.orders-container{
    border: 1px solid $light-grey;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
    overflow: hidden;
    min-height: 383px;
    background: $mb-white;
    float: left;
    position: relative;
    legend {
        font-size: 18px;
        color: $primary-color;
        border: 0;
        margin: 0 0 12px 0;
        font-family: $font-century-bold;
        @media screen and(max-width:768px) {            
        font-size: 16px;
        }
    }

}

.thumbnails-block .slick-slider{
    display: inherit;
}

.basket-heading .rowComponents{
    justify-content: space-between;align-items: flex-start;margin-bottom: 24px;
    h1,.continue-shopping-div{
        margin-top: 15px;
        @media screen and(max-width:768px) {
            margin-top:0px;
        }
    }
    }
.slick-slider {
    position: relative;
    margin-bottom: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.pick-carousel,
.gift-sample-carousel {
    padding: 0 10px;
    font-size: 1em;
    
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.pick-carousel div.treat-items,
.gift-sample-carousel div.treat-items {
    margin: 0 13px;
    position: relative;
    overflow-y: hidden;
}

.slick-initialized .slick-slide {
    display: block;
  
}

.slick-slide {
    float: left;
    height: auto;
    min-height: 1px;
    display: none;
}

.overlay-sample {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.pick-carousel div.treat-items img,
.gift-sample-carousel div.treat-items img {
    margin: 0 auto;
}

.treat-items img {
    height: auto;
    max-width: 100%;
}

.slick-slide img {
    display: block;
}

.pick-carousel div.treat-items p.treat-product-name,
.gift-sample-carousel div.treat-items p.treat-product-name {
    min-height: 30px;
    margin-bottom: 5px;
    font-size: 1em;

}

.sample-product-info {
    width: 100%;
    display: none;
    color: $primary-color;
    position: absolute;
    z-index: 99;
    top: 20px;
    height: 152px;
    left: 0;
    text-align: center;
    background-color: rgba(234, 232, 232, 0.9);  
    padding: 10px 0;
    background-color: rgba(234,232,232,0.9);
    div {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        height: 132px;
        padding: 0px 10px;
    }
    &::after {
        opacity: .8;
        content: "";
        color: #e8e8e8;
        display: inline-block;
        width: 0;
        height: 0;
        bottom: -10px;
        position: absolute;
        left: 45%;
        vertical-align: middle;
        border-top: 10px solid;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        @media screen and(max-width:768px){
            left:47%;
        }
    }
    
}
     .sample-quantity {
            margin-bottom: 10px;
        font-size: 14px;
    }

.btn-default.carousel-add-now {
    background-color: $mb-white;
    color: $edition-color;
    border: 2px solid $primary-color;
    cursor: pointer;
}

.carousel-add-now {
    margin:0 auto;
    padding: 5px 0;
    text-align: center;
    border: 0;
    width: 140px;
    height: 36px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
}

.btn-default.carousel-remove-now {
    background-color: $mb-white;
    color: $edition-color;
    font-size: 15px;
    border: 2px solid $primary-color;
    cursor: pointer;
}

.carousel-remove-now {
    margin:0 auto;
    padding: 5px 0;
    text-align: center;
    border: 0;
    width: 140px;
    height: 36px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14PX;
    position: relative;
}



.basket-footer-container {
    width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:480px){
        flex-direction:column; 
    }

    .security-label {
        font-size: 0.85em;
    }
    .secure-block{
        display: inline-block;
    }
}

.text-uppercase {
    text-transform: uppercase;
}


    ~ {
        .order-subtotal {
            margin: 15px 0 15px 0;
            width: 235px;
            float: right;
            text-align: right;
            color: $edition-color;
            border: 1px solid $light-grey;
            background: $mb-white;
            font-size: 1.2857142857em;
            padding: 10px;display: flex;
            justify-content: space-between;
        }
        .order-checkout {
            width: 40%;
            float: right;
        }
    }
    @media screen and(max-width:425px){
        
    .order-subtotal-block{
        .express-check-out{
            width:100%;
        }
    }
    }
.order-subtotal {
    line-height: 1.42857;  
    color: $edition-color;
    border: 1px solid $light-grey;
    background: $mb-white;
    width: 235px;
    padding: 10px;height:48px;
    
    @media screen and(max-width:480px) {
        width:100%;margin-top:15px;
    }
    span{
        text-align: left;
        font-size: 1.28em !important;
    }
    span:last-child{
        float: right;
        font-size: 1.28em !important;
    }
}
.pull-left {
    float: left !important;
}

.clearfix {
    clear: both;
}



.express-check-out {
    width: 235px;
    @media screen and (max-width:425px){
         .express-check-out {
    width: 100% !important;
}   
    }

}
@media screen and (max-width:425px) {
    .security-label{
        text-align: center;
    }
    .payment-gateway-icons{
        width:100%;
        justify-content: space-between;
    }
    .basket-heading {
        .rowComponents {
         .col-md-4{
            text-align: center;
            margin-bottom: 10px;
            a{
                float:none !important;
            }
        }
        .express-check-out{
            width: 100% !important;
           input{
            float:none; 
           }  
        }
        h1{
          margin-bottom: 10px;
     }
   } 
  }
}
a.close-sample-info {
    width: 24px;
    text-align: center;
    height: 29px;
    background: url(../../../assets/imgs/info-close-icon.png) 0 -28px no-repeat;
    display: none;
}
a.sample-info-tooltip {
    width: 24px;
    display: inline-block;
    text-align: center;
    height: 29px;
    background: url(../../../assets/imgs/info-close-icon.png) 0 0 no-repeat;
}
a.close-sample-info.showsInlineBlock {
    display: inline-block;    
}



.sample-disabled{
    filter: opacity(0.5);
    opacity: .5;
}
.sample-active{
    filter: opacity(0);
    opacity: 0;
}
.sample{
    z-index: 111;
    outline: none;
    .treat-product-name{
        min-height: 60px !important;
    }
}
.slick-slider{
    z-index: 111;
}

.justify-contents{
    margin-bottom: 10px !important;
}
.gift-msg{
    text-align:center;
}
.sample--block{
    display:block;
   
}
.sample--hide{
  display:none;
}
.sample-quantity{
    button{
        &:focus{
        box-shadow: none;
        outline: none;
    }
   }
}
.btn-shop-action {
    background-color:$mb-btn-bg;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    border: 0;
    background-size: 20px;
    color: $mb-white;
    padding: 12px 18px 12px 40px;
    transition: background-color .3s ease-in-out;
    -webkit-border-radius: 0 !important;
    border-radius: 0;
    -webkit-appearance: button;
    cursor: pointer;
    width:100%;
    text-align: center;
    margin-top:5px;
    &:hover{
        background:$mb-btn-highlight-bg ;
    }
    &.express-btn-action{
        background-color: $mb-express-bg;
        &:hover{
            background:$mb-express-bg;
        }
    }
    @media screen and (max-width:425px){
        margin-top:15px;
    }  position: relative;
    span{
        position: relative;
     &::before{
        content: "";
        display: inline-block;
        background: url(../../../assets/imgs/padlock-white.png) no-repeat 0 center;
        position: absolute;
        height: 24px;
        left: -30px;
        top: -7px;
        width: 20px;
        z-index: 1;} 
    }
}