<div class="my-account" *ngIf="updateProfile; else editProfileBlock">
  <h2>Address Book</h2>
  <p>
    Save time every time you place an order. Create and manage multiple
    addresses here, you can edit your address information at any time.
  </p>
  <div class="col-sm-12 edit-profile">
    <h3>Address Book</h3>

    <div class="makeDefault relativeness profile_adrss" *ngIf="addressList">
      <b>Default Shipping Address</b>
      <a
        class="contextual-help"
        show-delay="100" ngbTooltip="{{'login.defaultShippingAdd'|translate}}" placement="right" 
      ></a>
    </div>
    <div class="rowComponents">
      <div
        class="col-sm-4 addressSize padding-top-15"
        *ngFor="let data of addressList"
      >
        <div class="address-book">
          <div class="locality" *ngIf="data.firstName">
            {{ data.firstName }}&nbsp;{{ data.lastName }}
          </div>
          <div class="adr">
            <div class="street-address" *ngIf="data.line1">
              {{ data.line1 }}
            </div>
            <div class="street-address" *ngIf="data.line2">{{ data.line2 }}</div>
            <div class="locality" *ngIf="data.town">
              {{ data.town }}
            </div>
            <div class="postal-code" *ngIf="data.postalCode">{{ data.postalCode }}</div>
            <div *ngIf="data.district">
              {{ data.district }}
            </div>
            <div *ngIf="data.country">
              {{ data.country.name }}
            </div>
          </div>
          <div class="tel">{{ data.phone }}</div>
        </div>
        <p><a title="Edit" (click)="onEditAddress(data)">Edit</a></p>
        <p [hidden]="data.defaultAddress">
          <a title="" (click)="onRemoveAddress(data)">Remove</a>
        </p>
        <p [hidden]="data.defaultAddress">
          <a title="" (click)="onSetDefaultAddress(data)">Default</a>
        </p>
      </div>
    </div>
  </div>
  <app-customer-profile-form
    (cancelUpdate)="cancelUpdate($event)"
    [customerId]="customerId"

  ></app-customer-profile-form>
</div>

<ng-template #editProfileBlock>
  <div class="my-account">
    <h2 class="title profile">Edit Address book</h2>
    <p>After you've made the desired changes, click Save.</p>
    <app-customer-profile-form
      [updateAddress]="customerUpdate"
      [customerId]="customerId"
      (cancelUpdate)="cancelUpdate($event)"
      [customerData]="customerData"
    ></app-customer-profile-form>
  </div>
</ng-template>
