
@import"./../../../variable";
.my-account {
    width: 764px;
    padding: 5px 0;
    min-height: 230px;
    @media screen and(max-width:$screen-sm) {
          width:96%;  
          min-height: 190px;
          margin: 15px auto;
    }
    h2 {
        font-size: 28px;
        margin-bottom: 0;
        padding: 0 0 14px 0;
        color: $primary-color;
    }
    h6{
        font-weight: bold;
    font-size: 14.4px;
    color: $primary-color!important;
    padding-left: 0!important;
    padding-bottom: 10px;
    }
    p {
        color: #260e03!important;
        line-height: 20px;
        font-size: 13px!important;
    }
    .edit-profile {
        border: 1px solid #aaa;
        padding: 20px 10px;
        padding: 20px 10px;
        margin: 15px 0;
        float: left;
        h3{
            font-weight: bold;
            font-size: 14px;
            color: $primary-color!important;
            padding-left: 0!important;
        }
        .addressSize{
           .address-book, p a{
            font-size:12px;
        } 
        
        } 
    }
    .relativeness {
        position: relative;
    }
    .profile_adrss{
        width:25%;
        @media screen and (max-width:$screen-sm){
            width:100%;
        }
     .contextual-help{
        width:25px;
        height: 25px;
        left: 155px;
        top: 50%;
        right:15px;
        transform: translateY(-50%);
        background-size: 7px;
        @media screen and (max-width:$screen-sm){
            right:-10px;
        }
     }
    }
    .makeDefault {
        padding-bottom: 14px;
        padding: 20px 0 15px 0;
        b{
            font-size:12px !important;
        }
    
    }
}



h6{
font-weight: bold;
font-size: 1.2em;
color: $primary-color!important;
padding-left: 0!important;
}
.addressSize {
    a{
    text-decoration: underline !important; 
    cursor: pointer;
  }
}
