<div *ngIf="billingAddress;else changeBillingAddress">
    <form  [formGroup]="sepaDetailForm"  (ngSubmit)="onSepaDetailSubmit($event)" custom-focus>
    <section>
      <div class="section-heading">
        <h2>Your billing address</h2>
      </div>
      <div style="display:block">
        <div class="payer-saved-address clearfix">
          <div>
            <div class="saved-address clearfix">
          
                <p *ngIf="shippingAddress.customerAddress">
                      <!-- <input type="hidden" formControlName="billingForm" [value]="shippingAddress.customerAddress" > -->
                    <span *ngIf="shippingAddress.customerAddress.line1">
                      {{ shippingAddress.customerAddress.line1 }}
                    </span>
      
                    <span *ngIf="shippingAddress.customerAddress.line2">
                      {{ shippingAddress.customerAddress.line2 }}
                    </span>
                    <span *ngIf="shippingAddress.customerAddress.town">
                      {{ shippingAddress.customerAddress.town }}
                    </span>
      
                    <span *ngIf="shippingAddress.customerAddress.postalCode">
                      {{ shippingAddress.customerAddress.postalCode }}
                    </span>
                    <span *ngIf="shippingAddress.customerAddress.country">
                      {{ shippingAddress.customerAddress.country.name }}
                    </span>
                    <span *ngIf="shippingAddress.customerAddress.phone">
                      {{ shippingAddress.customerAddress.phone }}
                    </span>
                  </p>
              <a class="change-address-btn" title="Change billing address" (click)="onChangeBillingAddress()">
                Change billing address
              </a>
            </div>

            <div class="form-group form-checkbox">
              <div class="checkbox bl_checkbox">
                <input 
                  style="padding-top: 0px;" 
                  type="checkbox" 
                  formControlName="billingForm"
                  
                  class="checkbox"
                  [ngClass]="{ 'has-error  not-valid':!sepaDetailForm.controls['billingForm'].valid &&  sepaDetailForm.get('billingForm').touched}"
                  >
                <label  class="terms-lbl" 
                [ngClass]="{ 'terms-not-valid':!sepaDetailForm.controls['billingForm'].valid &&
                sepaDetailForm.get('billingForm').touched }"
                 >This is my correct billing address.*</label>

                <div class="terms-error-msg-bottom error-block"
                *ngIf="(getTypeOf(sepaDetailForm.value['billingForm'])) ||(!sepaDetailForm.controls['billingForm'].valid &&  sepaDetailForm.get('billingForm').touched) ">
                <span class="check-error-msg-bottom" [hidden]="!sepaDetailForm.controls['billingForm'].errors.required">
                    ! Please confirm your billing address is correct or use link to
                    change billing address
                </span>
              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section>
 
            <div class="form-group">
                <label class="sr-only">IBAN*</label>
                <input
                    autocorrect="off"
                    autocomplete="off"
                    placeholder="IBAN*" 
                    formControlName="iban"
                    type="text"
                    class="form-control  mandatory" 
                    [ngClass]="{
                        'has-error  not-valid': !sepaDetailForm.get('iban').valid && sepaDetailForm.get('iban').touched,
                        'valid':sepaDetailForm.get('iban').valid,'invalid':!sepaDetailForm.get('iban').valid}"
                  >
                  <div *ngIf="(!sepaDetailForm.controls['iban'].valid &&  sepaDetailForm.get('iban').touched)||(isValidFormSubmitted != null && !isValidFormSubmitted)" class="not-valid-error-msg">
                      <span   *ngIf="sepaDetailForm.controls['iban'].errors.required">
                        What is the IBAN on your card?
                      </span> 
                      <span   *ngIf="sepaDetailForm.controls['iban'].errors.patternInvalid">
                          What is the IBAN on your card?
                        </span>                    
                    </div>
            </div>
            <div class="form-group">
                <label class="sr-only">BIC (optional)</label>
                <input autocorrect="off" autocomplete="off" placeholder="BIC (optional)"
                formControlName="bic"    type="text" class="form-control  mandatory" >
            </div>
            <div class="form-group">
                <label class="sr-only">Bank*</label>
                <input 
                  autocorrect="off"
                  autocomplete="off" 
                  placeholder="Bank*"
                  formControlName="bankName"
                  type="text"
                  class="form-control  mandatory"
                  [ngClass]="{
                    'has-error  not-valid': !sepaDetailForm.get('bankName').valid && sepaDetailForm.get('bankName').touched,
                    'valid':sepaDetailForm.get('bankName').valid,'invalid':!sepaDetailForm.get('bankName').valid}"
              >
              <div *ngIf="(!sepaDetailForm.controls['bankName'].valid &&  sepaDetailForm.get('bankName').touched)||(isValidFormSubmitted != null && !isValidFormSubmitted)" class="not-valid-error-msg">
                  <span   *ngIf="sepaDetailForm.controls['bankName'].errors.required">
                    What is the BankName on your card?
                  </span> 
                  <span   *ngIf="sepaDetailForm.controls['bankName'].errors.patternInvalid">
                      What is the BankName on your card?
                    </span>                    
                </div>
                  
            </div>
            <div class="form-group">
                <label class="sr-only">First name*</label>
                <input 
                  autocorrect="off" 
                  autocomplete="off" placeholder="First name*"
                  formControlName="firstName"
                  type="text"
                  class="form-control  mandatory"
                  [ngClass]="{'has-error  not-valid': !sepaDetailForm.get('firstName').valid && sepaDetailForm.get('firstName').touched,'valid':sepaDetailForm.get('firstName').valid,'invalid':!sepaDetailForm.get('firstName').valid}"
                  required>
                  <div *ngIf="(!sepaDetailForm.controls['firstName'].valid &&  sepaDetailForm.get('firstName').touched)||(isValidFormSubmitted != null && !isValidFormSubmitted)" class="not-valid-error-msg">
                    <span   *ngIf="sepaDetailForm.controls['firstName'].errors.required">
                      What is the first name on your card?
                    </span> 
                    <span   *ngIf="sepaDetailForm.controls['firstName'].errors.patternInvalid">
                        What is the first name on your card?
                      </span>                    
                  </div>
            </div>
            <div class="form-group">
                <label class="sr-only">Last name*</label>
                <input 
                 autocorrect="off"
                 autocomplete="off" placeholder="Last name*"
                 formControlName="lastName"
                 type="text"
                 class="form-control  mandatory" 
                 [ngClass]="{'has-error  not-valid': !sepaDetailForm.get('lastName').valid && sepaDetailForm.get('lastName').touched,'valid':sepaDetailForm.get('lastName').valid,'invalid':!sepaDetailForm.get('lastName').valid}"
                 required>
                 <div *ngIf="(!sepaDetailForm.controls['lastName'].valid &&  sepaDetailForm.get('lastName').touched)||(isValidFormSubmitted != null && !isValidFormSubmitted)" class="not-valid-error-msg">
                   <span   *ngIf="sepaDetailForm.controls['lastName'].errors.required" >
                     What is the last name on your card?
                   </span> 
                   <span   *ngIf="sepaDetailForm.controls['lastName'].errors.patternInvalid" >
                       What is the last name on your card?
                     </span>                    
                 </div>
            </div>
            <app-mb-terms 
            [formType]="sepaDetailForm.get('terms')"
              (setTerms)="onSetTerms($event)"
              (setPolicyTerms)="onSetPolicyTerms($event)"
            >
          </app-mb-terms>
      
    </section>
  </form>
  </div>
  <ng-template #changeBillingAddress>
    <app-billing-address
        [shippingUserAddress]="shippingAddress"
        (onSetBillingAddress)="onSetBillingAddress($event)" 
        [payType]="payType"
        (onResetAddress)="onResetAddress()"
        ></app-billing-address>
  </ng-template>
  <div [ngClass]="{'overlay-bg-show':loading,'overlay-bg-hide':!loading}">
    <app-loading></app-loading>
  </div>
  