@import "../../../variable";
.registration_form{
    width: 100%;
    padding: 20px 10px;
    margin: 12px 0 15px;
    border: 1px solid #aaaaaa;
    @media screen and(max-width:$screen-sm){
        width:100%;
    }
    .required_text{
        font-size:12px;
    }
    h2 {
        font-weight: bold;
        font-size: 14px;
    }
    .col-xs-12{
        width: 100%;
        margin-bottom: 5px;
        padding: 10px 0 0 0;
    }
    label{
        font-size: 12px;
    }
}
.redcolor {
    color: $err-color;
}
.register_label{
    float:right;
    padding-top: 5px;
    color: #535353;
    font-weight:normal;
    @media screen and(max-width:$screen-sm){
       float: left;
    }
}
.no-padding{
    padding:0;
}

.login_fields .contextual-help ~.not-valid, .login_fields .contextual-help ~.valid {
    background-position: 92% 4px !important;
}
.register-in {
    padding: 3% 0 0 0;
    margin: 10px 0px;
    font-size: 28px ;
    @media screen and(max-width:$screen-sm){
        display: block;
        overflow: hidden;
        padding: 15px;
        margin: 0;
        font-size: 15px;
        font-weight: bold;
        color: $mb-white;
        background: #90d2c5;
    }
}
.registration_form{
p {
    color: #260e03!important;
    line-height: 20px;
    font-size: 13px!important;
}
select {
    width: 250px!important;
    height: 25px!important;
    padding: 0 5px!important;
}
}
.defualt_shipping_label{
   font-size:12px; 
}
.update_btn{
    position: absolute;
    bottom: 5px;
}

input[type="text"].form-control,
input[type="tel"].form-control {
&.not-valid{
    background-position:95% 2px !important;
    background-size:4px !important;
}
}
.customer_profile-form{
   .update_btn{
    padding: 15px;
    position: relative;
    top: -98px;
    width: 67%;
    z-index: 111;
    float: left;
 }
}

.not-valid-postcode{
        border: 1px solid  $mb-error-bg !important;
        background-image: url(https://www.moltonbrown.co.uk/images/exclamation-symbol.png);
        background-position: 93% 0px;
        background-repeat: no-repeat;
}
.postcode-status{
    position: absolute;
    bottom: 100%;
    background-color: $mb-error-bg;
    color: $header-color-white;
    padding: 10px;
    left: 6%;
    text-align: center;
    width: 88%;
    z-index: 9;
    &::after{
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border: 0;
        left: 5%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background: $mb-error-bg;
        bottom: -7px;
    }
  }