<div class="container store-service-point">
  <div class="rowComponents mt-10 find-store">
    <div class="col-sm-6 find-store-search" *ngIf="loadGMscript">
      <h1>Store Finder </h1>
      <div class="form-inline">
        <input
          placeholder="Enter a city, town or postcode"
          googlePlaces
          [(ngModel)]="storeName"
          (onSelect)="setAddress($event)"
        />
        <button class="btn btn-default findStore">Search</button>
      </div>
    </div>
  </div>
  <div class="store-view" *ngIf="storesList"> {{uniqStoreList}}&nbsp;results found</div>
  <div class="rowComponents mt-10  mb-stores">
    <div class="col-sm-6">
      <ul class="mb-stores-check-list">
        <li *ngFor="let data of storeTypeList;let k=index;">
          <label
            ><input
              type="checkbox"
              id="stores"
              [checked]="data.checked"
              (change)="onChangeStoreBy($event, data,k)"
            /><span>{{ data.name }}</span></label
          >
        </li>
      </ul>
      <div class="find-store-filter-list">
        <div *ngFor="let storeData of storesList;let k=index">
         <div class="store" *ngIf="storeData.header">
          <h3>{{storeData.name}}</h3>
         </div>
         <div  class="mb-stores-list" *ngIf="!storeData.header">
          <div class="mb-stores-left-cntnt">
            <div class="img-con">
              <img [src]="storeData.image"/>
            </div>
            <div class="mb-stores-detail">
              <h4>
                <a (click)="onFindStoreDetail(storeData)">{{ storeData.name }}</a>
              </h4>
              <p>
                <span *ngIf="storeData.address.line1">{{
                  storeData.address.line1
                }}</span
                >&nbsp;<br />
                <span *ngIf="storeData.address.line2">{{
                  storeData.address.line2
                }}</span
                >&nbsp;<br />
                <span *ngIf="storeData.address.town">{{
                  storeData.address.town
                }}</span
                ><br />
                 <span *ngIf="storeData.address.postalCode">{{
                  storeData.address.postalCode
                }}</span
                ><br />
                <span *ngIf="storeData.address.country">{{
                  storeData.address.country.name
                }}</span>
              </p>

              <div class="mb-stores-open-time">
                <p *ngIf="storeData.currentOpenHour">
                  Open today {{ storeData.currentOpenHour.openingTime }}
                </p>
              </div>
            </div>
            <div class="showmore_trigger">
              <span
                class="more"
                (click)="onShowDt(true,k)"
                *ngIf="!storeData.show"
                >More Details</span
              >
              <span
                class="less"
                (click)="onShowDt(false,k)"
                *ngIf="storeData.show"
                >Less Details</span
              >
            </div>
            <div class="showmore_one" *ngIf="storeData.show">
              <div class="showmore_content">
                <div class="opening-hours">
                  <h4>Opening Hours</h4>
                  <ul class="openinghrs-list">
                    <li *ngFor="let kaoStor of storeData.kaoOpeningHoursList">
                      <span class="days">{{ kaoStor.day }}</span>
                      <span class="time">{{ kaoStor.openingTime }}</span>
                    </li>
                  </ul>
                </div>
                <div class="telephone">
                  <h4>Telephone</h4>
                  <p>{{ storeData.address.phone }}</p>
                </div>
                <div class="map-links clearfix">
                  <a (click)="onFindStoreDetail(storeData)">Store Details</a>
                  <a (click)="onFindStoreDirection(storeData)"
                    >Get Directions</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="mb-stores-right-cntnt">
            <div class="shop-imgcon"></div>
            <div class="shop-dist">
              <p>{{ storeData.formattedDistance }}</p>
            </div>
          </div>
       </div>

        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-stores-locator" *ngIf="loadGMscript">
      <app-store-locator
        [openHourWindow]="openHourWindow"
        [storePoints]="storePointList"
      ></app-store-locator>
      <div class="map-footer"></div>
    </div>
  </div>
</div>
