@import "../../../variable";
.pager-cntnt{
  position: relative;
  z-index: 333;
  float:right;
  @media(max-width: $screen-sm){
    float: left;
  }
}
.pagination-container {
    text-align: right;
    .pagination {
      display: inline-block;
      a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        &.active {
          background-color: #4caf50;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
  
  .paginations {
    display: block !important;

  }
  .pagination {
    padding: 0 10px;
    @media screen and (max-width:768px) {
       background-color: #f1f1f1;
    }
   

}
  .page-link {
    background-color: $mb-white;
    font-size: 12px;
    color: #999 !important;
    &:hover {
      background: transparent;
    }
  
  }
  .page-link {
    color: $edition-color;
    line-height: 1;margin-left: 0px;
    @media screen and (max-width:768px) {      
    padding: 0.5rem 13px 0.5rem 13px;
    }
    padding:  0.5rem 1px 0.5rem 5px;
    font-size: 13px;
    &.next {
      padding-bottom: 0;
      padding-top: 5px !important;
      &:hover {
        background: transparent;
      }
    }
  }

  .page-active {
    a {
      font-size: 13px;
      color: $primary-color !important;
      font-weight: 700;
      line-height: 12px;
      font-style: normal;
    }
  }
  .page_viewAll {
    display: inline-block;
    width: auto;
    height: 30px;
    float: left;
    line-height: 22px;
    // padding-top: 3px;
    a {
      line-height: 14px;
      margin: 0;
      text-decoration: underline !important;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      cursor: pointer;
      color: $edition-color !important;
      vertical-align: bottom;
    }
  }
  @media(max-width:$screen-sm){
    .navigation {
        display: block !important;
      }
  }
  
.navigation {
    display: none;
  }
  .pagination li:first-child a,
.paginations li:last-child a {
  padding-top: 4px;
}
a.pagePrevImg, a.pagePrevImg:hover{
     
  background: url("../../../assets/imgs/Left_Previous_Arrow.gif")no-repeat 2px center !important;
  width: 19px;
  height: 19px;
  display: block;
  margin-top: 7px;
 
  @media screen and(max-width:768px) {
    background: url(../../../assets/imgs/arrow_pagination.png) no-repeat 0 -15% !important;
    padding: 0!important;
    width: 9px!important;
    height: 20px;
    text-indent: -999px;
  }
}
a.pageNxtImg,  a.pageNxtImg:hover{
  background: url("../../../assets/imgs/Right_Next_Arrow.gif") no-repeat 2px center !important;
  width: 19px;
  height: 19px;
  display: block;
  margin-top: 5px;
  @media screen and(max-width:768px) {
    background: url(../../../assets/imgs/arrow_pagination.png) no-repeat 86% -15% !important;
    padding: 0!important;
    width: 9px!important;
    height: 20px;
    text-indent: -999px;
  }
}

.page-item{
  cursor: pointer;
}
.page_viewAll1{
  display:none;
  @media screen and(max-width:768px) {
    display: inline-block;
    margin-left:auto;
    width: auto;
    height: 30px;
    padding-top: 3px;
a{
    padding-top: 6px;
    line-height: 14px;
    margin: 0;
    text-decoration: underline !important;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    color: $edition-color !important;
    vertical-align: bottom;
}
  
  }
}
.page_viewAll{
  display :inline-block;
  @media screen and(max-width:768px) {
display: none;
  }
}
@media screen and (max-width: $screen-sm) {
  .rowCompts {
    width: 100% !important;
    position: static !important;
    flex-direction: row-reverse !important;
    -webkit-flex-direction: row-reverse !important; /* Safari 6.1+ */
  }
  .col25 {
    width: 25% !important;
  }
}
.rowCompts {
  min-width: 150px;
  position: absolute;
  top: 15px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}