

<nav class="breadcrumb-nav">
  <div class="container">
    
  <ul class="flex-align space-between">
      <li>
          <a href="/store/features/"  class="text-link">
              <span class="arrow-left"></span><span class="black-color">More Stories</span>    
          </a>
      </li>
      <li><a href="/store/features/" class="text-link">Features</a> / <a href="/store/features/#know"><span class="black-color1 font-weight-bold">In The Know</span></a></li>
  </ul> 
  </div>
</nav>
<section class="container heritage" style="margin-top:25px;">
  <div #heritageEl></div>

</section>
