@import "../../../variable";

.section-giftmessage {
    width: 100%;
    margin: 20px 0;
    float: left;
    border: 1px solid $light-grey;
    padding: 20px;
    background-color: $mb-white;
    position: relative;
    min-height:205px;
  
    img{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    legend {
        position: relative;
        font-size: 18px; color: $primary-color;
        font-family:$font-century-bold;
        margin: 0 0 12px 0;
        @media screen and(max-width:768px){
font-size: 16px;
        }
    }
    .form-giftSampleHeader {
        padding-bottom: 12px;
        .form-checkbox {
            padding-top: 5px;
        }
        .form-group {
            margin: 0;
            position: relative;
        }
    }
}
.form-checkbox{
    padding-top: 5px;
}
.form-group {
    margin-bottom: 0px;
}
@media screen and (max-width:$screen-sm) {

    .section-giftmessage img{
        display: none;
    }
   
}

.gift-box{
    input[type="checkbox"]{
      &:disabled{
        cursor: not-allowed;
        ~{
            label{
                color: #dddbdb;
                &::before{
                    background-color: #dddbdb;
                    border:1px solid #dddbdb;
                }
            }
        }
      }
   }
}

.gift-message {
    position: relative;
    width: 335px;
    display: none;
    textarea{
        width:335px;
        border-radius: 0;
        text-align: center;
        resize: both;
        height: auto;
        } 
    .form-control:focus {
        border-color: #66afe9 !important;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6) !important;
    }
    // transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    @media(max-width:480px){
        width:100%;
        padding-top:25px;
    }
    // transition: all .3s linear;
    &.shows{
        height:auto;
        visibility: visible;
        opacity: 1;        
    }
    &.hides{
        height:0;    
        visibility: hidden;
        opacity: 0;  
    }
} 
textarea .form-control{
    border-radius:0px !important;

}
.giftMessageChar{
    width: 100%;
    text-align: right;
}

// textarea.form-control{
//     // -webkit-transition-property: height; /* Safari */
//     // -webkit-transition-duration: 1s; /* Safari */
//     // // -webkit-transition-delay: 2s; /* Safari */
//     // transition-property: height;
//     // transition-duration: 1s;
//     // // transition-delay: 2s;
    
//     // transition: height 1s ease-in-out;
//     // transition: height 1s ease-in;
// }
.gift-msg{
    text-align:center;
}