<section
  class="card-form-section card-entry-form  "
  [formGroup]="group"
  custom-focus
>
  <div class="card_field">
    <span class="custom-dropdown big">
      <select
        formControlName="cardType"
        (change)="onChangeCardType($event)"
        class="mandatory form-control selectDropdowncard selectDropdown "
        [ngClass]="{
          'has-error  not-valid':
            !group.controls['cardType'].valid && group.get('cardType').touched
        }"
      >
        <option value="" selected>Card Type*</option>
        <option value="master">Mastercard</option>
        <option value="amex">American Express</option>
        <option value="visa">Visa</option>
        <option value="visa">Visa Debit</option> 
        <option value="master">MasterCard Debit</option>
      </select>

      <div
        *ngIf="
          (!group.controls['cardType'].valid &&
            group.get('cardType').touched) ||
          (isValidFormSubmitted != null && !isValidFormSubmitted)
        "
        class="not-valid-error-msg"
      >
        <span *ngIf="group.controls['cardType'].errors.required"
          >Please select a card type</span
        >
      </div>
    </span>
  </div>
  <div class="form-group card_field">
    <label class="sr-only">Card Number</label>
    <input
      formControlName="cardNumber"
      autocorrect="off"
      autocomplete="off"
      placeholder="Card number*"
      type="text"
      class="form-control  mandatory"
      required
      [ngClass]="{
        'has-error  not-valid':
          !group.get('cardNumber').valid && group.get('cardNumber').touched,
        valid: group.get('cardNumber').valid,
        invalid: !group.get('cardNumber').valid
      }"
    />
    <div
      *ngIf="
        (!group.controls['cardNumber'].valid &&
          group.get('cardNumber').touched) ||
        (isValidFormSubmitted != null && !isValidFormSubmitted)
      "
      class="not-valid-error-msg"
    >
      <span *ngIf="group.controls['cardNumber'].errors.required">
        What's your card number? This is the long number across the front.
      </span>
      <span
        *ngIf="
          group.controls['cardNumber'].errors.maxlength ||
          group.controls['cardNumber'].errors.minlength || group.controls['cardNumber'].errors.patternInvalid
        "
      >
      This card number doesn't look right. Please check and try again.
      </span>
    </div>
  </div>
  <div class="form-group card_field">
    <label class="sr-only">Card Holder First Name</label>
    <input
      formControlName="firstName"
      autocomplete="off"
      placeholder="Card holder first name*"
      type="text"
      class="form-control  mandatory "
      [ngClass]="{
        'has-error  not-valid':
          !group.get('firstName').valid && group.get('firstName').touched,
        valid: group.get('firstName').valid,
        invalid: !group.get('firstName').valid
      }"
      required
    />
    <div
      *ngIf="
        (!group.controls['firstName'].valid &&
          group.get('firstName').touched) ||
        (isValidFormSubmitted != null && !isValidFormSubmitted)
      "
      class="not-valid-error-msg"
    >
      <span *ngIf="group.controls['firstName'].errors.required">
        What is the first name on your card?
      </span>
      <span *ngIf="group.controls['firstName'].errors.patternInvalid">
        What is the first name on your card?
      </span>
    </div>
  </div>
  <div class="form-group card_field">
    <label class="sr-only">Card last Name</label>
    <input
      formControlName="lastName"
      autocomplete="off"
      placeholder="Card holder last name*"
      type="text"
      class="form-control  mandatory "
      [ngClass]="{
        'has-error  not-valid':
          !group.get('lastName').valid && group.get('lastName').touched,
        valid: group.get('lastName').valid,
        invalid: !group.get('lastName').valid
      }"
      required
    />
    <div
      *ngIf="
        (!group.controls['lastName'].valid && group.get('lastName').touched) ||
        (isValidFormSubmitted != null && !isValidFormSubmitted)
      "
      class="not-valid-error-msg"
    >
      <span *ngIf="group.controls['lastName'].errors.required">
        What is the last name on your card?
      </span>
      <span *ngIf="group.controls['lastName'].errors.patternInvalid">
        What is the last name on your card?
      </span>
    </div>
  </div>
  <legend class="card-expire">Expires</legend>
  <div class="monthYearAlign ">
    <span class="custom-dropdown big card_field small-dropdown">
      <select
        formControlName="month"
        autocomplete="off"
        class="mandatory form-control selectDropdown"
        [ngClass]="{
          'has-error  not-valid':
            !group.controls['month'].valid && group.get('month').touched
        }"
      >
        <option value=""  selected >Month* </option
        ><option *ngFor="let month of expireMonth">{{ month.month }}</option>
      </select>
      <div
        *ngIf="
          (!group.controls['month'].valid && group.get('month').touched) ||
          (isValidFormSubmitted != null && !isValidFormSubmitted)
        "
        class="not-valid-error-msg"
      >
        <span *ngIf="group.controls['month'].errors.required"
          >Please select a month.</span>
          <span *ngIf="group.controls['month'].errors.incorrect"
          >Please select appropriate month .</span>
      </div>
    </span>
    <span class="custom-dropdown big card_field small-dropdown">
      <select
        formControlName="year"
        autocomplete="off"
        class="mandatory form-control selectDropdown"
        [ngClass]="{
          'has-error  not-valid':
            !group.controls['year'].valid && group.get('year').touched
        }"
      >
        <option value="" selected >Year* </option
        ><option *ngFor="let month of expireYear">{{ month.year }}</option>
      </select>
      <div
        *ngIf="
          (!group.controls['year'].valid && group.get('year').touched) ||
          (isValidFormSubmitted != null && !isValidFormSubmitted)
        "
        class="not-valid-error-msg"
      >
        <span *ngIf="group.controls['year'].errors.required"
          >Please select a year.</span
        >
      </div>
    </span>
  </div>
  <div *ngIf="!newCard" class="securityCode card_field">
    <label class="sr-only">Cvv</label
    ><a
      class="contextual-help"
      show-delay="100"
    ></a>
    <!-- {{ group.controls['cvv'].errors| json}} -->
    <input
      autocomplete="off"
      formControlName="cvv"
      placeholder="Security code"
      type="text" 
      [attr.minlength]="maxLength"
      [attr.maxlength]="maxLength"
      class="form-control  mandatory"
      [ngClass]="{
        'has-error  not-valid':
          !group.get('cvv').valid && group.get('cvv').touched,
        valid: group.get('cvv').valid,
        invalid: !group.get('cvv').valid
      }"
    />
    <div
      *ngIf="
    
        !group.controls['cvv'].valid &&
        group.get('cvv').touched
      "
      class="not-valid-error-msg"
    >
      <span [hidden]="!group.controls['cvv'].errors.required"
        >What is the security code on your card?</span
      >
      <span [hidden]="!group.controls['cvv'].errors.patternInvalid"
        >This security code doesn't look right. It must be between 3 and 4
        characters.</span
      >
      <!-- <span *ngIf="group.controls['cvv'].errors.invalid"
        >This security code doesn't look right. It must be between 3 and 4
        characters.</span
      > -->
    </div>
  </div>
</section>
<!-- <div>cd card</div> -->
