<div>
  <div
    class="order-summary-container"
    *ngIf="cartData"
    [ngClass]="{ 
      'order-sm-block': showCart, 
      'order-sm-hide': !showCart 
    }"
  >
    <button class="btn-show-order return-checkout" (click)="onReturnCheckOut()">
      Return to checkout
    </button>
    <div class="order-summary clearfix">
      <div class="order-summary-head">
        <h2>Your order</h2>
        <a (click)="onEditBasket($event)" class="link-edit-basket"> Edit basket</a>
      </div>
      <div class="order-summary-product-lists">
        <div
          class="order-summary-product-row clearfix"
          *ngFor="let data of cartData.entries"
          [hidden]="data.product.isSample"
        >
          <div class="order-summary-product-name">
            <span
              class="product-content"
              *ngIf="!data.isBundle; else bundleType"
            >
              {{ data.product.productDisplayName }}
            </span>
            <ng-template #bundleType>
              <div *ngIf="data.bundleTemplateId">
                <span class="order-product-name">
                  <a> {{ getBundleContent(data) }}</a>
                </span>
              </div>
              <a
                (click)="onShowProductDtls(bottle[j])"
                *ngFor="let bottle of data['product']; let j = index"
              >
                <ul *ngIf="!bottle.product.isSample">
                  <li>
                    <span
                      >{{
                        getBundleProductQuntity(data, bottle)
                      }}&nbsp;&#10005;&nbsp;</span
                    >
                    {{ bottle.product.productDisplayName }}
                  </li>
                </ul>
              </a>
              <ul
                class="bundle-list"
                *ngIf="data['product'][0]['isTravelPouchSelected']"
              >
                <li>
                  <span>1&nbsp;&#10005;&nbsp;</span>
                  Travel Pouch
                </li>
              </ul>
            </ng-template>
            <div class="order-product-size_checkoutSummary OneLinkTxShow" *ngIf="deSiteSpecific">
              {{ data.product.size }}
            </div>
            <div class="refPrice OneLinkShow">
              <span class="product-base-price"></span>
            </div>
          </div>
          <div class="order-summary-product-count">
            x&nbsp;<span>{{ data.quantity }}</span>
          </div>
          <div class="order-summary-product-price price-format">
            <span
              *ngIf="data.isBundle"
              [innerHtml]="getBundleTotalPrice(data)"
            ></span>
            <span
              *ngIf="!data.isBundle"
              [innerHtml]="getTotalPrice(data)"
            ></span>
          </div>
        </div>

        <div
          class="clearfix os-sample"
          *ngFor="let data of cartData.entries"
          [hidden]="!data.product.isSample"
        >
          <h5>Sample(s)</h5>
          <div class="order-summary-product-row">
            <div>
              {{
                data.product.productDisplayName
                  ? data.product.productDisplayName
                  : data.product.name
              }}
              <div class="order-product-size_checkoutSummary OneLinkTxShow">
                {{ data.product.size }}
              </div>
              <div class="refPrice OneLinkShow">
                <span class="product-base-price"></span>
              </div>
            </div>

            <div class="price-format os-sample-price">
              FREE
            </div>
          </div>
        </div>
        <div *ngIf="cartData">
          <hr
            *ngIf="cartData.isGiftBox"
          />
          <div class="order-summary-gift-block">
          <div
            class="order-summary-subtotal clearfix order-summary-subtotal-gift"
            *ngIf="cartData.isGiftBox"
            style="border:0;"
          >
            <h5 class="order-summary-subtotal-label">Gift box</h5>
            <div class="order-summary-subtotal-price price-format">
            <span>FREE</span>  
            </div>
          </div>
          <div *ngIf="cartData.isGiftBoxMessage" class="order-summary-subtotal-message">
            <div class="order-summary-subtotal clearfix order-summary-subtotal-gift-message" style="border:0;">
              <h5 class="order-summary-subtotal-label">Gift message</h5>
              <div class="order-summary-subtotal-price price-format"> 
                <span>FREE</span> 
              </div>
            </div>

            <div
              class="text-right view-edit-message"
              [@openClose]="!editMessage ? 'open' : 'closed'"
            >
              <a (click)="onViewMessage(data)">View & edit message</a>
            </div>
            <!-- <ng-template #messageBlock> -->
              <div class="gift-message-block" [@openClose]="editMessage ? 'open' : 'closed'" >
                <textarea
                  maxlength="250"
                  rows="5"
                  [(ngModel)]="giftMessage"
                  (input)="onChangeText($event)"
                  placeholder="Please enter a message up to 250 characters (including spaces)*"
                ></textarea>
                <div class="text-right edit-message">
                  <a (click)="onChangeMessage()"
                    >Save Changes<span>({{ textlength }})</span></a
                  >
                </div>
              </div>
            <!-- </ng-template> -->
          </div>
        </div>
        </div>
      </div>

      <div id="subtotal_delivery_total" *ngIf="cartData">
        <div class="order-summary-subtotal clearfix">
          <h5 class="order-summary-subtotal-label">Subtotal</h5>
          <div class="order-summary-subtotal-price price-format">
            <span>{{ cartData.subTotal.formattedValue }}</span>
          </div>
        </div>
        <div class="order-summary-delivery clearfix">
          <h5 class="order-summary-delivery-label">Delivery</h5>
          <div class="order-summary-delivery-con">
            <span>{{
              (cartData.deliveryCost)
                ? cartData.deliveryCost.formattedValue
                : "TBC"
            }}</span>
          </div>
        </div>
        <div
          class="order-summary-delivery clearfix"
          *ngIf="usSpecific && cartData.totalTax"
        >
          <h5 class="order-summary-delivery-label">Sales Tax</h5>
          <div class="order-summary-delivery-con">
           <span>
              {{ (usSaleTax) ? cartData.totalTax.formattedValue : "TBC" }}
            </span>
          </div>
        </div>
        <div class="order-summary-total clearfix">
          <h3 class="order-summary-total-label">Total to pay</h3>
          <div class="order-summary-total-price price-format">
             <span>
               {{ cartData.totalPriceWithTax.formattedValue }}
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="payment-gateway-icons mobileDisplayNone" style="opacity: 1;">
    <span class="visa-secure"></span>
    <span class="master-card"></span>
    <span class="american-express"></span>
    <span class="vpay-secure"></span>
    <span class="paypal-secure"></span>
    <span class="mb-secure"></span>
  </div>
  <div class="required-information clearfix">* Required information</div>
</div>

<div class="mb-overlay" [ngClass]="{ 'mb-overlay-block': showCart }"></div>
