@import "./../../../variable";
.mb-breadcrumb {
    background: $mb-white;
    color: #9d9799;
    display: block;
    overflow: hidden;
    padding: 20px 0 16px 0!important;
    position: relative;
    z-index: 444;
    a {
        color: #666;
        text-align: left;
        text-transform: uppercase;
         line-height: 11px;
        padding-right: 0;
        padding-left: 5px;
        cursor: pointer;
        &::after {
            content: '>';
            padding-left: 5px;
        }
        &:last-child {
                color: $primary-color;
            &::after {
                content: '';
            }
        }
    }
 
}
@media(max-width:$screen-sm){
    .mb-breadcrumb{
        background-color: #eeeeef;
        padding: 7px 0px 5px !important;
        display: none;
    }
}