<div class="checkout-container justify-content-center sample-container" >
    
    <div class="step-indicator clearfix">
        <ol>
                <li class="step active" [ngClass]="{'current':basket}">{{ getBasketTabText('basketBC') |translate}} </li>
                <li class="step active" [ngClass]="{'current':sample}"> {{getBasketTabTextSample('sampleAndGiftBox') | translate}}</li>
                <li class="step active" [ngClass]="{'current':confirmation}">{{getBasketTabTextCheckout('checkout') | translate}}</li>
        </ol>
         </div>
    <router-outlet></router-outlet>
</div>
