<div #myPanel id="myPanel"></div>
<div class="store_finder">
    <agm-map
        [latitude]="storeData.geoPoint.latitude" 
        [longitude]="storeData.geoPoint.longitude"
        [scrollwheel]="true"
        [zoom]="zoom"
        [fullscreenControl]='true'
        [mapTypeControl]='true'>
        <agm-marker     
        [latitude]="storeData.geoPoint.latitude"
        [longitude]="storeData.geoPoint.longitude" 
        clickableIcons="true"
        [iconUrl]="storeData['storeAssets']['url']"
        style="width:24px;"  
        >
        <agm-direction
        *ngIf="dir"
        id="agmDirection"
        [origin]="dir.origin" 
        [destination]="{ lat: storeData.geoPoint.latitude, lng: storeData.geoPoint.longitude }"
        [visible]="show"
        [travelMode]="dir.travelMode"
        [transitOptions]="transitOptions"
    >
    </agm-direction>
        </agm-marker>
    </agm-map>

  </div>