
@import "../../../variable";

  .pickmix-sticky-body {
    position: initial;
 }
 .pickMix-selection-block{
    width: 100%;
    background-color:#f3f2f2;
    border: 1px solid #acacac;
    border-top: 0;
    .pickBuy-item-list {
            margin: 0 auto;
            padding: 20px;
            position: relative;
            text-align: center;
            display: table;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            .pickBuy-item {
                width: 100px;
                position: relative;
                display: table-cell;
                padding: 0 8px;
                .pickBuy-item-img{
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
                .more-info{
                    padding: 16px 0 0 0;
                }
                .more-info-content{
                    &.info-block{
                        display:block;
                        z-index: 9999999;
                        &:after{
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            border: 0;
                            left: auto;
                            right:50%;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                            background: rgba(235,233,233,0.95);
                            bottom: 8px;
                        }
                    }
                    &.info-close{
                        display:none;
                    }
                }
            }
        
    }
}

.pickMix-selection-title{
    position: relative;
    width: 100%;
    padding: 9px 0 8px 0;
    color: $mb-white;
    background-color: $mb-radio-bg;
    span{
        text-transform: uppercase;
        font-size: 18px;
        line-height: 20px;
    }
    a{
        color: $mb-white !important;
        font-size: 14px;
        line-height: 20px;
        position: absolute;
        right: 10px;
        text-decoration: underline;
        cursor: pointer;
    }
}   
a.close-sample-info {
    width: 26px;
    height: 26px;
    display: block;
    margin: 0 auto;
    background: url('https://css.moltonbrown.co.uk/images/info-close-icon.svg') no-repeat -26px 0;
    
}
a.sample-info-tooltip {
    @media screen and (max-width:$screen-sm){
        display: none !important;
    }
    width: 26px;
    height: 26px;
    display: block;
    margin: 0 auto;
    background: url('https://css.moltonbrown.co.uk/images/info-close-icon.svg') 0 0 no-repeat;
}




.review {
    margin: 30px 14px 0;
    h4.pack-heading {
        font-size: 18px;
        color: $primary-color;
        margin: 8px 0 0 0;
        padding-bottom: 10px;
        text-align: center;
        font-weight: 600;
    }
}

.pm-basket-container{
    text-align: center;
    padding: 0 14px 60px 0;
    width: 100%; 
    display: flex; 
    .pm-basket-item-block{
        width:190px; 
        .product-title{
            font-size:14px;
            min-height: 0;
            margin: 0;
            padding-bottom: 5px;
            line-height: 1.3;
        }
    }
    .pm-basket-item-list{
        width:70%;
        .pm-basket-item{
            width: 100%;
            form{
            display: flex;
            justify-content: center;
            float: right;
            }
            .product-img {
                min-height: 100px;
                 img {
                    width: 162px;
                    height: 162px;
                }
            }
            .product-description {
                min-height: 60px;
                padding: 0 5px;
            }
            .product-title{
                font-size:14px;
                font-weight:500;
            }
        }
    }

   .price-container {
    width: 30%;
    margin-top: 70px;
    .price {
        font-size: 20px;
        line-height: 32px;
        text-transform: uppercase;
        float: right;
        text-align: right;
        margin: 28px 0 5px 0;
        width: 100%;
        @media screen and(max-width:580px) {
            font-size:14px;
        }
    }
    span{

        font-size: 20px;
         @media screen and(max-width:580px) {
            font-size:14px;
        }
    }
  }
}
.more-info{
    &-block{
     display:block;
    }
    &-hide{
    display:none;   
    }
&-content {
    p{
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        text-decoration:none solid rgb(0, 0, 0);
        text-align: center;
        text-indent: 0px;
        font-size: 15px;
        color:$primary-color;
    }
    padding: 12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 220px;
    bottom: 52px;
    background-color:    #e1e1e1;
    &:after {
        position: absolute;
        bottom: -24px;
        left: 46%;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 24px solid #e1e1e1;
        z-index: 1;
    }
    &.left{
        left:0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        &:after{
         left:50px;
        }
    }
    &.right{
        left:0;  
        &:after{
         right:40px;
         left:unset;
        }
    }
}
}
.total-price{
    span{
        font-size: inherit;
    }
}
.pm-bag-block{    
    .pm-radio-block{
    position: relative;
    input[ type="radio"]{
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 999;
        left: 45%;
        opacity:0;
        ~{
            .custom-radio{
                &:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    border: 1px solid #727272;
                    border-radius: 50%;
                    background-color: #727272;
                    transition: border .15s ease-in-out;
                    background-color: #e1e1e1;
                    right: 45%;
                    left: 45%;
                }
            }
        }
        &:checked{
        ~{
            .custom-radio{
                &:after{
                    position: absolute;
                    content: "";
                    width: 14px;
                    height: 14px;
                    right: 50%;
                    top: 4px;
                    left: 47.5%;
                    border-radius: 50%;
                    background-color: #47a1c5;
                    -webkit-transform: scale(1, 1);
                    transform: scale(1, 1);
                    transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                }
            }
        }
        }
    }
}
}


.more-info-scroll {
    overflow-y: auto;
    max-height: 210px;
}






// .sample-product-info div {
//     overflow-y: hidden;
//     overflow-x: hidden;
//     width: 100%;
//     height: 115px;
//     padding: 15px 20px;
// }
// .sample-product-info {
//     width: 100%;
//     padding: 10px 0;
//     display: none;
//     color: $primary-color;
//     position: absolute;
//     z-index: 99;
//     top: 0;
//     height: auto;
//     left: 0;
//     text-align: center;
//     background-color: rgba(234,232,232,0.9);
// }
// .sample-product-info::after {
//     opacity: .8;
//     content: "";
//     color: #e8e8e8;
//     display: inline-block;
//     width: 0;
//     height: 0;
//     bottom: -10px;
//     position: absolute;
//     left: 45%;
//     vertical-align: middle;
//     border-top: 10px solid;
//     border-right: 8px solid transparent;
//     border-left: 8px solid transparent;
// }