@import "./../../variable";
.checkout {
  background-color: #f6f6f6;
}
.secure-msg {
    font-size: 10px;
    text-transform: uppercase;
    width: auto;
    height:14px;
    color: $primary-color;
    background: url("https://www.moltonbrown.co.uk/images/padlock-icon.png") no-repeat 0 1px;
    padding: 2px 0 0 16px;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: 0px;
    font-style: normal;
    font-variant: normal;
  @media (max-width:$screen-sm) {
    background: url("https://www.moltonbrown.co.uk/images/padlock-icon.png") no-repeat 0 8px;
    padding: 0px 0 0 15px;
  }
}
.header-logo {
  position: absolute;
  left: 50%;
  top: 50px;
  width: 260px;
  margin-left: -130px;
  cursor: pointer;
  a.logo {
    display: block;
    width: 260px;
    height: 40px;
    background: url("../../assets/imgs/moltonbrown-logo.svg") no-repeat 0 0;
    margin: 0 auto;
  }
  @media (max-width: $screen-sm) {
    top: 15px;
    a.logo {
      width: 150px;
      background-size: 150px auto;
      height: 27px;
    }
  }
}
.parent-checkout-container {
  background-color: #f6f6f6;
}
.checkout-container {
  width: 964px;
  margin-right: auto;
  margin-left: auto;
  text-rendering: optimizeLegibility;
  background-color: $mb-white;
  @media (max-width: $screen-sm) {
    width: 100%;
    padding: 0;
  }
}

.clearfix {
  clear: both;
  &::before,
  &:after {
    content: " ";
    display: table;
  }
}

.checkout-header {
  display: block;
  width: 100%;
  height: 132px;
  position: relative;
  // z-index: 9999;
  @media (max-width: $screen-sm) {
    height: auto;
  }
  background-color: $mb-white;
  .header-container {
    position: relative;
    height: 131px;
    width: 964px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.42857;
    .header-left {
      float: left;
      margin: 20px 0 10px 24px;
      color: $primary-color;

      .help-number {
        position: absolute;
        bottom: 15px;
        width: 300px;

        .telephone {
          position: relative;
          padding: 0 0 0 16px;
          margin: 0 0 0 6px;
          font-size: 14px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -3px;
            width: 16px;
            height: 22px;
            background: url(../../assets/imgs/telephone-icon.png) no-repeat 0 center;
          }
        }
      }
    }

    .header-right {
      float: right;
      margin: 34px 24px 10px 0;
    }
  }
}
.hide-tabs {
  display: block;
  @media (max-width: $screen-sm) {
    display: none;
  }
}
.tab-block {
  display: none;
  @media (max-width: $screen-sm) {
    display: block;
  }
  .header-right {
    float: right;
    margin: 5px 25px;
    width: 55px;
    img {
      height: 35px;
    }
  }
  .header-left {
    float: left;
    margin: 6px 0 10px 0px;
    color: $primary-color;
    width: 75px;
    padding-left: 11px;
  }
  .help-number {
    // position: absolute;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100%;
    border-top: 1px solid #acacac;
    bottom: 14px;
    .telephone {
      position: relative;
      padding: 0 0 0 16px;
      margin: 0 0 0 6px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -3px;
        width: 16px;
        height: 22px;
        background: url("https://www.moltonbrown.co.uk/images/telephone-icon.svg") no-repeat 0 center;
      }
    }
  }
}
.deEmailIcon {
  position: relative;
  padding: 0 0 0 16px;
  margin: 0 0 0 6px;
  display: block;
  &::before {
    content: "";
    position: absolute;
    left: -6px !important;
    top: -3px;
    width: 22px !important;
    height: 22px !important;
    background: url("../../assets/imgs/email-icon.png") no-repeat 0 center !important;
    background-size: 20px !important;
  }
  a {
    color: $edition-color !important;
  }
}

.order-summary-wrap {
  @media (max-width: $screen-sm) {
    // display: none;
  }
}
.checkout-content {
  @media (max-width: $screen-sm) {
    padding: 5px;
  }
}
.checkout-footer {
  text-align: center;
  padding: 50px 0;
  background-color: #f6f6f6;
  .secure-block {
    display: none;
  }
  @media screen and (max-width: $screen-sm) {
    padding: 0px 0 25px 0;
    background-color: $mb-white;
    .copywrite {
      // padding-bottom: 25px;
      font-size: 12px;
      margin-top: 15px;
    }
    .security-label {
      font-size: 14;
    }
    .secure-block {
      display: inline-block;
      div{
        opacity: 1;
      }
    }
  }

  .footer-links {
    ul {
      width: auto;
      margin: 0 auto 24px auto;
      @media screen and (max-width: $screen-sm) {
        margin: 0 auto 15px auto;
      }
      li {
        display: inline-block;
        padding: 0 14px;
        @media screen and (max-width: $screen-sm) {
          display: block;
          &:last-child {
            a {
              border-bottom: 1px solid #acacac;
            }
          }
          &:first-child {
            a {
              border-top: none;
            }
          }
        }
        a {
          text-decoration: underline;
          cursor: pointer;
          color: $edition-color !important;
          @media screen and (max-width: $screen-sm) {
            text-decoration: none;
            border-top: 1px solid #acacac;
            padding: 10px 0;
            display: block;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.checkout-container {
  width: 964px;
  margin-right: auto;
  margin-left: auto;
  // padding-left: 15px;
  // padding-right: 15px;
  text-rendering: optimizeLegibility;
  @media (max-width: $screen-sm) {
    width: 100%;
    padding: 0;
  }
}

.step-indicator {
  width: 100%;
  border: 1px solid #acacac;
  color: #ccc;
  height: 29px;
}

ol > li {
  .active {
    height: 27px;
    position: relative;
    padding: 0px;
    text-align: center;
    font-size: 1.2857142857em;
    line-height: 28px;
  }
}
ol > li {
  height: 28px;
  position: relative;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
ol > li:last-child {
  &.step::after {
    display: none !important;
  }
}
ol > li {
  &.step {
    width: 322px;
    position: relative;
    float: left;
    font-size: 1.2857142857em;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    background-color: $mb-white;
    border-bottom: 1px solid #acacac !important;
    @media screen and (max-width: $screen-sm) {
      font-size: 1em;
    }
  }
}
.step.current {
  background-color: $edition-color !important;
  color: $mb-white;
  
}
.step.current::after {
  border-left: 14px solid $edition-color;
}
.step::after {
  right: -14px;
  border-left: 14px solid $mb-white;
  z-index: 2;
}
.step::after,
.step::before {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.step::after {
  right: -12px !important;
}
@media screen and (max-width: $screen-sm) and (min-width: 320px) {
  ol > li {
    &.step {
      width: 15%;
      &.current {
        width: 70% !important;
      }
    }
  }
}
ol {
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 28px;
  li {
    list-style: none;
  }
}
ol > li > .active:after,
ol > li > .current:before {
  border-width: 0px;
  border-color: transparent transparent transparent $mb-white;
}
ol > li > .active:after,
ol > li > .current:before {
  content: "";
  display: inline-block;
  // border-width: 16px;
  border-style: solid;
  width: 0px;
  height: 0px;
  left: 100%;
  top: 0px;
  position: absolute;
  z-index: 1;
  border-width: 14px;
}
ol > li > .active.current:after {
  border-color: transparent transparent transparent $edition-color;
  border-width: 14px;
  display: block;
}
ol > li > .active.current:before {
  border-color: transparent transparent transparent $mb-white;
  border-width: 14px;
  display: block;
}
ol > li > div:before {
  border-width: 14px;
  display: block;
  border-color: transparent transparent transparent $edition-color;
  z-index: 2;
  top: 0px;
}
ol > li:last-child {
  div:before,
  div:after {
    display: none;
  }
}

.current {
  background-color: $edition-color;
  &::after {
    border-color: transparent transparent transparent $edition-color;
  }
  &::before {
    border-color: transparent transparent transparent $mb-white;
  }
}

ol > li:nth-child(2) div:before,
ol > li:nth-child(2) div:after {
  border-width: 14px;
  display: block;
  z-index: 2;
  top: 0px;
}

ol > li > div:after {
  border-color: transparent transparent transparent $mb-white;
}
ol > li > div:after,
ol > li > div:before {
  content: "";
  display: inline-block;
  border-style: solid;
  width: 0px;
  height: 0px;
  left: 100%;
  top: 0px;
  position: absolute;
  z-index: 1;
}

.checkout-cart {
  li {
    &.confirmation {
      width: 33.53%;
      @media (max-width: $screen-sm) {
        width: 50%;
      }
    }
  }
}
a.norton-secure {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    background: url(https://www.moltonbrown.co.uk/images/digicert_header.png) 0 0 no-repeat;
    margin: 0px 10px 0 0 !important;
    width: 50px;
    height: 40px;
    background-size: contain;
    background-position: 0 6px;
  }
}
.display-overlay {
  display: block;
  top: 0;
  z-index: 99999;
  background-color: transparent;
}
.display-modal-overlay{
  display: block;
  top: 0;
  z-index: 99999;
  background-color: $mb-white; 
}
.order-confirmation-main{
  &:nth-child(2){
    display: none;
  }
}
span.telephone{
  a{
    color: $primary-color !important;
  }
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 500px;
    margin: 10% auto;
}
}
.chck-modal-dialog .close {
  font-weight: 100;
}
.modal-open .modal {
  overflow-x: hidden!important;
  overflow-y: hidden!important;
}
