<header class="checkout-header">
  <div class="header-container clearfix  hide-tabs">
    <div class="header-left">
      <div class="secure-msg">Secure Checkout</div>
      <div class="help-number">
        <span>{{'needHelp' | translate }}</span>
         <span class="telephone" [ngClass]="{'deEmailIcon': deEmail}"><a>{{ customerCenter }}</a></span>
      </div>
    </div>
    <div class="header-logo">
      <a class="logo" routerLink="/store" routerLinkActive="active"  (click)="goToHome($event)"> </a>
    </div>
    <div class="header-right">
      <a href="https://seal.digicert.com/seals/popup/?tag=JgZZluWH&url=http://www.moltonbrown.co.uk&lang=en"
         ><img
          src="https://www.moltonbrown.co.uk/images/digicert_header.png?version=15"
      /></a>
    </div>
  </div>
  <div class="tab-block ">
    <div >
      <div class="col-md-3 text-left header-left">
        <span class="secure-msg">Secure Checkout</span>
      </div>
      <div class="col-md-6 text-center header-logo">
        <a class="logo" (click)="goToHome($event)"> </a>
      </div>
      <div class="col-md-3 text-right header-right">
        <a
          ><img
            src="https://www.moltonbrown.co.uk/images/digicert_header.png?version=15"
        /></a>
      </div>
    </div>
    <div class="help-number clearfix">
      Need help?
      <a href="tel:+448081781188" class="telephone">+44 (0) 808 178 1188</a>
    </div>
  </div>

  <div
    class="modal"
    id="modalCheckoutPopup"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
  <div
    class="chck-modal-dialog modal-dialog modal-full container modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="chck-modal-header modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title text-center">{{ modalTitle }}</h4>
      </div>
      <div class="modal-body chck-modal-body" #policyEl>
        <div style="min-height: 250px;height: 100%;background-color: #fff;"></div>
      </div>
    </div>
  </div>
</div>
</header>

<div class="parent-checkout-container">
  <div class="checkout-container justify-content-center sample-container">
    <div class="step-indicator clearfix checkout-cart">
      <ol>
        <li class="step active" [ngClass]="{ current: login }">
          {{ getCartTabTextWelcome("welcomeCart") | translate }}
        </li>
        <li class="step active" [ngClass]="{ current: delivery }">
          {{ getCartTabTextDelandPay("delAndPay") | translate }}
        </li>
        <li class="step active" [ngClass]="{ current: confirmation }">
          {{ getCartTabTextConfirm("confirmation") | translate }}
        </li>
     </ol>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="checkout-footer">
  <div class="footer-links clearfix">
    <ul>
      <li *ngFor="let data of footerLinks; let k = index">
        <a
          (click)="onOpenCartModal(data)"
          data-toggle="modal"
          data-target="#modalCheckoutPopup"
          >{{ data.name }}</a
        >
      </li>
  </ul>
  </div>
  <div class="secure-block">
    <div class="text-uppercase security-label">
      {{ "securityGauranteed" | translate }}
    </div>
    <div class="payment-gateway-icons rowComponents">
      <a class="norton-secure"></a>
      <span class="visa-secure"></span>
      <span class="master-card"></span>
      <span class="american-express"></span>
      <span class="vpay-secure"></span>
      <span class="paypal-secure"></span>
      <span class="mb-secure"></span>
    </div>
  </div>
  <div class="copywrite">
    &copy; Molton Brown Limited 2019.&nbsp;All rights reserved.</div>
</footer>




<div class="backdrop"  [ngClass]="{'display-overlay':loadOverlay}"></div>
    