@import "../../../variable";
@media screen and (max-width: 979px) {
  .sort-box {
    font-size: 12px;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    margin: 0;
    background: $mb-white;
    width: 100%;
    .product-layout {
      width: 22%;
      float: left;
      a {
        float: left;
        margin: 0 !important;
        padding: 0 !important;
        &.layout-a {
          span {
            height: 24px;
            width: 24px;
            display: block;
            background: transparent url("../../../assets/imgs/layoutSwitch.jpg") 0 0 no-repeat;
            overflow: hidden;
            text-indent: -9999px;
            margin: 6px 0 0 6px;
          }
          &.active span {
            background: transparent url("../../../assets/imgs/layoutSwitch.jpg") -24px 0 no-repeat;
          }
        }
        &.layout-b {
          span {
            width: 24px;
            height: 24px;
            display: block;
            background: transparent url("https://media.moltonbrown.co.uk/i/1digitals/layoutSwitch") 0 -24px no-repeat;
            overflow: hidden;
            text-indent: -9999px;
            margin: 6px 0 0 6px;
          }
          &.active span {
            background: transparent url("https://media.moltonbrown.co.uk/i/1digitals/layoutSwitch") -24px -24px no-repeat;
          }
        }
      }
    }
    .sort-list {
      float: left;
      width: 75%;
      .clear-link {
        float: left;
        padding: 12px 2px 0 2px;
        color: #2489ce !important;
        width: 20%;
        text-align: right;
        font-size: 11px;
      }
      #sortBySelect {
        padding-left: 5px;
      }
      .sortby-main {
        float: left;
        width: 43%;
        form {
          float: left;
          width: 100%;
          .sort-by-select {
            box-sizing: border-box;
            float: left;
            background: url("https://www.moltonbrown.co.uk/images/arrow_select.png") no-repeat scroll right center !important;
            padding: 5px 20px 5px 5px;
            height: 30px;
            border: 1px solid #ccc;
            background-color: $mb-white;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none !important;
            -o-appearance: none;
            margin: 5px 10px 0 5px;
            outline: none !important;
            width: 100%;
            option {
              background: $mb-white;
            }
          }
        }
      }
      .filter-by {
        box-sizing: border-box;
        position: relative;
        text-align: center;
        border: 1px solid #b7b7b7;
        background: $mb-white;
        height: 30px;
        width: 30%;
        line-height: 30px;
        padding: 0 3px 0 0;
        text-decoration: none;
        float: right;
        margin: 5px 0px 0 0;
        &-text {
          color: #666;
          padding: 0px 10px;
          text-decoration: none !important;
        }
      }
    }
  }
}

.sort-box {
    display: none;
    @media(max-width:$screen-sm){
      display:block;
      padding: 8px 5px;
    }
  }
  