.switch-set-box {
    margin: 40px auto;
    max-width:580px;
    border: 1px solid #ccc;
    padding: 20px 25px 25px;
    border-radius: 3px;
    font-family: Tahoma, Geneva, serif;
}

.switch-set-box * {
    margin: 0;
    padding: 0;
}

.switch-set-heading {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    color: #707175;
    padding-bottom: 8px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px;
}

.switch-input-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    color: #797676
}

.switch-label {
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
}

.switch-set-input {
    width: 150px;
    padding: 3px 5px;
    height: 23px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.switch-set-input:focus {
    border-color:1px solid #80c0dd;
    outline: none;
}

.switch-set-select {
    width: 90px;
    padding: 3px 5px;
    background: #fff;
    border: 1px solid #ccc;
    vertical-align: top;
    height: 23px;
}

.switch-set-select:focus {
    border-color:1px solid #80c0dd;
    outline: none;
}

.switch-set-submit {

    padding: 4px 15px;
    vertical-align: bottom;
    border: 1px solid #675c5c;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.switch-set-submit:hover, .switch-set-submit:focus {
    outline: none;
    background: #538fc0;
}

.amp-viewer-kit .desktop-full-view {
    background-color: #fff;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    .nav-container{
        max-width: 604px;
    }
}
.amp-no-scroll {
  overflow:visible; 
}
.amp-viewer-kit .desktop-full-view .panel {
    display: none;
}
.amp-viewer-kit .desktop-normal-view .main-container .amp-carousel{
    width:600px;
    height: 600px;
    margin: 0;
}
.amp-viewer-kit .icon {
    background-color: #c1bab000;
}
.amp-viewer-kit .close{
    background-color: #000;
}
app-category-detail-page{
.product_detail {
    min-height: 750px;   
    margin-bottom: 40px;
    @media screen and (max-width:768px){
        margin-bottom: 0px;
    flex-direction: column;
      }

}
}

@media screen and (max-width:768px){
    .viewer-kit-target{
        width:100% !important;
    }
}