@import"../../../variable";
h2.terms-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 12px!important;
    padding-top:15px;
    @media screen and(max-width:768px){
        font-size:16px;
    }
}
.join-title{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size:18px;
    font-weight: bold;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    @media screen and(max-width:768px){
        font-size:16px;
    }
}
.terms-lbl{
    a{
        text-decoration: underline;
        position: relative;
        z-index: 777;
    }
    &.terms-not-valid{
        &:before{
        border: 1px solid $mb-error-bg;
        background-color: #f2dcdb;
        }
    }
}
.terms-error-msg-bottom{
    display: none;
 span{
     color:$mb-error-bg;
     font-size: 14px;
 }   
}
.paypal-btn{
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    position: relative;

}

.btn-width{
    width: 229px !important;
    @media screen and(max-width:768px) {        
    width: 100% !important;
    margin: 10px 0;
    }
}
button{
    &:focus{
        box-shadow: none;
        outline: none;
    } 
}
.checkbox{
cursor: pointer;
a{
    cursor: pointer;
}
}

.mb-terms-section {
    border-top: 1px solid $light-grey;
    padding-top: 10px;
    margin-top: 15px;
}



.place-order-btn {
    background-color: $mb-btn-bg;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    background-size: 20px;
    padding: 13px 37px 13px 45px;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0;
    color: $mb-white;
    margin: 0 5px 5px 30px;
    width:245px;
    padding-top: 18px;
    margin-right: 0px;
    &:hover,
    &:focus {
      background-color: $mb-btn-highlight-bg;
    }
    &:active{
        background-color:$mb-btn-highlight-bg;
    }
    &:hover{
        color:$mb-white;
    }
  @media screen and(max-width:425px) {
    width: 100%;
    margin-top: 15px;
    margin: 15px auto;
  } 

  .place_order{
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;    
    position: relative;
    top: -2px;
    left: 5px;
    .icon-paypal {
        display: inline-block;
        text-indent: -9999px;
        width: 95px;
        height: 25px;
        margin-left: 2px;
        position: relative;
        top:-6px;
        background: url('../../../assets/imgs/paypal-logo.png') no-repeat 0 0;
    }
    &::before{
        content: "";
        display: inline-block;
        background: url(../../../assets/imgs/padlock-white.png) no-repeat 0 center;
        position: absolute;
        height: 24px;
        left: -30px;
        top: -10px;
        width: 20px;
        z-index: 1;
    }
  }
  .place_order::before {
    top: -6px;
}
  }