<div class="pdp-container">
  <app-mb-bread-crumb
    *ngIf="breadcrumb"
    [breadcrumb]="breadcrumb"
    [menuData]="menuData"
  ></app-mb-bread-crumb>
  <app-productview
    [showDetail]="true"
    [productInfo]="productInfo"
    (showDlRstrn)="showDlRstrn()"
  >

</app-productview>
  <div class="smartContent twoColumn rowComponents">
    <div class="item" #youMayLike>
    </div>
    <div class="item" #worksWellWith>
    </div>
  </div>
  <div *ngIf="productInfo">
    <div *ngIf="productInfo.isHazardous" id="deliveryRstnBlock">
      <app-delivery-instructions
        [deliveryResctrictions]="deliveryResctrictions"
        [dlInstructionShowUp]="dlInstructionShowUp"
      ></app-delivery-instructions>
    </div>
  </div>
  <div id="BVRRContainer">
    <app-review
      [showUpReview]="showUpReview"
      [productInfo]="productInfo"
    ></app-review>
  </div>
</div>
