.hide {
    display: none !important;
}
.container {
    width: 964px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main{

    position: relative;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
h3{
    overflow: hidden;
}
.mb-main-margin-left{
    margin-left:65% !important;
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-duration: 4s;
  animation-delay: 2s;
}
.mb-main-ML-none{
    margin-left:0px;
}

.mb-container-left{
    position: inherit;
    @media screen and(max-width:768px) {
        margin-left:80%;
    position: fixed;
    .container {
        max-width: unset !important;
        width: max-content !important;
        .tab-justify-center{
            justify-content: flex-start !important;
        }
    }
    }
  
    transition: left .5s;
}
.mb-container-left-none{
    left:0%;
}