<!-- <div class="conatiner newsletter-body">
  <div class="checkout-content">
    <div class="samples-container">
      <div class="innerSampleContainer">
        <form 
        [formGroup]="newsLetterForm"
        (ngSubmit)="onSubmitForm($event)"
        custom-focus
          class="newsletter-update-form">
          <fieldset>
            <h2>Tell us more...</h2>
            <h4 class="mobile-center">
              Please enter your details below so that we can personalise your
              experience to tell you more about what you love.
            </h4>
            <div class="form-group">
              <input
                formControlName="firstName"
                autocorrect="off"
                autocomplete="off"
                placeholder="First Name*"
                type="text"
                class="form-control  mandatory"
                
              />
            </div>
            <div class="form-group">
              <input
                formControlName="lastName"
                autocorrect="off"
                autocomplete="off"
                placeholder="Last Name*"
                type="text"
                class="form-control  mandatory"

              />
            </div>
            <div class="form-group">
              <input
                formControlName="emailAddress"
                autocorrect="off"
                autocomplete="off"
                placeholder="Email Address*"
                type="text"
                class="form-control  mandatory"
              />
            </div>
            <h4 class="margin-space">
              Date of birth<span class="lighter"
                >(For an extra special treat on your birthday)</span
              >
            </h4>
            <div class="form-group split-input">
              <select   formControlName="day" class="mandatory form-control">
                <option  selected>Day</option>       
                <option *ngFor="let day of days">{{ day.day }}</option>    
            </select>
            </div>
            <div class="form-group split-input">
              <select formControlName="month" class="mandatory form-control">
                <option>Month</option>
                <option *ngFor="let month of months">{{ month.month }}</option>
              </select>
            </div>
            <div class="form-group split-input">
              <select formControlName="year" class="mandatory form-control">
                <option>Year</option>
                <option *ngFor="let year of years">{{ year.year }}</option>
              </select>
            </div>
            <div class="form-group clearfix mobile-margin">
              <h4 class="">Gender</h4>
              <div class="radio gender-radio">
                <input name="gender" formControlName="gender" type="radio" value="F" />
                <label for="genderfemale">Female</label>
              </div>
              <div class="radio">
                <input name="gender"  formControlName="gender" type="radio" value="M" />
                <label for="gendermale">Male</label>
              </div>
              <div class="radio">
                <input name="gender" formControlName="gender" value="NM" type="radio" />
                <label for="genderneutral">Non-binary</label>
              </div>
            </div>
            <h4>
              Postal address&nbsp;<span class="lighter"
                >(For exclusive invitations and updates straight to your
                door)</span
              >
            </h4>
            <div class="form-group">
              <input
                autocorrect="off"
                autocomplete="off"
                placeholder="House Number / Name"
                type="text"
                formControlName="line1"
                class="form-control  mandatory"
                
              />
            </div>
            <div class="form-group">
              <input
                autocorrect="off"
                autocomplete="off"
                placeholder="Street"
                type="text"
                formControlName="line2"
                class="form-control  mandatory"
                
              />
            </div>
            <div class="form-group">
              <input
                autocorrect="off"
                autocomplete="off"
                placeholder="Town or City"
                type="text"
                formControlName="town"
                class="form-control  mandatory"
                
              />
            </div>
            <div class="form-group">
              <input
                autocorrect="off"
                autocomplete="off"
                placeholder="County, state or region"
                type="text"
                formControlName="district"
                class="form-control  mandatory"
                
              />
            </div>
            <div class="form-group">
              <input
                autocorrect="off"
                autocomplete="off"
                placeholder="Postcode or zip code"
                type="text"
                formControlName="postalCode"
                class="form-control  mandatory"
                
              />
            </div>
            <div class="form-group countrySelect">
              <select class="mandatory form-control">
                <option value="">Please select</option>
                <option *ngFor="let data of countries">{{data.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <input type="submit" value="update" class="btn btn-default" />
            </div>
          </fieldset>
        </form>
       
        <p class="lighter">*Required field</p>
        <br />
        <p>
          To <strong>unsubscribe</strong> from Molton Brown completely please
          <a (click)="onUnsubsribe()">click here</a>
        </p>
        <br />
        <p>
          We will only use your information for marketing purposes. Molton Brown
          does not share your information with third parties and you can
          unsubscribe at any time.
        </p>
      </div>
      <ng-template #newsUnsubscribe>
        <div class="confirmation-content thankyou">
          <h1>Sorry you're leaving</h1>
          <h4>
            You have been removed from our mailing list, but don't worry - if
            you change your mind you can sign up on our website
            <a routerLink="/store" class="cta" title="">here</a> or in one of
            our stores.
          </h4>
          <a routerLink="/store/newsletter-sign-up" class="cta" title="">Continue Shopping</a>
        </div>
      </ng-template>
      <div class="inner-container-RightBlock">
        <img src="//images.moltonbrown.co.uk/MBPromoImages/email-signup_desktop.jpg" class="desk-block" />
      </div>
    </div>
  </div>
</div>
 -->

 <div class="sapCpBody">
    <form id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage" data-sap-cp-key="9CD4DD6BAA5989AE4F7917282477AC20C4DA7D2A" class="sapCRLPage sapCRLPageEditable sapCpContentPage sapCpContentPageEditable sapCpContentPageLoading" data-sap-cp-lpkey="" data-sap-cp-prefill-data="true" data-sap-cp-version="11.12.12">
    <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L" data-sap-cp-key="36F678F75D0CDD1AA5AC98D498418D35193EA576" class="sapCRLLayout sapCRLLayoutEditable sapCRLLayoutVertical sapCpLayout">
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-0W" data-sap-cp-key="D5CED831982FCC6691EEEDC1F5B8C1AA21AE97AF" class="sapCRLWidget sapCRLWidgetEditable sapCpInputWidget sapCpWidget sapCpWidgetEditable">
            <div class="sapCRLWidgetContent sapCRLWidgetContentLeft sapCpWidgetContent sapCpWidgetContentLeft" style="width:20%">
                <label id="__label14" class="sapCpLabel" for="__input5">First Name</label>
            </div>
            <div class="sapCRLWidgetContent sapCRLWidgetContentRight sapCpWidgetContent sapCpWidgetContentRight" style="padding-left:20%">
                <input id="__input5" class="sapCpInput" type="text" placeholder="First Name" maxlength="40">
            </div>
            <div class="sapCRLWidgetFixContent sapCpWidgetFixContent"></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-1W" data-sap-cp-key="6071639B842EA882CF7C632B0C93B44AAF8F5292" class="sapCRLWidget sapCRLWidgetEditable sapCpInputWidget sapCpWidget sapCpWidgetEditable">
            <div class="sapCRLWidgetContent sapCRLWidgetContentLeft sapCpWidgetContent sapCpWidgetContentLeft" style="width:20%">
                <label id="__label15" class="sapCpLabel" for="__input6">Last Name</label>
            </div>
            <div class="sapCRLWidgetContent sapCRLWidgetContentRight sapCpWidgetContent sapCpWidgetContentRight" style="padding-left:20%">
                <input id="__input6" class="sapCpInput" type="text" maxlength="40">
            </div>
            <div class="sapCRLWidgetFixContent sapCpWidgetFixContent"></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-2W" data-sap-cp-key="6A6EAFBDCA76F6E3AB88F685B6ABEAE492E432F7" class="sapCRLWidget sapCRLWidgetEditable sapCpInputWidget sapCpWidget sapCpWidgetEditable sapCpWidgetMandatory">
            <div class="sapCRLWidgetContent sapCRLWidgetContentLeft sapCpWidgetContent sapCpWidgetContentLeft" style="width:20%">
                <label id="__label16" class="sapCpLabel sapCpLabelRequired" for="__input7">E-Mail Address</label>
            </div>
            <div class="sapCRLWidgetContent sapCRLWidgetContentRight sapCpWidgetContent sapCpWidgetContentRight" style="padding-left:20%">
                <input id="__input7" class="sapCpInput" type="text" required="required" maxlength="241">
            </div>
            <div class="sapCRLWidgetFixContent sapCpWidgetFixContent"></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-3W" data-sap-cp-key="C81BA6D004E168295F18E2C92722D1387085B0D8" class="sapCRLWidget sapCRLWidgetEditable sapCpInputWidget sapCpWidget sapCpWidgetEditable">
            <div class="sapCRLWidgetContent sapCRLWidgetContentLeft sapCpWidgetContent sapCpWidgetContentLeft" style="width:20%">
                <label id="__label17" class="sapCpLabel">Date of birth </label>
            </div>
            <div class="sapCRLWidgetContent sapCRLWidgetContentRight sapCpWidgetContent sapCpWidgetContentRight" style="padding-left:20%">
                <div id="__picker1" class="sapCpDatePicker">
                    <select id="__down5" class="sapCpDatePickerDay sapCpDropDown sapCpDropDownPlaceholder" data-sap-cp-dropdowntype="Date-Day">
                        <option label="Day" value="" selected="selected">Day</option>
                    </select>
                    <select id="__down6" class="sapCpDatePickerMonth sapCpDropDown sapCpDropDownPlaceholder" data-sap-cp-dropdowntype="Date-Month">
                        <option label="Month" value="" selected="selected">Month</option>
                        <option label="January" value="01">January</option>
                        <option label="February" value="02">February</option>
                        <option label="March" value="03">March</option>
                        <option label="April" value="04">April</option>
                        <option label="May" value="05">May</option>
                        <option label="June" value="06">June</option>
                        <option label="July" value="07">July</option>
                        <option label="August" value="08">August</option>
                        <option label="September" value="09">September</option>
                        <option label="October" value="10">October</option>
                        <option label="November" value="11">November</option>
                        <option label="December" value="12">December</option>
                    </select>
                    <select id="__down7" class="sapCpDatePickerYear sapCpDropDown sapCpDropDownPlaceholder" data-sap-cp-dropdowntype="Date-Year-0-120">
                        <option label="Year" value="" selected="selected">Year</option>
                    </select>
                </div>
            </div>
            <div class="sapCRLWidgetFixContent sapCpWidgetFixContent"></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-4W" data-sap-cp-key="9066DEA2C7FB54039EBA50A4C703399EBDAF5E9F" class="sapCRLWidget sapCRLWidgetEditable sapCpInputWidget sapCpWidget sapCpWidgetEditable">
            <div class="sapCRLWidgetContent sapCRLWidgetContentLeft sapCpWidgetContent sapCpWidgetContentLeft" style="width:20%">
                <label id="__label18" class="sapCpLabel" for="__down8">Gender</label>
            </div>
            <div class="sapCRLWidgetContent sapCRLWidgetContentRight sapCpWidgetContent sapCpWidgetContentRight" style="padding-left:20%">
                <select id="__down8" class="sapCpDropDown">
                    <option label="Male" value="1" selected="selected">Male</option>
                    <option label=" " value=""> </option>
                    <option label="Female" value="2">Female</option>
                    <option label="Gender not known" value="">Gender not known</option>
                </select>
            </div>
            <div class="sapCRLWidgetFixContent sapCpWidgetFixContent"></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-5W" data-sap-cp-key="FE348CF17E89864906518F6B24C8E1D6F10CB691" class="sapCRLWidget sapCRLWidgetEditable sapCpTextWidget sapCpWidget sapCpWidgetEditable">
            <div class="sapCRLWidgetContentNoIndent sapCpWidgetContentNoIndent">
                <h4><strong>Postal address&nbsp;(For exclusive invitations and updates straight to your door)</strong></h4></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-6W" data-sap-cp-key="DB28C659316F0B9C898F254D648BCFD0C046B76D" class="sapCRLWidget sapCRLWidgetEditable sapCpInputWidget sapCpWidget sapCpWidgetEditable">
            <div class="sapCRLWidgetContent sapCRLWidgetContentLeft sapCpWidgetContent sapCpWidgetContentLeft" style="width:20%">
                <label id="__label19" class="sapCpLabel" for="__input8">House Number</label>
            </div>
            <div class="sapCRLWidgetContent sapCRLWidgetContentRight sapCpWidgetContent sapCpWidgetContentRight" style="padding-left:20%">
                <input id="__input8" class="sapCpInput" type="number" max="9999999999">
            </div>
            <div class="sapCRLWidgetFixContent sapCpWidgetFixContent"></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-7W" data-sap-cp-key="D4C2A657CB63F27BD8C281870C552C5AE36412B5" class="sapCRLWidget sapCRLWidgetEditable sapCpInputWidget sapCpWidget sapCpWidgetEditable">
            <div class="sapCRLWidgetContent sapCRLWidgetContentLeft sapCpWidgetContent sapCpWidgetContentLeft" style="width:20%">
                <label id="__label20" class="sapCpLabel" for="__input9">Street</label>
            </div>
            <div class="sapCRLWidgetContent sapCRLWidgetContentRight sapCpWidgetContent sapCpWidgetContentRight" style="padding-left:20%">
                <input id="__input9" class="sapCpInput" type="text" maxlength="60">
            </div>
            <div class="sapCRLWidgetFixContent sapCpWidgetFixContent"></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-8W" data-sap-cp-key="047D80AD8D206D26BE1F513ABEE5015BCCB7F0C1" class="sapCRLWidget sapCRLWidgetEditable sapCpInputWidget sapCpWidget sapCpWidgetEditable">
            <div class="sapCRLWidgetContent sapCRLWidgetContentLeft sapCpWidgetContent sapCpWidgetContentLeft" style="width:20%">
                <label id="__label21" class="sapCpLabel" for="__down9">Country</label>
            </div>
            <div class="sapCRLWidgetContent sapCRLWidgetContentRight sapCpWidgetContent sapCpWidgetContentRight" style="padding-left:20%">
                <select id="__down9" class="sapCpDropDown sapCpDropDownPlaceholder">
                    <option label="Country" value="" selected="selected">Country</option>
                    <option label="Afghanistan" value="AF">Afghanistan</option>
                    <option label="Aland Islands" value="AX">Aland Islands</option>
                    <option label="Albania" value="AL">Albania</option>
                    <option label="Algeria" value="DZ">Algeria</option>
                    <option label="Amer.Virgin Is." value="VI">Amer.Virgin Is.</option>
                    <option label="Andorra" value="AD">Andorra</option>
                    <option label="Angola" value="AO">Angola</option>
                    <option label="Anguilla" value="AI">Anguilla</option>
                    <option label="Antarctica" value="AQ">Antarctica</option>
                    <option label="Antigua/Barbuda" value="AG">Antigua/Barbuda</option>
                    <option label="Argentina" value="AR">Argentina</option>
                    <option label="Armenia" value="AM">Armenia</option>
                    <option label="Aruba" value="AW">Aruba</option>
                    <option label="Australia" value="AU">Australia</option>
                    <option label="Austria" value="AT">Austria</option>
                    <option label="Azerbaijan" value="AZ">Azerbaijan</option>
                    <option label="Bahamas" value="BS">Bahamas</option>
                    <option label="Bahrain" value="BH">Bahrain</option>
                    <option label="Bangladesh" value="BD">Bangladesh</option>
                    <option label="Barbados" value="BB">Barbados</option>
                    <option label="Belarus" value="BY">Belarus</option>
                    <option label="Belgium" value="BE">Belgium</option>
                    <option label="Belize" value="BZ">Belize</option>
                    <option label="Benin" value="BJ">Benin</option>
                    <option label="Bermuda" value="BM">Bermuda</option>
                    <option label="Bhutan" value="BT">Bhutan</option>
                    <option label="Bolivia" value="BO">Bolivia</option>
                    <option label="Bonaire, Saba" value="BQ">Bonaire, Saba</option>
                    <option label="Bosnia-Herz." value="BA">Bosnia-Herz.</option>
                    <option label="Botswana" value="BW">Botswana</option>
                    <option label="Bouvet Islands" value="BV">Bouvet Islands</option>
                    <option label="Brazil" value="BR">Brazil</option>
                    <option label="Brit.Ind.Oc.Ter" value="IO">Brit.Ind.Oc.Ter</option>
                    <option label="Brit.Virgin Is." value="VG">Brit.Virgin Is.</option>
                    <option label="Brunei Daruss." value="BN">Brunei Daruss.</option>
                    <option label="Bulgaria" value="BG">Bulgaria</option>
                    <option label="Burkina Faso" value="BF">Burkina Faso</option>
                    <option label="Burundi" value="BI">Burundi</option>
                    <option label="Cambodia" value="KH">Cambodia</option>
                    <option label="Cameroon" value="CM">Cameroon</option>
                    <option label="Canada" value="CA">Canada</option>
                    <option label="Cape Verde" value="CV">Cape Verde</option>
                    <option label="CAR" value="CF">CAR</option>
                    <option label="Cayman Islands" value="KY">Cayman Islands</option>
                    <option label="Chad" value="TD">Chad</option>
                    <option label="Chile" value="CL">Chile</option>
                    <option label="China" value="CN">China</option>
                    <option label="Christmas Islnd" value="CX">Christmas Islnd</option>
                    <option label="Cocos Islands" value="CC">Cocos Islands</option>
                    <option label="Colombia" value="CO">Colombia</option>
                    <option label="Comoros" value="KM">Comoros</option>
                    <option label="Cook Islands" value="CK">Cook Islands</option>
                    <option label="Costa Rica" value="CR">Costa Rica</option>
                    <option label="Cote d'Ivoire" value="CI">Cote d'Ivoire</option>
                    <option label="Croatia" value="HR">Croatia</option>
                    <option label="Cuba" value="CU">Cuba</option>
                    <option label="Curaçao" value="CW">Curaçao</option>
                    <option label="Cyprus" value="CY">Cyprus</option>
                    <option label="Czech Republic" value="CZ">Czech Republic</option>
                    <option label="Dem. Rep. Congo" value="CD">Dem. Rep. Congo</option>
                    <option label="Denmark" value="DK">Denmark</option>
                    <option label="Djibouti" value="DJ">Djibouti</option>
                    <option label="Dominica" value="DM">Dominica</option>
                    <option label="Dominican Rep." value="DO">Dominican Rep.</option>
                    <option label="Ecuador" value="EC">Ecuador</option>
                    <option label="Egypt" value="EG">Egypt</option>
                    <option label="El Salvador" value="SV">El Salvador</option>
                    <option label="Equatorial Guin" value="GQ">Equatorial Guin</option>
                    <option label="Eritrea" value="ER">Eritrea</option>
                    <option label="Estonia" value="EE">Estonia</option>
                    <option label="Eswatini" value="SZ">Eswatini</option>
                    <option label="Ethiopia" value="ET">Ethiopia</option>
                    <option label="Falkland Islnds" value="FK">Falkland Islnds</option>
                    <option label="Faroe Islands" value="FO">Faroe Islands</option>
                    <option label="Fiji" value="FJ">Fiji</option>
                    <option label="Finland" value="FI">Finland</option>
                    <option label="France" value="FR">France</option>
                    <option label="Frenc.Polynesia" value="PF">Frenc.Polynesia</option>
                    <option label="French Guayana" value="GF">French Guayana</option>
                    <option label="French S.Territ" value="TF">French S.Territ</option>
                    <option label="Gabon" value="GA">Gabon</option>
                    <option label="Gambia" value="GM">Gambia</option>
                    <option label="Georgia" value="GE">Georgia</option>
                    <option label="Germany" value="DE">Germany</option>
                    <option label="Ghana" value="GH">Ghana</option>
                    <option label="Gibraltar" value="GI">Gibraltar</option>
                    <option label="Greece" value="GR">Greece</option>
                    <option label="Greenland" value="GL">Greenland</option>
                    <option label="Grenada" value="GD">Grenada</option>
                    <option label="Guadeloupe" value="GP">Guadeloupe</option>
                    <option label="Guam" value="GU">Guam</option>
                    <option label="Guatemala" value="GT">Guatemala</option>
                    <option label="Guernsey" value="GG">Guernsey</option>
                    <option label="Guinea" value="GN">Guinea</option>
                    <option label="Guinea-Bissau" value="GW">Guinea-Bissau</option>
                    <option label="Guyana" value="GY">Guyana</option>
                    <option label="Haiti" value="HT">Haiti</option>
                    <option label="Heard/McDon.Isl" value="HM">Heard/McDon.Isl</option>
                    <option label="Honduras" value="HN">Honduras</option>
                    <option label="Hong Kong" value="HK">Hong Kong</option>
                    <option label="Hungary" value="HU">Hungary</option>
                    <option label="Iceland" value="IS">Iceland</option>
                    <option label="India" value="IN">India</option>
                    <option label="Indonesia" value="ID">Indonesia</option>
                    <option label="Iran" value="IR">Iran</option>
                    <option label="Iraq" value="IQ">Iraq</option>
                    <option label="Ireland" value="IE">Ireland</option>
                    <option label="Isle of Man" value="IM">Isle of Man</option>
                    <option label="Israel" value="IL">Israel</option>
                    <option label="Italy" value="IT">Italy</option>
                    <option label="Jamaica" value="JM">Jamaica</option>
                    <option label="Japan" value="JP">Japan</option>
                    <option label="Jersey" value="JE">Jersey</option>
                    <option label="Jordan" value="JO">Jordan</option>
                    <option label="Kazakhstan" value="KZ">Kazakhstan</option>
                    <option label="Kenya" value="KE">Kenya</option>
                    <option label="Kiribati" value="KI">Kiribati</option>
                    <option label="Kuwait" value="KW">Kuwait</option>
                    <option label="Kyrgyzstan" value="KG">Kyrgyzstan</option>
                    <option label="Laos" value="LA">Laos</option>
                    <option label="Latvia" value="LV">Latvia</option>
                    <option label="Lebanon" value="LB">Lebanon</option>
                    <option label="Lesotho" value="LS">Lesotho</option>
                    <option label="Liberia" value="LR">Liberia</option>
                    <option label="Libya" value="LY">Libya</option>
                    <option label="Liechtenstein" value="LI">Liechtenstein</option>
                    <option label="Lithuania" value="LT">Lithuania</option>
                    <option label="Luxembourg" value="LU">Luxembourg</option>
                    <option label="Macao" value="MO">Macao</option>
                    <option label="Madagascar" value="MG">Madagascar</option>
                    <option label="Malawi" value="MW">Malawi</option>
                    <option label="Malaysia" value="MY">Malaysia</option>
                    <option label="Maldives" value="MV">Maldives</option>
                    <option label="Mali" value="ML">Mali</option>
                    <option label="Malta" value="MT">Malta</option>
                    <option label="Marshall Islnds" value="MH">Marshall Islnds</option>
                    <option label="Martinique" value="MQ">Martinique</option>
                    <option label="Mauretania" value="MR">Mauretania</option>
                    <option label="Mauritius" value="MU">Mauritius</option>
                    <option label="Mayotte" value="YT">Mayotte</option>
                    <option label="Mexico" value="MX">Mexico</option>
                    <option label="Micronesia" value="FM">Micronesia</option>
                    <option label="Minor Outl.Isl." value="UM">Minor Outl.Isl.</option>
                    <option label="Moldova" value="MD">Moldova</option>
                    <option label="Monaco" value="MC">Monaco</option>
                    <option label="Mongolia" value="MN">Mongolia</option>
                    <option label="Montenegro" value="ME">Montenegro</option>
                    <option label="Montserrat" value="MS">Montserrat</option>
                    <option label="Morocco" value="MA">Morocco</option>
                    <option label="Mozambique" value="MZ">Mozambique</option>
                    <option label="Myanmar" value="MM">Myanmar</option>
                    <option label="N.Mariana Islnd" value="MP">N.Mariana Islnd</option>
                    <option label="Namibia" value="NA">Namibia</option>
                    <option label="Nauru" value="NR">Nauru</option>
                    <option label="Nepal" value="NP">Nepal</option>
                    <option label="Netherlands" value="NL">Netherlands</option>
                    <option label="New Caledonia" value="NC">New Caledonia</option>
                    <option label="New Zealand" value="NZ">New Zealand</option>
                    <option label="Nicaragua" value="NI">Nicaragua</option>
                    <option label="Niger" value="NE">Niger</option>
                    <option label="Nigeria" value="NG">Nigeria</option>
                    <option label="Niue" value="NU">Niue</option>
                    <option label="Norfolk Islands" value="NF">Norfolk Islands</option>
                    <option label="North Korea" value="KP">North Korea</option>
                    <option label="North Macedonia" value="MK">North Macedonia</option>
                    <option label="Norway" value="NO">Norway</option>
                    <option label="Oman" value="OM">Oman</option>
                    <option label="Pakistan" value="PK">Pakistan</option>
                    <option label="Palau" value="PW">Palau</option>
                    <option label="Palestine" value="PS">Palestine</option>
                    <option label="Panama" value="PA">Panama</option>
                    <option label="Pap. New Guinea" value="PG">Pap. New Guinea</option>
                    <option label="Paraguay" value="PY">Paraguay</option>
                    <option label="Peru" value="PE">Peru</option>
                    <option label="Philippines" value="PH">Philippines</option>
                    <option label="Pitcairn Islnds" value="PN">Pitcairn Islnds</option>
                    <option label="Poland" value="PL">Poland</option>
                    <option label="Portugal" value="PT">Portugal</option>
                    <option label="Puerto Rico" value="PR">Puerto Rico</option>
                    <option label="Qatar" value="QA">Qatar</option>
                    <option label="Rep.of Congo" value="CG">Rep.of Congo</option>
                    <option label="Reunion" value="RE">Reunion</option>
                    <option label="Romania" value="RO">Romania</option>
                    <option label="Russian Fed." value="RU">Russian Fed.</option>
                    <option label="Rwanda" value="RW">Rwanda</option>
                    <option label="S. Sandwich Ins" value="GS">S. Sandwich Ins</option>
                    <option label="S.Tome,Principe" value="ST">S.Tome,Principe</option>
                    <option label="Saint Helena" value="SH">Saint Helena</option>
                    <option label="Saint Martin" value="MF">Saint Martin</option>
                    <option label="Samoa" value="WS">Samoa</option>
                    <option label="Samoa, America" value="AS">Samoa, America</option>
                    <option label="San Marino" value="SM">San Marino</option>
                    <option label="Saudi Arabia" value="SA">Saudi Arabia</option>
                    <option label="Senegal" value="SN">Senegal</option>
                    <option label="Serbia" value="RS">Serbia</option>
                    <option label="Seychelles" value="SC">Seychelles</option>
                    <option label="Sierra Leone" value="SL">Sierra Leone</option>
                    <option label="Singapore" value="SG">Singapore</option>
                    <option label="Sint Maarten" value="SX">Sint Maarten</option>
                    <option label="Slovakia" value="SK">Slovakia</option>
                    <option label="Slovenia" value="SI">Slovenia</option>
                    <option label="Solomon Islands" value="SB">Solomon Islands</option>
                    <option label="Somalia" value="SO">Somalia</option>
                    <option label="South Africa" value="ZA">South Africa</option>
                    <option label="South Korea" value="KR">South Korea</option>
                    <option label="South Sudan" value="SS">South Sudan</option>
                    <option label="Spain" value="ES">Spain</option>
                    <option label="Sri Lanka" value="LK">Sri Lanka</option>
                    <option label="St Barthelemy" value="BL">St Barthelemy</option>
                    <option label="St Kitts&amp;Nevis" value="KN">St Kitts&amp;Nevis</option>
                    <option label="St. Lucia" value="LC">St. Lucia</option>
                    <option label="St. Vincent" value="VC">St. Vincent</option>
                    <option label="St.Pier,Miquel." value="PM">St.Pier,Miquel.</option>
                    <option label="Sudan" value="SD">Sudan</option>
                    <option label="Suriname" value="SR">Suriname</option>
                    <option label="Svalbard" value="SJ">Svalbard</option>
                    <option label="Sweden" value="SE">Sweden</option>
                    <option label="Switzerland" value="CH">Switzerland</option>
                    <option label="Syria" value="SY">Syria</option>
                    <option label="Taiwan" value="TW">Taiwan</option>
                    <option label="Tajikistan" value="TJ">Tajikistan</option>
                    <option label="Tanzania" value="TZ">Tanzania</option>
                    <option label="Thailand" value="TH">Thailand</option>
                    <option label="Timor-Leste" value="TL">Timor-Leste</option>
                    <option label="Togo" value="TG">Togo</option>
                    <option label="Tokelau Islands" value="TK">Tokelau Islands</option>
                    <option label="Tonga" value="TO">Tonga</option>
                    <option label="Trinidad,Tobago" value="TT">Trinidad,Tobago</option>
                    <option label="Tunisia" value="TN">Tunisia</option>
                    <option label="Turkey" value="TR">Turkey</option>
                    <option label="Turkmenistan" value="TM">Turkmenistan</option>
                    <option label="Turksh Caicosin" value="TC">Turksh Caicosin</option>
                    <option label="Tuvalu" value="TV">Tuvalu</option>
                    <option label="Uganda" value="UG">Uganda</option>
                    <option label="Ukraine" value="UA">Ukraine</option>
                    <option label="United Kingdom" value="GB">United Kingdom</option>
                    <option label="Uruguay" value="UY">Uruguay</option>
                    <option label="USA" value="US">USA</option>
                    <option label="Utd.Arab Emir." value="AE">Utd.Arab Emir.</option>
                    <option label="Uzbekistan" value="UZ">Uzbekistan</option>
                    <option label="Vanuatu" value="VU">Vanuatu</option>
                    <option label="Vatican City" value="VA">Vatican City</option>
                    <option label="Venezuela" value="VE">Venezuela</option>
                    <option label="Vietnam" value="VN">Vietnam</option>
                    <option label="Wallis,Futuna" value="WF">Wallis,Futuna</option>
                    <option label="West Sahara" value="EH">West Sahara</option>
                    <option label="Yemen" value="YE">Yemen</option>
                    <option label="Zambia" value="ZM">Zambia</option>
                    <option label="Zimbabwe" value="ZW">Zimbabwe</option>
                </select>
            </div>
            <div class="sapCRLWidgetFixContent sapCpWidgetFixContent"></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-9W" data-sap-cp-key="8911557A1B6564AFA442BD408B44B628F2627CBF" class="sapCRLWidget sapCRLWidgetEditable sapCpButtonWidget sapCpWidget sapCpWidgetEditable" data-sap-cp-follow-up-action="02">
            <div class="sapCRLWidgetContent sapCRLWidgetContentLeft sapCpWidgetContent sapCpWidgetContentLeft" style="width:20%"></div>
            <div class="sapCRLWidgetContent sapCRLWidgetContentRight sapCpWidgetContent sapCpWidgetContentRight" style="padding-left:20%">
                <button id="__button17" class="sapCpButton" type="button">UPDATE</button><span id="__text211" class="sapCpButtonWidgetExtraText sapCpMissingMandatoryFieldLabel sapCpMissingMandatoryFieldText sapCpText">Fill in all fields correctly.</span><span id="__text212" class="sapCpButtonWidgetExtraText sapCpErrorMessageText sapCpText">A technical error has occurred</span><span id="__text213" class="sapCpButtonWidgetExtraText sapCpSuccessMessageLabel sapCpSuccessMessageText sapCpText">Thank you for your submission</span></div>
            <div class="sapCRLWidgetFixContent sapCpWidgetFixContent"></div>
        </div>
        <div id="application-MarketingContent-manage-component---ObjectView--DesignView--ContentPage-0L-10W" data-sap-cp-key="792047677CAC0DD80CB809480BF5901DAB70E85F" class="sapCRLWidget sapCRLWidgetEditable sapCpTextWidget sapCpWidget sapCpWidgetEditable">
            <div class="sapCRLWidgetContentNoIndent sapCpWidgetContentNoIndent">
                <p>&nbsp;</p>
                <fieldset>
                    <div>
                        <h4>To&nbsp;<strong>unsubscribe</strong>&nbsp;from Molton Brown completely please&nbsp;<a title="click here" href="http://10.22.63.60:4200/store/update-your-preferences/unsubscribe">click here</a>.</h4>
                    </div>
                    <p>We will only use your information for marketing purposes. Molton Brown does not share your information with third parties and you can unsubscribe at any time.</p>
                </fieldset>
            </div>
        </div>
    </div>
</form>
</div>

