<div class="giftcard_block">
  <section>
    <fieldset>
      <legend>
        Do you want to split the payment between credit or debit card and a gift
        card?
      </legend>
      <div class="form-group form-checkbox">
        <div class="radio">
          <input
            id="giftcard"
            name="giftcard"
            type="radio"
            class="password-radio"
            (change)="onChangePaymentType(true)"
          />
          <label for="giftcard"> No, I'll pay with just my gift card.</label>
        </div>
      </div>
      <div class="form-group form-checkbox">
        <div class="radio">
          <input
            id="giftcard1"
            name="giftcard"
            type="radio"
            class="password-radio"
            (change)="onChangePaymentType(false)"
          />
          <label for="giftcard1"> Yes, I would like to split my payment.</label>
        </div>
      </div>
      <p class="redstar" *ngIf="requestErrMsg">{{errorMessage}}</p>
      <form
        [formGroup]="cardDetailForm"
        *ngIf="paymentGiftSouce == 'gift'"
        custom-focus
        (ngSubmit)="onGiftDetailSubmit($event)"
      >
        <app-gift-pay-form [giftForm]="cardDetailForm.get('giftcard')">
        </app-gift-pay-form>
        <div *ngIf="showCard">
          <section *ngIf="billingAddress; else changeBillingAddress">
            <div *ngIf="!expressCard">
              <div class="section-heading">
                <h2>Your billing address</h2>
              </div>
              <div style="display:block">
                <div class="payer-saved-address clearfix">
                  <div>
                    <div class="saved-address clearfix">
                      <p>
                        <span *ngIf="shippingAddress.customerAddress.line1"
                          >{{ shippingAddress.customerAddress.line1 }}<br
                        /></span>
                        <span *ngIf="shippingAddress.customerAddress.line2"
                          >{{ shippingAddress.customerAddress.line2 }}<br
                        /></span>
                        <span *ngIf="shippingAddress.customerAddress.town">
                          {{ shippingAddress.customerAddress.town }}<br
                        /></span>
                        <span *ngIf="shippingAddress.customerAddress.postalCode"
                          >{{ shippingAddress.customerAddress.postalCode }}<br
                        /></span>
                        <span *ngIf="shippingAddress.customerAddress.country"
                          >{{ shippingAddress.customerAddress.country.name
                          }}</span>
                        <span *ngIf="shippingAddress.customerAddress.phone">{{
                          shippingAddress.customerAddress.phone
                        }}</span>
                      </p>
                      <a
                        class="change-address-btn"
                        title="Change billing address"
                        (click)="onChangeBillingAddress()"
                        >Change billing address</a
                      >
                    </div>
                    <div class="form-group form-checkbox ">
                      <div class="checkbox bl_checkbox">
                        <input
                          style="padding-top: 0px;"
                          type="checkbox"
                          class="checkbox"
                          checked
                        />
                        <label for="passwordRadios2"
                          >This is my correct billing address.*</label
                        >
                        <div class="check-error-msg-bottom ">
                          ! Please confirm your billing address is correct or
                          use link to change billing address
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <section class="mb-personal-details">
              <fieldset
                *ngIf="!expressCard; else expressCardTemplate"
              >
                <div class="section-heading">
                  <legend>Your Card Details</legend>
                </div>
                <app-cd-card
                  [isValidFormSubmitted]="isValidFormSubmitted"
                  (changeCard)="onChangeCardType($event)"
                  [group]="cardDetailForm.get('paymentCard')"
                >
                </app-cd-card>
              </fieldset>
              <ng-template #expressCardTemplate>
                <legend>Choose a card to pay with</legend>
                <app-encrypted-card
                  *ngIf="shippingAddress"
                  [cards]="cardList"
                  [expressForm]="shippingAddress"
                  [group]="cardDetailForm.get('paymentCard')"
                  (changeCardType)="onChangeEncryptCard($event)"
                  (addNewCard)="onAddNewCard()"
                  (cancelEMit)="cancelEMit($event)"
                >
                </app-encrypted-card>
              </ng-template>
            </section>
          </section>
          <ng-template #changeBillingAddress>
            <app-billing-address
              [shippingUserAddress]="shippingAddress"
              (onResetAddress)="onResetAddress()"
              (onSetBillingAddress)="onSetBillingAddress($event)"
              [payType]="payType"
            ></app-billing-address>
          </ng-template>
        </div>
        <app-mb-terms
          *ngIf="!newCard"
          [formType]="cardDetailForm.get('terms')"
          (setTerms)="onSetTerms($event)"
          (setPolicyTerms)="onSetPolicyTerms($event)"
        ></app-mb-terms>
      </form>
    </fieldset>
  </section>
  <div [ngClass]="{ 'overlay-bg-show': loading, 'overlay-bg-hide': !loading }">
    <app-loading></app-loading>
  </div>
</div>
