<div *ngIf="billingAddress;else changeBillingAddress">
  <form
  [formGroup]="klarnaForm"
  custom-focus
  (ngSubmit)="onKlarnaDetailSubmit($event)" 
  >
  <p class="redstar kl-msg" *ngIf="errorMsg">
      Entschuldigen Sie bitte, bei der Bearbeitung Ihrer Bestellung ist ein Problem aufgetreten. Überprüfen Sie bitte Ihre Eingaben und versuchen Sie es dann erneut. Alternativ können Sie auch eine andere Zahlungsmethode verwenden.</p>
    <section>
      <div class="section-heading">
        <h2>Your billing address</h2>
      </div>
      <div style="display:block">
        <div class="payer-saved-address clearfix">
          <div>
            <div class="saved-address clearfix">
              <p *ngIf="shippingAddress.customerAddress">
               <span *ngIf="shippingAddress.customerAddress.line1">
                  {{shippingAddress.customerAddress.line1}}
                </span>
              
               <span  *ngIf="shippingAddress.customerAddress.line2">
                 {{shippingAddress.customerAddress.line2}}
                </span>
           
               <span  *ngIf="shippingAddress.customerAddress.town">
                 {{shippingAddress.customerAddress.town}}
                </span>
                
               <span  *ngIf="shippingAddress.customerAddress.postalCode">
                  {{shippingAddress.customerAddress.postalCode}}
                </span>
                
               <span  *ngIf="shippingAddress.customerAddress.country">
                  {{shippingAddress.customerAddress.country.name}}
                </span>
                
                <span *ngIf="shippingAddress.customerAddress.phone">
                  {{shippingAddress.customerAddress.phone}}
                </span>
              </p>
              <a class="change-address-btn" title="Change billing address" (click)="onChangeBillingAddress()">
                Change billing address
              </a>
            </div>
            <div class="form-group form-checkbox">
              <div class="checkbox">
                <input style="padding-top: 0px;" type="checkbox" value="true" class="checkbox" checked>
                <label for="passwordRadios2">This is my correct billing address.*</label>
              </div>
            </div>
          </div>

        </div>
      </div>

      
    </section>
    <app-mb-terms          (setPolicyTerms)="onSetPolicyTerms($event)"  (setTerms)="onSetTerms($event)"  [formType]="klarnaForm.get('terms')"></app-mb-terms>
  </form>
  </div>
  <ng-template #changeBillingAddress>
    <app-billing-address 
    [shippingUserAddress]="shippingAddress"
    (onResetAddress)="onResetAddress()"
    (onSetBillingAddress)="onSetBillingAddress($event)"
    [payType]="payType"
      
      ></app-billing-address>
  </ng-template>
  <div [ngClass]="{'overlay-bg-show':loading,'overlay-bg-hide':!loading}">
    <app-loading></app-loading>
  </div>
  