/* You can add global styles to this file, and also import other style files */
@import "variable";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-century-regular, $font-century-normal, Verdana, sans-serif;
  line-height: 1.42857;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 14px;
  line-height: 1.42857;
}
:root {
  -o-animation-delay: 0ms;
  animation-delay: 0ms;
  duration: 800ms;
  --iteration: 1;
}
.disable-active,select{
    cursor: pointer;
}   
.cntry-select{
  width:240px !important;
}
@media (min-width: 768px){
  .container {
      max-width: 100%;
  }
}
.store-service-point{
  .mb-stores-locator{
   app-store-locator{
    agm-map{
        height:600px;
    }
   }
  }
}
app-profile-form{
 .container {
   &.reg_form{
     @media screen and (max-width:$screen-sm){
       padding:0;
     }
  }
}
}
button {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
textarea:focus,
input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
h6.header-mandatory {
  display: none;
  @media screen and(max-width:$screen-sm) {
    display: block;
    float: right;
    font-weight: normal;
    margin-top: 5px;
    font-size: 0.9285714286em !important;
  }
}

.mb-breadcrumb {
  a {
    &:last-child {
      cursor: text !important;
      color: red;
    }
  }
}
.card-form-section {
  .not-valid-error-msg {
    left: 3% !important;
  }
}
.container {
  width: 964px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-rendering: optimizeLegibility;
  @media (max-width: 768px) {
    width: 100%;
  }
}
:host {
  display: block;
}
.contextual-help {
  position: absolute;
  top: 0px;
  width: 42px;
  cursor: pointer;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  background: #fff url("./assets/imgs/help-black-icons.png") no-repeat scroll center center;
  text-indent: -9999px;
  // background-size: 7px;
  right: 0;
}
.mb-overlay-block {
  display: block;
}
.mb-overlay-none {
  display: none;
}


.show-menu-block {
  @media (max-width: 768px) {
    display: block;
  }
}
.hide-menu-block {
  @media (max-width: 768px) {
    display: none;
  }
}
.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

  background-image: none !important;
  height: 0px;
}
/* Start Error Messages */
.postcode-error-msg {
  position: absolute;
  bottom: 100%;
  background-color: $mb-error-bg;
  color: $mb-white;
  padding: 10px;
  left: 6%;
  text-align: center;
  span {
    font-size: 14px !important;
  }
  width: 235px;
  z-index: 9;
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 0;
    left: 5%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: $mb-error-bg;
    bottom: -7px;
  }
}
form {
  .hidden-err-msg {
    display: none;
  }
  .not-valid-error-msg {
    position: absolute;
    bottom: 100%;
    background-color: $mb-error-bg;
    color: $mb-white;
    padding: 10px;
    left: 6%;
    text-align: center;
    span {
      font-size: 14px !important;
    }

    width: 88%;
    z-index: 9;
    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      border: 0;
      left: 5%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background: $mb-error-bg;
      bottom: -7px;
    }
  }
}
/* End Error Messages */
.mb-content {
  overflow: hidden;
  min-height: 100%;
  flex: 1 0 auto;
  -webkit-box-flex: 1 0 auto;
}
.loading-backdrop {
  display: block;
  height: 85vh;
  background-color: $overlay-bg;
  position: relative;
  .b2c-title {
    position: absolute;
    margin-top: 10px;
    top: 5%;
    left: 45%;
    font-size: 14px !important;
    &::before {
      content: "";
      background: url("../src/assets/imgs/loading-compass.svg") no-repeat center center;
      background-size: 20px 20px;
      display: inline-block;
      width: 20px;
      height: 20px;
      transform: translateZ(0) scale(1, 1);
      -webkit-transform: translateZ(0) scale(1, 1);
      -moz-transform: translateZ(0) scale(1, 1);
      -ms-transform: translateZ(0) scale(1, 1);
      transform: translateZ(0) scale(1, 1);
      -webkit-animation: spin 2.5s linear infinite;
      animation: spin 2.5s linear infinite;
      outline: 1px solid transparent;
    }.loading-txt{
      float: right !important;
    padding-left: 5px !important;
    font-size: 14px !important;
    padding-top: 2px !important;

    }
    
  }

}

ngx-slick-carousel {
  .slick-arrow {
    z-index: 666;
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes color-change {
  0% {
    color: $primary-color;
  }
  50% {
    color: #727272;
  }
  100% {
    color: #e6e6e6;
  }
}
@-moz-keyframes color-change {
  0% {
    color: $primary-color;
  }
  50% {
    color: #727272;
  }
  100% {
    color: #e6e6e6;
  }
}
@-ms-keyframes color-change {
  0% {
    color: $primary-color;
  }
  50% {
    color: #727272;
  }
  100% {
    color: #e6e6e6;
  }
}
@-o-keyframes color-change {
  0% {
    color: $primary-color;
  }
  50% {
    color: #727272;
  }
  100% {
    color: #e6e6e6;
  }
}
@keyframes color-change {
  0% {
    color: $primary-color;
  }
  50% {
    color: #727272;
  }
  100% {
    color: #e6e6e6;
  }
}

.pricePoint:first-letter {
  margin-right: 5px;
}
a,
input {
  outline: none;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  height: 45px;
  top: 0;
}
.radio input[type="radio"],
.form-inline .radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  display: block;
  z-index: 999;
  width: 100%;
  height: 24px;
}
.bannerDescription {
  a {
    color: #232323 !important;
    text-decoration: underline;
  }
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid #c2c2c2;
  &.not-valid {
    border: 1px solid #b63432 !important;
  }
  &.year-not-valid {
    border: 1px solid #b63432 !important;
  }
}
span {
  font-size: 12px;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  background-repeat: no-repeat;
  background-position: left top;
}
p {
  overflow: hidden;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
  outline: none;
}  

.rowComponents {
  display: flex;
  flex-wrap: wrap;
}

.page-link {
  border: 0px !important;
}
.check-error-msg-bottom {
  color: $err-color;
  margin: 10px 0;
  overflow: hidden;
}
.redstar {
  color: $err-color;
  padding-right: 5px;
  font-weight: bold;
  font-size: 15px;
}
.page-link {
  border: 0px !important;
  color: #999 !important;
}

select.form-control {
  border: 1px solid #c2c2c2;
  border-radius: 0;
  font-size: 12px !important;
  .not-valid {
    border: 1px solid #b63432 !important;
  }
  ~ {
    .not-valid-error-msg {
      display: none;
    }
    .year-not-valid-error-msg {
      display: none;
    }
  }
  &.not-valid {
    &:focus {
      box-shadow: none;
      ~ {
        .not-valid-error-msg {
          display: block !important;
        }
      }
    }
  }
  &.year-not-valid {
    &:focus {
      box-shadow: none;
      ~ {
        .year-not-valid-error-msg {
          display: block !important;
          position: absolute;
          bottom: 100%;
          background-color: $mb-error-bg;
          color: $mb-white;
          padding: 10px;
          left: 30%;
          text-align: center;
          span {
            font-size: 14px !important;
          }
          width: 40%;
          z-index: 9;
          &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border: 0;
            left: 5%;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background: $mb-error-bg;
            bottom: -7px;
          }
        }
      }
    }
  }
}

input[type="text"].form-control,
input[type="email"],
input[type="password"],
textarea.form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="tel"].form-control {
  ~ {
    .not-valid-error-msg {
      display: none;
    }
  }
  &.not-valid {
    &:focus {
      box-shadow: none;
      ~ {
        .not-valid-error-msg {
          display: block !important;
        }
      }
    }
  }
  width: 65%;
  display: block;
  height: 48px;
  border: 1px solid #c2c2c2;
  border-radius: 0;
  // margin: 5px 0;
  &.not-valid {
    background-image: url("https://www.moltonbrown.co.uk/images/exclamation-symbol.png");
    background-position: 93% 11px;
    border: 1px solid #b63432 !important;
    background-repeat: no-repeat;
    @media screen and(max-width:768px) {
      background-position: calc(100% - 41px) 10px;
    }
    &:focus {
      background-image: none !important;
    }
  }
  &.valid {
    background-image: url("https://www.moltonbrown.co.uk/images/tick-symbol.png") !important;
    background-position: 95% 13px;
    background-repeat: no-repeat;
  }
}

input[type="text"].ng-untouched.postC {
  ~ {
    .not-valid-error-msg {
      display: block !important ;
    }
  }
}
.h4,
h4 {
  font-size: 1.5rem;
}
.btn {
  border-radius: 0 !important;
  width: 165px;
  height: 48px;
  text-transform: uppercase;
  font-size: 1.0714285714em;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  position: relative;
  line-height: 1 !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.0714285714em;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.btn:hover {
  color: #fff;
  opacity: 0.9;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  color: #555555 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.checkbox {
  height: 32px;
  padding-top: 8px;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox {
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 555;
    padding: 24px;
    width: 51%;
    opacity: 0;
  }
  label {
    padding-left: 38px;
    position: relative;
    font-size: 14px;
    color: #464646;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 32px;
      height: 32px;
      left: 0;
      top: -8px;
      border: 1px solid #a1a1a1;
      border-radius: 0;
      background-color: #ccc;
      -webkit-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
    }
    &:after {
      display: inline-block;
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      left: 4px;
      top: -4px;
      border-radius: 0;
      background: url("https://www.moltonbrown.co.uk/images/sample-tick.png") 0 -2px no-repeat;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      @media screen and(max-width:425px) {
        top: 8px;
      }
    }
  }
  input[type="checkbox"] {
    &:checked {
      ~ {
        label::after {
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          transform: scale(1, 1);
        }
      }
    }
  }
}

app-footer {
  bottom: 0 !important;
}

.treat-section > .pdp-realtedprduct-container > app-related-product > .item {
  h4 {
    text-align: center;
    font-size: 22px;
    padding: 15px 0px;
    font-weight: 400;
    line-height: 24px;
    color: $primary-color;
  }
  .slick-initialized .slick-next {
    right: -1px !important;
  }
  .slick-initialized .slick-prev {
    left: 0px !important;
  }
  ngx-slick-carousel .slick-list .slick-track .slick-slide {
    margin-left: 21px !important;
    margin-right: 25px !important;
  }
}
// .treat-section > .pdp-realtedprduct-container > app-related-product >.item .thumbnails
ngx-slick-carousel .slick-slide {
  //width:189px !important;
  margin-left: 12px;
  margin-right: 20px;
  img {
    width: 100px !important;
    margin: auto;
    @media screen and (max-width: 768px) {
      width: 160px !important;
      height: 160px !important;
    }
  }
}

.slick-prev {
  left: 3px !important;
  &::before {
    font-family: "slick";
    font-size: 0px !important;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 0;
    height: 0;
    border-top: 12px solid transparent !important;
    border-bottom: 12px solid transparent !important;
    border-right: 12px solid #c8c8c8 !important;
  }
}
.slick-next {
  right: 3px !important;
  &::before {
    font-family: "slick";
    font-size: 0px !important;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 0;
    height: 0;
    border-top: 12px solid transparent !important;
    border-bottom: 12px solid transparent !important;
    border-left: 12px solid #c8c8c8 !important;
  }
}

app-basketpage .clearfix .treat-align {
  .treat-section {
    margin-top: 15px !important;
    width: 474px !important;
    &.basketpageTreat {
      margin-top: 0px !important;
    }
    @media screen and (max-width: 768px) {
      width: 100% !important;
      // margin:0 24px;
    }
    .pdp-realtedprduct-container app-related-product div h4 {
      font-size: 1.57143em;
      text-transform: uppercase;
      padding: 15px 0px;
      text-align: center;
    }
    app-related-product {
      padding: 10px;
    }
  }
}

.payment-gateway-icons {
  display: flex;
  justify-content: flex-start;
  @media screen and (max-width: 320px) {
    padding: 0px !important;
  }
  span.norton-secure {
    background: url("https://www.moltonbrown.co.uk/images/digicert_header.png") 0 0 no-repeat;
    margin: 2px 10px 0 0 !important;
    width: 55px;
    height: 40px;
    background-size: contain;
    background-position: 0 6px;
    @media screen and (max-width: 768px) {
      width: 52px;
      margin: 2px 5px 0 0 !important;
    }
  }
  span {
    background: url("https://www.moltonbrown.co.uk/images/sprite-credit-cards.png") no-repeat;
    height: 40px;
    width: 50px;

    @media screen and (max-width: 768px) {
      background: url("https://www.moltonbrown.co.uk/images/sprite-credit-norton-2x.png") no-repeat;
      margin: 0;
      padding: 0;
      float: left;
      text-indent: -9999px;
      overflow: hidden;
      height: 32px;
      background-size: 300px auto;
      margin-right: 5px;
    }

    &.visa-secure {
      background-position: 0 10px;
      @media screen and (max-width: 768px) {
        width: 36px;
        background-position: -3px 10px;
      }
    }
    &.master-card {
      background-position: -100px 10px;
      @media screen and (max-width: 768px) {
        width: 36px;
        background-position: -42px 10px;
      }
    }
    &.american-express {
      background-position: -150px 10px;
      @media screen and (max-width: 768px) {
        width: 37px;
        background-position: -81px 10px;
      }
    }
    &.vpay-secure {
      background-position: -200px 10px;
      width: 33px;
      @media screen and (max-width: 768px) {
        background-position: -121px 10px;
        width: 22px;
      }
    }
    &.paypal-secure {
      background-position: -233px 10px;
      @media screen and (max-width: 768px) {
        width: 36px;
        background-position: -147px 10px;
      }
    }
    &.mb-secure {
      background-position: -283px 10px;
      width: 55px;
      @media screen and (max-width: 768px) {
        background-position: -188px 10px;
        width: 35px;
      }
    }
  }
}
app-product-samples .clearfix {
  .basket-footer-container .order-subtotal {
    margin-bottom: 10px;
    font-size: 14px;
    height: 47px;
  }
  .basket-section {
    min-height: 758px;
  }
}
.star-3:before {
  content: "\2605\2605\2605\2606\2606";
  font-size: 20px;
}

.orders-container app-related-product .item h4 {
  font-size: 1.2857142857em;
  color: $primary-color;
  border: 0;
  margin: 0 0 12px 0;
}

@media screen and(max-width:768px) {
  .slick-prev,
  .slick-next {
    top: 19% !important;
    @media screen and(max-width:425px) {
      top: 15% !important;
    }
  }
  app-basketpage .clearfix .hideBlock {
    display: none;
  }
  .treat-align .delivery-option-block {
    width: 100%;
    padding: 0px;
    app-delivery-options .deliveryOption {
      width: 100% !important;
      height: auto;
    }
  }
  ngx-slick-carousel .slick-slide {
    width: 674px !important;
    @media screen and(max-width:425px) {
      width: 355px !important;
    }

    .product-info {
      .product-title {
        min-height: 52px !important;
        margin-bottom: 15px !important;
        font-size: 1em !important;
        color: #464646;
        width: 100% !important;
      }
      .product-price {
        font-size: 1em !important;
        color: #464646;
      }
      .addToBasket {
        font-size: 1.0714285714em !important;
        transition: background 0.3s ease-in-out;
        width: 160px !important;
        height: 36px !important;
      }
    }
  }
  .payment-gateway-icons {
    justify-content: center;
  }
  .security-label {
    text-align: center;
  }
}

app-checkoutpage ol {
  justify-content: space-between !important;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  ngx-slick-carousel .slick-slide {
    width: 238px !important;
  }
}
@media screen and (max-width: 424px) and (min-width: 375px) {
  ngx-slick-carousel .slick-slide {
    width: 305px !important;
  }
}

.staticHeader .mb_contentblock_landing span {
  font-size: 13px;
  a:link {
    color: #666;
  }
  b {
    font-weight: bold;
  }
}
p.BannerDescription{
  color: $banner-color;
  font-size: 12px;
  a{
    color: $banner-color !important;
  }
}
.FR-QV-product-info-block{
  p {
    color: $primary-color;
  }

}
p.fullDetails{
  a{
    color: $primary-color !important;
  }
}
p {
  color: #260e03;
  // padding-top:20px !important;
  line-height: 19px;
  font-size: 13px;
  a:link {
    color: #666;
  }
  span {
    font-size: 13px;
    a:link {
      color: #666;
    }
    b {
      font-weight: bold;
    }
  }
}

.radio input[type="radio"],
.form-inline .radio input[type="radio"] {
  opacity: 0;
  position: absolute;
}
.radio {
  label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    padding-left: 28px;
    position: relative;
    font-size: 14px;
    line-height: 1.42857;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      border: 1px solid #727272;
      border-radius: 50%;
      background-color: #727272;
      -webkit-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
      background-color: #e1e1e1;
    }
  }
  input[type="radio"] {
    &:checked {
      ~ {
        label {
          &:before {
            border: 1px solid #e1e1e1;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
          }
          &:after {
            position: absolute;
            content: "";
            width: 14px;
            height: 14px;
            left: 4px;
            top: 4px;
            border-radius: 50%;
            background-color: $mb-radio-bg;
            transform: scale(1, 1);
            -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
          }
          &.radio-existingGuest {
            &:after {
              top: 3px;
            }
          }
        }
      }
    }
  }
}

ngx-stars {
  position: relative;
  z-index: 111;
}

.pos-relative {
  position: relative;
}

.backdrop {
  background-color: #d9d9d9;
  position: fixed;
  top: 32.5px;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 555;
  width: 100%;
  height: 3030px;
  margin: 0 auto;
  display: none;
}
.overlay-bg-show {
  display: block;
}
.overlay-bg-hide {
  display: none;
}
.custom-dropdown {
  select {
    height: 48px;
    min-width: 240px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    @media screen and(max-width:546px) {
      width: 100%;
    }
  }
}

@media screen and(max-width:768px) {
  .slick-prev,
  .slick-next {
    top: 19% !important;
    @media screen and(max-width:425px) {
      top: 15% !important;
    }
  }
  // .treat-align .treat-section{
  //     display: none;
  // }

  .treat-align .delivery-option-block {
    width: 100%;
    app-delivery-options .deliveryOption {
      width: 100% !important;
      height: auto;
    }
  }
  ngx-slick-carousel .slick-slide {
    width: 674px !important;
    @media screen and(max-width:425px) {
      width: 355px !important;
    }

    .product-info {
      .product-title {
        min-height: 52px !important;
        margin-bottom: 15px !important;
        font-size: 1em !important;
        color: #464646;
        width: 100% !important;
      }
      .product-price {
        font-size: 1em !important;
        color: #464646;
      }
      .addToBasket {
        font-size: 1.0714285714em !important;
        transition: background 0.3s ease-in-out;
        width: 160px !important;
        height: 36px !important;
      }
    }
  }
  app-basketpage .clearfix .rowComponents {
    margin-left: 3% !important;
    margin-right: 3% !important;
    padding-bottom: 15px;
    width: 94%;
  }

  app-basketpage .basket-heading .rowComponents {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }
  .payment-gateway-icons {
    justify-content: center;
  }
  .security-label {
    text-align: center;
  }
}

app-checkoutpage ol {
  justify-content: space-between !important;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  ngx-slick-carousel .slick-slide {
    width: 260px !important;
  }
}
@media screen and (max-width: 424px) and (min-width: 375px) {
  ngx-slick-carousel .slick-slide {
    width: 305px !important;
  }
}
.toolTipFont {
  font-size: 12px;
}

.user-delivery-bg {
  padding: 10px 0;
  border-bottom: 1px solid $primary-color;
  p {
    font-size: 14px;
  }
}
.gift-sample-carousel {
  .slick-track {
    display: flex !important;
  }

  ngx-slick-carousel {
    .slick-slide {
      width: 185px !important;
      @media (max-width: 768px) {
        width: 630px !important;
      }
      @media (max-width: 480px) {
        width: 310px !important;
      }
      @media (max-width: 320px) {
        width: 200px !important;
      }
    }
    @media (max-width: 768px) {
      .slick-prev,
      .slick-next {
        top: 35% !important;
      }
    }
  }
}
.slick-active {
  outline: none !important;
}
@media screen and(max-width:425px) {
  .mandatory {
    width: 100% !important;
  }
}
.buttonStyle {
  // background-image: -webkit-gradient(linear, left top, right top, from(#403b4a), color-stop(51%, #0a0a09), to(#403b4a));
  // background-image: -o-linear-gradient(left, #403b4a 0%, #0a0a09 51%, #403b4a 100%);
  // background-image: linear-gradient(to right, #403b4a 0%, #0a0a09 51%, #403b4a 100%);
  background: $primary-color;
  padding: 5px 10px;
  // -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  // box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 0;
  border-radius: 2px;
}
button.buttonStyle:disabled,
button.buttonStyle[disabled] {
  border: 1px solid #999999;
  color: #666666;
  background-image: linear-gradient(to right, #403b4a 0%, #c7c7c7 51%, #403b4a 100%);
}
.login_fields {
  width: 250px;
  position: relative;
  padding: 0 !important;
  display: inline-block;
  input,
  select {
    width: inherit;
    width: 250px !important;
    height: 25px !important;
    padding: 0 5px !important;
  }
}
ol > li {
  .active {
    height: 27px;
    position: relative;
    padding: 0px;
    text-align: center;
    font-size: 1.2857142857em;
    line-height: 28px;
  }
}
ol > li {
  // display: table-cell;
  height: 27px;
  position: relative;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
ol > li:last-child {
  &.step::after {
    display: none !important;
  }
}
ol > li:first-child {
  &.step:before {
    display: none !important;
  }
}
ol > li {
  &.step {
    width: 320px;
    position: relative;
    float: left;
    font-size: 1.2857142857em;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    font-family: $font-century-bold;
  }
}
.step::after {
  right: -13px !important;
}
.step.current {
  background-color: #464646 !important;
  color: #fff;
}
.step.current::after {
  border-left: 14px solid #464646;
}
.step::before {
  left: 0;
  border-left: 14px solid #acacac;
  z-index: 1;
}
.step::after,
.step::before {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}
.step::before {
  left: -1px !important;
}
.step::after {
  right: -14px;
  border-left: 14px solid #fff;
  z-index: 2;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  ol > li {
    &.step {
      width: 15%;
      &.current {
        width: 70% !important;
      }
    }
  }
}

.text-right {
  text-align: right;
}
.paddingTop10px {
  padding-top: 10px;
}
html {
  scroll-behavior: smooth;
}
.gm-style {
  .gm-style-iw-c {
    padding: 0 !important;
    border-radius: 0px !important;
    overflow: visible;
    height: auto !important;
    max-height: none !important;
  }
}
.gm-style-iw-d {
  overflow: hidden !important;
  max-height: unset !important;
  height: auto !important;
}
.cc-store-address {
  p {
    margin-bottom: 5px;
    font-size: 12px;
    color: #464646;
    b {
      font-weight: 900 !important;
    }
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 964px !important;
  }
}
@media (max-width: 768px) {
  .modal-dialog {
    max-width: 95%;
    margin: 0.75rem auto !important;
    min-height: 200px;
    .modal-content {
      min-height: 200px;
      overflow-y: scroll;
    }
  }
}

.adp {
  height: 350px;
  overflow-y: scroll;
  border: 1px solid $mb-border-color;
  .adp-placemark {
    margin-top: 0px;
  }
  .adp-directions {
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  app-mb-terms .form-group .checkbox label:before {
    top: 4px !important;
  }
}
app-delivery-service {
  section {
    //   padding: 15px 0 0;
    section {
      &.card-body1 {
        padding: 0 !important;
      }
    }
  }
}

.login_fields {
  position: relative;
  .contextual-help {
    position: absolute;
    width: 25px !important ;
    height: 25px !important ;
    right: -12px !important ;
    background-size: 7px;
  }
}
.cc-stores-list {
  .checkbox {
    label {
      &::before {
        top: 0px !important;
      }
    }
  }
}

.chck-modal-dialog {
  width: 900px;

  box-shadow: none !important;
  .modal-content {
    border: 0;
    max-height: 421px;
    position: relative;
    // top:-50%;
  }
  .close {
    margin-top: -1px;
    color: #fff;
    padding-top: 0;
  }
  .chck-modal-header {
    padding: 10px 15px;
    border-bottom: 0;
    background: #464646;
    display: block;
    color: #fff;
    .modal-title {
      font-size: 17px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.42;
    }
  }
  .chck-modal-body {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    max-height: 421px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto !important;
    position: relative;
  }
}
.chck-modal-dialog .modal-content {
  .staticHeader {
    p {
      color: #464646;
    }
    h1 {
      display: none;
    }
    ul li {
      list-style: none;
    }
  }

  .paddingTop10px {
    padding: 0;
  }
  .chck-modal-body {
    padding: 0 15px;
  }
  .static_para {
    &:first-child {
      margin-top: 0px;
    }
  }
}
app-card-form {
  .payer-saved-address .saved-address p span {
    display: block;
    font-size: 14px;
  }
}
.mb-personal-details {
  fieldset legend {
    font-size: 16px;
  }
}
app-profile-form {
  .contextual-help{
    background-size: 7px !important;
  }
  .registration_form {
    h2 {
      padding-top: 0px !important;
    }
    margin: 12px 0 15px 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .my-account {
    padding: 6px 0 5px 0px !important;
  }
}
app-myaccount {
  .contextual-help {
    position: absolute;
    top: 0px;
    left: 235px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #c2c2c2;
    background: #fff url(./assets/imgs/help-black-icons.png) no-repeat scroll center center;
    text-indent: -9999px;
    background-size: 7px !important;
  }
  .regPhone {
    .contextual-help {
      top: 0px;
    }
  }
}


app-categorylanding-page {
  app-productview {
    .product_detail {
      height: unset;
    }
    .product_image_div {
      width: 50%;
      img {
        width: 100% !important;
      }
    }
    .pdp-productDtls-container {
      width: 48%;
      padding: 5px;
    }
  }
  ~ {
    app-footer {
      bottom: 0;
      footer {
        margin-top: 15px;
      }
    }
  }
  .plp-view_container{
     .plp-container-grid {
       .plp-products-container .plpPage .mb-child .wrap .wrap-content div {
        ngx-stars{ 
          .stars-line{ 
            .fa {
           font-size: 18px !important;
          }
        } 
       }
        div {
          b {
            font-size: 14px !important;
            line-height: 16px !important;
          }
        }
   }
   app-pager{ 
     .rowCompts {
      top: 15px;
    }
  }
  }
 }
}

app-search-landingpage {
  .plp-view_container {
    .plp-container-grid {
      .viewAllTop {
        .freeTextShow {
          height: 18px;
          @media  (max-width: 480px) {
            padding-left: 10px;
          }
        }
      }
      .facets.col-md-3 {
        margin-top: 18px !important;
      }
      .plp-products-container {
        .heading {
          margin-top: 0px;
        }
      }
    }
  }
}

.login_fields.start-date {
  display: flex;
  width: 250px;
  justify-content: space-between;

  select.smallselect {
    width: 119px !important;
  }
}
app-personal-form {
  .edit-profile {
    border: 1px solid #aaa;
    padding: 30px;
    margin: 30px 0;
    float: left;
    width: 764px;
  }
}
app-customer-detail {
  .my-account {
    width: 764px;
    @media screen and(max-width:768px) {
      width: 100%;
    }
  }
}
.my-account {
  width: 764px;
  .login_fields input[type="text"].form-control.valid,
  .login_fields input[type="email"].valid,
  .login_fields input[type="password"].valid,
  .login_fields input[type="email"].form-control.valid,
  .login_fields input[type="password"].form-control.valid,
  .login_fields input[type="tel"].form-control.valid {
    background-image: url(https://www.moltonbrown.co.uk/images/tick-symbol.png);
    background-position: 94% 2px !important;
    background-repeat: no-repeat;
  }
}
.loginAlign {
  input[type="text"].form-control,
  input[type="email"],
  input[type="password"],
  input[type="email"].form-control,
  input[type="password"].form-control,
  input[type="tel"].form-control {
    &.valid {
      background-image: url(https://www.moltonbrown.co.uk/images/tick-symbol.png);
      background-position: 94% 2px !important;
      background-repeat: no-repeat;
    }
  }
}
.price-format-discount {
  &-retail-price {
    font-size: 14px;
    line-height: 16px;
  }
}
.ds-price {
  color: #dc1363;
  font-size: 14px;
}

.not-valid-postcode {
  border: 1px solid #b63432 !important;
  &:focus {
    + {
      .postcode-msg-block {
        display: block;
      }
    }
  }
}
.postcode-msg-block {
  display: none;
  position: absolute;
  bottom: 100%;
  background-color: $mb-error-bg;
  color: $mb-white;
  padding: 10px;
  left: 6%;
  text-align: center;
  span {
    font-size: 14px !important;
  }
  width: 305px;
  z-index: 9;
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 0;
    left: 5%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: $mb-error-bg;
    bottom: -7px;
  }
}
.modal {
  .container {
    &:before {
      display: flex !important;
    }
    &:after {
      display: flex !important;
    }
  }
}
.icon-valid-white.icon-bg-block {
  display: inline-block;
  @media screen and(max-width:768px) {
    display: none;
  }
}
.monthYearAlign {
  display: flex;
  @media screen and(max-width:768px) {
    justify-content: space-between;
  }
}
select.form-control {
  color: #666666 !important;
}
.small-dropdown {
  margin-right: 10px;
  @media screen and(max-width:768px) {
    width: 49% !important;
    margin: 0;
  }
  select.form-control {
    width: 135px !important;
    min-width: 135px !important;
    @media screen and(max-width:768px) {
      width: 100% !important;
    }
  }
}
input[type="text"],
input[type="email"],
input[type="password"] {
  &::-ms-clear {
    display: none;
  }
  &::placeholder {
    color: #a2a2a2;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a2a2a2;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #a2a2a2;
  }
}
.help-block {
  display: block;
  margin: 5px 0 10px 0;
  color: #464646 !important;

  font-size: 14px;
  a {
    cursor: pointer;
    text-decoration: underline !important;
    color: #464646 !important;
  }
  @media screen and (max-width: 768px) {
    margin: 15px 0 10px 0;
  }
}
.mb-container-left {
  position: inherit;
  @media screen and(max-width:768px) {
    margin-left: 80%;
    position: fixed;
    .container {
      max-width: unset !important;
      width: max-content !important;
      .tab-justify-center {
        justify-content: flex-start !important;
      }
    }
  }

  transition: left 0.5s;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-25 {
  margin-bottom: 25px;
}
footer .copyrights {
  color: #1f1d1e;
  font-size: 11px;
  margin-bottom: 0px !important;
  padding: 0px 0 20px 0;
  float: left;
  width: 100%;
  display: block;
  background-color: #eee;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
  background-color: #606060;
  color: #fff;
}
.delivery-collapse-block {
  margin-top: 20px;
  .clickcollect-wrap .cc-stores-view-nav a {
    float: left;
    text-decoration: none;
    font-size: 18px;
    color: $primary-color !important;
    padding: 11px 30px 10px;
    margin-right: 5px;
    background-color: #e5e5e5;
    border-radius: 0 25px 0 0;
    cursor: pointer;
    width: 94px;
    height: 40px;
    line-height: 1.42;
  }
}

app-billing-address section .billing_form {
  @media screen and(max-width:768px) {
    .form-inline.manual_field {
      justify-content: flex-start;
      .form-group {
        width: 49% !important;
        margin-right: 0px;
        &:first-child {
          margin: 0 1% 10px 0 !important;
        }
        &:last-child {
          margin: 0 0 10px 1% !important;
        }
      }
    }
    .contextual-help {
      right: 0 !important;
    }
    .form-control {
      width: 100%;
    }
    .card_field {
      width: 100%;
      .telInput.form-control {
        width: calc(100% - 20px);
      }
    }
    .shippingButtons_btn-full-width {
      .btn {
        width: 100%;
      }
    }
  }
}
@media screen and(max-width:768px) {
  .mobile-position {
    width: 100%;
  }
  .express-check-out {
    width: 100% !important;
  }
  .basket-heading .rowComponents h1 {
    margin-top: 0px;
  }
}
.continue-shopping-div {
  padding: 0 !important;
}
app-delivery-options {
  .amp-dc-external-block {
    @media screen and(max-width:768px) {
      section {
        width: 100% !important;
        height: auto !important;
      }
    }

    h1 {
      font-family: $font-century-bold;
    }
  }
}
.close{
  opacity: 1 !important;
}
.modal-content, .modal-header{
  border-radius:0 !important;
}
//star icon size reduce
// .star-full{
// font-size: 11px;
// }

//tooltip font-size

.tooltip {
  opacity: 100;
  font-size: 12px;
  font-family: $font-century-regular, Verdana, sans-serif !important;
}

ngb-tooltip-window.show{
  background-color: transparent !important;
  //opacity: 0 !important;
}
