@import "../../../variable";
.registration_form{
    width: 100%;
    padding: 20px 10px;
    margin: 12px 0 15px;
    border: 1px solid #aaaaaa;
    input[type="text"].form-control,
     input[type="tel"].form-control {
        &.not-valid{
            background-position:95% 2px ;
            background-size:4px !important;
        }
        &.valid{
            background-position:95% 1px !important;
        }
    }
    @media screen and(max-width:$screen-sm){
        width:100%;
    }
    .required_text{
        font-size:12px;
    }
    h6 {
        font-weight: bold;
        font-size: 14px;
    }
    .col-xs-12{
        width: 100%;
        margin-bottom: 5px;
        padding: 10px 0 0 0;
    }
    label{
        font-size: 12px;
    }
}
.redcolor {
    color: $err-color;
}
.register_label{
    float:right;
    padding-top: 5px;
    color: #535353;
    font-weight:normal;
    @media screen and(max-width:$screen-sm){
       float: left;
    }
}
.no-padding{
    padding:0;
}

.register-in {
    padding: 3% 0 0 0;
    margin: 10px 25px;
    @media screen and(max-width:$screen-sm){
        display: block;
        overflow: hidden;
        padding: 15px;
        margin: 0;
        font-size: 15px;
        font-weight: bold;
        color: $mb-white;
        background: #90d2c5;
    }
}
.registration_form{
p {
    color: #260e03!important;
    line-height: 20px;
    font-size: 13px!important;
}
select {
    width: 250px!important;
    height: 25px!important;
    padding: 0 5px!important;
}
}
.defualt_shipping_label{
   font-size:12px; 
}

.update_btn{
    position: absolute;
    bottom: 5px;
}


.new-saved-card-form{
    input.form-control.valid{
        background-position: 95% 1px;
    }
   .update_btn{
    padding: 15px;
    position: relative;
    top: -98px;
    width: 67%;
    z-index: 111;
    float: left;
 }
}
.login-fields.start-date {
    display: flex;
    width: 250px;
    justify-content: space-between;
}
.login-fields .small_fields {
    width: 119px!important;
    min-width: 119px !important;
    font-size: 12px;
    color: $primary-color;
    padding: 0;
}
h3{
    &.title{
        font-weight: bold;
    font-size: 14px !important;    padding: 20px 0!important
    }
}
.savedCardAddressBlock{
    display: inline-flex;
}
.address-book{
    margin-left: 10px;
    margin-top: 8px;
}
.chooseradio{
  display: inline-block !important;  
}
.col-sm-6.title{
    padding-left: 15px !important;
}
.paymentCards{
    a{
        cursor: pointer;
    }
}
.login-fields-small{
    input[type="text"].form-control,
    input[type="email"].form-control,
    input[type="password"].form-control {
    &.not-valid{
        background-position:95% 2px !important;
        background-size:4px !important;
    }
    }
}

.login_fields{
    input[type="text"].form-control,
    input[type="email"],input[type="password"],
    input[type="email"].form-control,
    input[type="password"].form-control,
    input[type="tel"].form-control {
       ~{
           .not-valid-error-msg{
               display:none  ;
           
           }
       }
    &.not-valid{    
       &:focus{
        box-shadow: none;
       ~{
        .not-valid-error-msg{
           display:block ;
         }
        }
       }
     }
       width: 65%;
       display: block;
       height: 48px;
       border: 1px solid $light-grey;
       border-radius: 0;
     //  margin: 5px 0;
       &.not-valid {
           background-image: url('https://www.moltonbrown.co.uk/images/exclamation-symbol.png');
           background-position: 95% 4px;
           border: 1px solid $mb-error-bg !important;
           background-repeat: no-repeat;    background-size: 4px;
       }
       &.valid {
           background-image: url('https://www.moltonbrown.co.uk/images/tick-symbol.png') !important;
           background-position: 95% 13px;
           background-repeat: no-repeat;
       }
    }
}
.paymentAliginSmall{display: flex;
    max-width: 292px;
    span:last-child{
        .not-valid-error-msg{
            left:51%;
        }  
    }
    .not-valid-error-msg{
        width:45% !important;
    }
}
.login_fields .contextual-help ~ .not-valid, .login_fields .contextual-help ~ .valid {
    background-position: 91% 4px !important;
}
.contextual-help {
    top: 0px;
}
.lookup-address{
    cursor: pointer;
    color:$mb-white !important;
}
.edit-card-expire-year{
    left:30%;
    width:35%;
}
.edit-card-expire-month{
    width:35%;
}
.login_fields .contextual-help ~ .not-valid, .login_fields .contextual-help ~ .valid {
    background-position: 91% 4px !important;
}
