<section class="new-saved-card-form">
  <form class="registration_form" [formGroup]="updateSaveCard" (ngSubmit)="onSubmitForm($event)"
    style="clear:both" custom-focus>
    <h6 class="title profile">Add a New Card</h6>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4  ">
        <label class="register_label " for="reg_country">Card Type<span class="redstar">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <select formControlName="cardType" (change)="onChangeCardType($event)" class="form-control mandatory"
            [ngClass]="{
              'has-error  not-valid':
                !updateSaveCard.controls['cardType'].valid &&
                updateSaveCard.get('cardType').touched
            }">
            <option value="" selected>Choose Card Type</option>
            <option value="master">Mastercard</option>
            <option value="amex">American Express</option>
            <option value="visa">Visa</option>
            <option value="visa">Visa-Debit</option>
            <option value="v_pay">V-Pay</option>
            <option value="master">MasterCard Debit</option>
          </select>
          <div *ngIf="
              (!updateSaveCard.controls['cardType'].valid &&
                updateSaveCard.get('cardType').touched) ||
              (isValidFormSubmitted != null && !isValidFormSubmitted)
            " class="not-valid-error-msg">
            <span
              [hidden]="!updateSaveCard.controls['cardType'].errors.required">{{ "payDetails.cardType" | translate }}</span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4  ">
        <label class="register_label ">Card Number<span class="redstar">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input  type="text" formControlName="cardNumber" class="form-control mandatory reg_field"
            [ngClass]="{
              'has-error  not-valid':
                !updateSaveCard.controls['cardNumber'].valid &&
                updateSaveCard.get('cardNumber').touched,
              valid: updateSaveCard.get('cardNumber').valid,
              invalid: !updateSaveCard.get('cardNumber').valid
            }" />
          <div *ngIf="
              (!updateSaveCard.controls['cardNumber'].valid &&
                updateSaveCard.get('cardNumber').touched) ||
              (isValidFormSubmitted != null && !isValidFormSubmitted)
            " class="not-valid-error-msg">
            <span *ngIf="updateSaveCard.controls['cardNumber'].errors.required">
              What's your card number? This is the long number across the front.
            </span>
            <span *ngIf="
                updateSaveCard.controls['cardNumber'].errors.maxlength ||
                updateSaveCard.controls['cardNumber'].errors.minlength
              ">
              This card number doesn't look right. Please check and try again.
            </span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4  ">
        <label class="register_label ">Cardholder's First Name<span class="redstar">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input  type="text" formControlName="cardHolderFirstName" class="form-control mandatory "
            [ngClass]="{
              'has-error  not-valid':
                !updateSaveCard.controls['cardHolderFirstName'].valid &&
                updateSaveCard.get('cardHolderFirstName').touched
            }" />
          <div *ngIf="
              !updateSaveCard.controls['cardHolderFirstName'].valid &&
              updateSaveCard.get('cardHolderFirstName').touched
            " class="not-valid-error-msg">
            <span [hidden]="
                !updateSaveCard.controls['cardHolderFirstName'].errors.required
              ">{{ "payDetails.cardholderFirstName" | translate }}</span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4  ">
        <label class="register_label ">Cardholder's Last Name<span class="redstar">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input  type="text" formControlName="cardHolderLastName" class="form-control mandatory"
            [ngClass]="{
              'has-error  not-valid':
                !updateSaveCard.controls['cardHolderLastName'].valid &&
                updateSaveCard.get('cardHolderLastName').touched
            }" />

          <div *ngIf="
              !updateSaveCard.controls['cardHolderLastName'].valid &&
              updateSaveCard.get('cardHolderLastName').touched
            " class="not-valid-error-msg">
            <span [hidden]="
                !updateSaveCard.controls['cardHolderLastName'].errors.required
              ">{{ "payDetails.cardholderLastName" | translate }}</span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4  ">
        <label class="register_label ">Start Date</label>
      </div>
      <div class="col-sm-12 col-md-8 text-left  ">
        <span class="login-fields start-date">
          <select class="small_fields" formControlName="startDateMonth">
            <option value="" selected>Select month</option>
            <option *ngFor="let month of expireMonth">{{ month.month }}</option>
          </select>

          <select class=" small_fields" formControlName="startDateYear">
            <option value="" selected>Select year</option>
            <option *ngFor="let month of expiredYear">{{ month.year }}</option>
          </select>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4  ">
        <label class="register_label ">Expiration Date <span class="redstar">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left">
        <span class="login-fields start-date">
          <select class="small_fields  form-control mandatory" formControlName="month" [ngClass]="{
              'has-error  not-valid':
                !updateSaveCard.controls['month'].valid &&
                updateSaveCard.get('month').touched
            }">
            <option value="" selected>Select month*</option>
            <option *ngFor="let month of expireMonth">{{ month.month }}</option>
          </select>

          <div *ngIf="
              !updateSaveCard.controls['month'].valid &&
              updateSaveCard.get('month').touched
            " class="not-valid-error-msg edit-card-expire-month">
            <span [hidden]="
                !updateSaveCard.controls['month'].errors.required
              ">{{ "payDetails.expirationDate" | translate }}</span>
              <span *ngIf="updateSaveCard.controls['month'].errors.incorrect"
              >Please select appropriate month .</span>
          </div>
     
          <select class="small_fields form-control mandatory" formControlName="year" [ngClass]="{
              'year-has-error  year-not-valid':
                !updateSaveCard.controls['year'].valid &&
                updateSaveCard.get('year').touched
            }">
            <option value="" selected>Select year*</option>
            <option *ngFor="let month of expireYear">{{ month.year }}</option>
          </select>

          <div *ngIf="
              !updateSaveCard.controls['year'].valid &&
              updateSaveCard.get('year').touched
            " class="year-not-valid-error-msg  edit-card-expire-year">
            <span
              [hidden]="!updateSaveCard.controls['year'].errors.required">{{ "payDetails.expirationYear" | translate }}</span>
          </div>
        </span>
      </div>
    </div>

    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4  ">
        <label class="register_label ">Issue Number</label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input  type="text" formControlName="issueNumber" class="form-control mandatory" />
        </span>
      </div>
    </div>
    <h3 class="title profile">Choose an address</h3>

    <div class="row">
      <div class="col-sm-4 savedCardAddressBlock addressSize padding-top-15"
        *ngFor="let data of addressList;let k=index;">
        <input  name ="blAddress" type="radio" class="radio chooseradio" [checked]="data.defaultAddress"
          (change)="onSetaddress(k)" />
         <div class="address-book">
          <div class="locality">{{data.firstName}}&nbsp;{{data.lastName}}</div>
          <div class="adr">
            <div class="street-address">
              {{data.line1}}
            </div>
            <div class="street-address">{{data.line2}}</div>
            <div class="locality" *ngIf="data.town">
              {{data.town}}
            </div>
            <div *ngIf="data.district">
                {{ data.district }}
              </div>
            <div class="postal-code">{{data.postCode}}</div>
            <div>
              {{data.country.name}}
            </div>
          </div>
          <div class="tel">{{data.phone}}</div>
        </div>
      </div>
    </div>
    <div class="row ">
      <h3 class="col-sm-6 title">
        <span>
          <input 
                 #blAddressEl
                 type="radio"
                 name ="blAddress"
                 class="radio chooseradio" 
                 (change)="onEnterNewAddress($event)"
          />
        </span>
        Or, enter a new billing address.
      </h3>
    </div>

    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_country">Country<span class="redstar">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <select class="form-control mandatory"  (change)="onChangeCountry($event)" formControlName="country" [ngClass]="{
              'has-error  not-valid':
                !updateSaveCard.controls['country'].valid &&
                updateSaveCard.get('country').touched
            }">
            <option value="" selected="selected">Please Select</option>
            <option *ngFor="let data of countries; let k = index" [ngValue]="data">{{ data.name }}</option>
          </select>

          <div *ngIf="
              !updateSaveCard.controls['country'].valid &&
              updateSaveCard.get('country').touched
            " class="not-valid-error-msg">
            <span
              [hidden]="!updateSaveCard.controls['country'].errors.required">{{ "payDetails.country" | translate }}</span>
          </div>
        </span>
      </div>
    </div>
                              
    <div class="col-xs-12 row" *ngIf="loadGMscript">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_postcode">Postcode/Zipcode<span class="redstar">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input 
               #myInput
               (onSelect)="setAddress($event)"
               type="text"
               (keydown)="onSearchKeyUp($event)"
               class="mandatory form-control "
               formControlName="postCode"
               googlePlaces
               [ngClass]="{ 
                'has-error  not-valid':(!updateSaveCard.controls['postCode'].valid && updateSaveCard.get('postCode').touched) ||(postCodeError),
              'not-valid-postcode': !postCodeStatus}" /> 
          <div *ngIf="(!updateSaveCard.controls['postCode'].valid &&  updateSaveCard.get('postCode').touched)||(postCodeError)"
            class="not-valid-error-msg">
            <span *ngIf="!postCodeStatus">Please enter a valid postcode or enter the address manually.</span>
            <span [hidden]="!updateSaveCard.controls['postCode'].errors?.required">
              {{'payDetails.postCode'|translate}}</span>
              <span
              [hidden]="
                !updateSaveCard.controls['postCode'].errors.patternInvalid
              "
            >Please enter a valid postcode</span>
          </div>
          <div class="postcode-msg-block">
            <span>Please enter a valid postcode or enter the address manually.</span>
          </div> 
        </span>
        <span class="ml-8 find-address" *ngIf="ukLoopBtnStatus">
          <button class="buttonStyle mt-1" (click)="onLookupAddress($event)"> Lookup Address</button>
        </span>
      </div>
  
    </div>
    <div class="col-xs-12 row " *ngIf="postalAddresses">
      <div class="col-sm-12 col-md-4  ">
        <label class="register_label ">Select Address<span class="redstar">*</span></label>
      </div>

      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <select class="mandatory form-control" formControlName="address"
            (change)="onSelectPlace($event.target.value)">
            <option  value="" selected>Select an Address</option>
            <option *ngFor="let data of postalAddresses; let k = index" [value]="data.Id">{{ data.StreetAddress }},
              &nbsp;{{ data.Place }}</option>
          </select>
        </span>
      </div>
    </div>

    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label " for="reg_address">Address<span class="redstar">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input  type="text" class="form-control mandatory" formControlName="line1" [ngClass]="{
              'has-error  not-valid':
                !updateSaveCard.controls['line1'].valid &&
                updateSaveCard.get('line1').touched
            }" />
          <input  type="text" class="form-control mandatory" formControlName="line2"
            style="margin-top:15px;" />

          <div *ngIf="
              !updateSaveCard.controls['line1'].valid &&
              updateSaveCard.get('line1').touched
            " class="not-valid-error-msg">
            <span [hidden]="
                !updateSaveCard.controls['line1'].errors.required
              ">{{ "payDetails.line1" | translate }}</span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label ">Town/City<span class="redstar">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <input  type="text" class="form-control mandatory" formControlName="town" [ngClass]="{
              'has-error  not-valid':
                !updateSaveCard.controls['town'].valid &&
                updateSaveCard.get('town').touched
            }" />

          <div *ngIf="
              !updateSaveCard.controls['town'].valid &&
              updateSaveCard.get('town').touched
            " class="not-valid-error-msg">
            <span
              [hidden]="!updateSaveCard.controls['town'].errors.required">{{ "payDetails.town" | translate }}</span>
          </div>
        </span>
      </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label ">{{ "form.label.state" | translate }}<span class="redstar" *ngIf="usSpecificForm">*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
         <span class="login_fields">
          <select  
             *ngIf="stateList"
             class="mandatory form-control"
             formControlName="district" 
             [ngClass]="{ 
              'has-error not-valid': !updateSaveCard.get('district').valid&& updateSaveCard.get('district').touched
            }"     
             >
             <option  value="" selected>Choose State *</option>
            <option *ngFor="let data of stateList;let k=index;" [ngValue]="data" >{{data.name}}</option>
          </select>
          <input 
          *ngIf="!stateList"
           autocorrect="off"  
           formControlName="district"  
           placeholder="County (optional)" 
           type="text" 
           class="form-control  mandatory" 
           autocapitalize="on"
           [ngClass]="{ 
            'has-error not-valid': !updateSaveCard.get('district').valid&& updateSaveCard.get('district').touched
          }"
           >
           <div *ngIf="
           !updateSaveCard.controls['district'].valid &&
           updateSaveCard.get('district').touched
         " class="not-valid-error-msg">
         <span [hidden]="
             !updateSaveCard.controls['district'].errors
               .required
           ">{{ "payDetails.cardType" | translate }}</span>
       </div>
 </span>

      </div>
    </div>

    <div class="col-xs-12 row">
      <div class="col-sm-12 col-md-4 ">
        <label class="register_label ">Phone Number<span class="redstar" >*</span></label>
      </div>
      <div class="col-sm-12 col-md-8 text-left ">
        <span class="login_fields">
          <a class="contextual-help"  show-delay="100" ngbTooltip="{{'register.phonenumberInfo'|translate}}" placement="right" ></a>

          <input 
             type="text" 
             class="form-control mandatory" 
             formControlName="phone"
             [ngClass]="{
              'has-error  not-valid':
                !updateSaveCard.controls['phone'].valid &&
                updateSaveCard.get('phone').touched
            }" />
          <div *ngIf="!updateSaveCard.controls['phone'].valid &&  updateSaveCard.get('phone').touched"
          class="not-valid-error-msg">
          <span [hidden]="!updateSaveCard.controls['phone'].errors.required">{{'payDetails.phone'|translate}}</span>
          <span
            [hidden]="!updateSaveCard.controls['phone'].errors.patternInvalid">{{'payDetails.invalidPhonenumber'|translate}}</span>
        </div>
        </span>
      </div>
    </div>

    <div class="col-sm-12 text-right" style="padding: 15px;">
      <button class="buttonStyle" type="submit">Submit</button>
    </div>
  </form>
</section>

