<section class="billing-form-container">
  <div class="section-heading">
    <h2>Your billing address</h2>
  </div>
  <form
    class="billing_form"
    [formGroup]="ccForm"
    (ngSubmit)="onSubmitCCForm($event)"
    custom-focus
  >
    <div class="form-group card_field" style="position: relative;">
      <input
        autocorrect="off"
        formControlName="phone"
        placeholder="Telephone number*"
        type="text"
        class="telInput  mandatory form-control reg_field"
        autocapitalize="on"
        [ngClass]="{
          'has-error not-valid':!ccForm.get('phone').valid && ccForm.get('phone').touched,
          'valid':ccForm.get('phone').valid && ccForm.get('phone').touched
        }"
      />
      <!-- {{ccForm.controls['phone'].errors |json}} -->
      <a
        class="contextual-help"
        show-delay="100"
      ></a>

      <div
        *ngIf="
          (!ccForm.controls['phone'].valid && ccForm.get('phone').touched) ||
          (isValidFormSubmitted != null && !isValidFormSubmitted)
        "
        class="not-valid-error-msg"
      >
        <span *ngIf="ccForm.controls['phone'].errors.required"
          >what's your contact telephone number?</span
        >
        <span *ngIf="ccForm.controls['phone'].errors.patternInvalid">
          This telephone number doesn't look right. It must be between 10 and 14
          characters.
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="form-inline" style="justify-content: flex-start;">
        <div class=" card_field">
          <select
            class="mandatory form-control  selectDropdown cntry-select"
            formControlName="country"
            [ngClass]="{
              'has-error  not-valid':
                (!ccForm.controls['country'].valid &&
                  ccForm.get('country').touched) ||
                isValidFormSubmitted
            }"
            (change)="onChangeCountry($event)"
          >
            <option value="null" selected>Choose Location *</option>
            <option
              *ngFor="let data of countries; let k = index"
              [ngValue]="data"
              >{{ data.name }}</option
            >
          </select>
          <div
            *ngIf="
              (!ccForm.controls['country'].valid &&
                ccForm.get('country').touched) ||
              (isValidFormSubmitted != null && !isValidFormSubmitted)
            "
            class="not-valid-error-msg"
          >
            <span *ngIf="ccForm.controls['country'].errors.required"
              >Please select a country</span
            >
          </div>
        </div>
        <span class="ml-2" *ngIf="ukSpecificForm">
            <span
              class="help-block inline postcodesearchreset"
              *ngIf="!manualAdress"
              style="display: inline;"
            >
              <a (click)="onSearchByPostal()">Search using postcode</a>
            </span>
          </span>
      </div>
    </div>
    <div
      class="form-inline manual_field"
      *ngIf="manualAdress; else fullDetail"
    >
      <div class="form-group card_field main-short-field">
        <input
          type="text"
          formControlName="line1"
          placeholder="House no."
          class="form-control short-field"
        />
      </div>
      <div class="form-group card_field main-short-field" >
        <input
          type="text"
          formControlName="postalCode"
          autocapitalize="characters"
          (keyup)="onPostCodeKeyUp($event)"
          placeholder="Postcode*"
          class="form-control short-field postC"
          #myInput
          [ngClass]="{
            'has-error not-valid':
              (!ccForm.get('postalCode').valid &&
                ccForm.get('postalCode').touched) ||
              !postCodeStatus,
              'invalid  has-error not-valid':
              !ccForm.get('postalCode').valid || !postCodeStatus,
            'not-valid-postcode has-error not-valid ': !postCodeStatus,
            'valid':ccForm.get('postalCode').valid && ccForm.get('postalCode').touched
          }"
        />

        <div
          *ngIf="
            (!ccForm.controls['postalCode'].valid &&
              ccForm.get('postalCode').touched) 
          "
          class="not-valid-error-msg"
        >
        <span *ngIf="!postCodeStatus">Please enter a valid postcode or enter the address manually.</span>
          <span *ngIf="ccForm.controls['postalCode'].errors?.required"
            >Please select a post Code</span
          >
          <span
          [hidden]="
            !ccForm.controls['postalCode'].errors.patternInvalid
          "
        >Please enter a valid postcode</span>
        </div>
        <div class="postcode-msg-block">
          <span>Please enter a valid postcode or enter the address manually.</span>
        </div>
      </div>
      <button
        class="btn btn-default btn-find-address"
        (click)="findAddress($event)"
      >
        FIND ADDRESS
      </button>
      <span *ngIf="ukSpecificForm" class="help-block"
        >Or
        <a (click)="addressManual()" style="cursor: pointer;"
          >enter address manually</a
        ></span
      >
    </div>
    <div class="form-group postalcode-block">
      <div class="form-inline" style="justify-content: flex-start;">
        <div class="form-group" *ngIf="postalAddresses">
          <select
            class="mandatory form-control card_field selectDropdown slct-post-address"
            formControlName="address"
            (change)="onSelectPlace($event.target.value)"
          >
            <option value="null" selected>Select an Address</option>
            <option
              *ngFor="let data of postalAddresses; let k = index"
              [value]="data.Id"
              >{{ data.StreetAddress }}, &nbsp;{{ data.Place }}</option
            >
          </select>
        </div>
       </div>
    </div>
    <ng-template #fullDetail>
      <div class="form-group card_field">
        <input
          autocorrect="off"
          formControlName="line1"
          placeholder="Address line 1*"
          type="text"
          class="form-control  mandatory"
          autocapitalize="on"
          [ngClass]="{
            'has-error not-valid':!ccForm.get('line1').valid && ccForm.get('line1').touched,
            'valid':ccForm.get('line1').valid
             }"
        />
        <div
          *ngIf="!ccForm.controls['line1'].valid && ccForm.get('line1').touched"
          class="not-valid-error-msg"
        >
          <span *ngIf="ccForm.controls['line1'].errors.required">
            What's the first line of the address?
          </span>
        </div>
      </div>
      <div class="form-group card_field">
        <input
          autocorrect="off"
          formControlName="line2"
          placeholder="Address line 2 (optional)"
          type="text"
          class="form-control  mandatory"
          autocapitalize="on"
          [ngClass]="{
            'valid':ccForm.get('line2').valid&&ccForm.get('line2').value !=''
             }"
        />
      </div>
      <div class="form-group card_field">
        <input
          autocorrect="off"
          formControlName="town"
          placeholder="City*"
          type="text"
          class="form-control  mandatory"
          autocapitalize="on"
          [ngClass]="{
            'has-error not-valid':!ccForm.get('town').valid && ccForm.get('town').touched,
            'valid':ccForm.get('town').valid 
          }"
        />
        <div
          *ngIf="!ccForm.controls['town'].valid && ccForm.get('town').touched"
          class="not-valid-error-msg"
        >
          <span *ngIf="ccForm.controls['town'].errors.required">
            Please enter a city.
          </span>
        </div>
      </div>
      <!-- <div class="form-group">
            <input autocorrect="off"  formControlName="district"  placeholder="County (optional)" type="text" class="form-control  mandatory" autocapitalize="on" >
        </div> -->

      <div class="form-group">
        <input
          *ngIf="!usSpecificForm; else usStates"
          autocorrect="off"
          formControlName="district"
          placeholder="County (optional)"
          type="text"
          class="form-control  mandatory card_field"
          style="width: 65%;"
          autocapitalize="on"
          [ngClass]="{
            'has-error not-valid':!ccForm.get('district').valid && ccForm.get('district').touched,
            'valid':ccForm.get('district').valid&& ccForm.get('district').touched
          }"
        />
        <ng-template #usStates>
          <select
            *ngIf="stateList"
            class="mandatory form-control card_field selectDropdown"
            style="width: 65%;"
            formControlName="district" 
            [ngClass]="{
              'has-error  not-valid':
                !ccForm.controls['district'].valid &&
                ccForm.get('district').touched
            }"
          >
            <option value="" selected>Choose State *</option>
            <option
              *ngFor="let data of stateList; let k = index"
              [ngValue]="data"
              >{{ data.name }}</option
            >
          </select>

        <div
        *ngIf="!ccForm.controls['district'].valid && ccForm.get('district').touched"
        class="not-valid-error-msg"
      >
        <span *ngIf="ccForm.controls['district'].errors.required">
          Please enter a city.
        </span>
      </div>
          <input
            *ngIf="!stateList"
            autocorrect="off"
            formControlName="district"
            placeholder="{{ 'form.label.state' | translate }} *"
            type="text"
            class="form-control  mandatory card_field"
            autocapitalize="on"
            [ngClass]="{
              'has-error not-valid': !ccForm.get('district').valid && ccForm.get('district').touched,
              'valid':ccForm.get('district').valid
            }"
          />
        </ng-template>
      </div>

      <div class="form-group card_field">
        <input
          autocorrect="off"
          formControlName="postalCode"
          placeholder="Postcode*"
          type="text"
          class="form-control  mandatory"
          autocapitalize="on"
          [ngClass]="{
            'has-error not-valid':!ccForm.get('postalCode').valid && ccForm.get('postalCode').touched,
            'valid':ccForm.get('postalCode').valid 
          }"
        />
        <div
          *ngIf="!ccForm.controls['postalCode'].valid &&ccForm.get('postalCode').touched "
          class="not-valid-error-msg"
        >
          <span *ngIf="ccForm.controls['postalCode'].errors?.required">
            What's your postcode?
          </span>
          <span
          [hidden]="
            !ccForm.controls['postalCode'].errors.patternInvalid
          "
        >Please enter a valid postcode</span>
        </div>
      </div>
    </ng-template>
    <div class="form-group shippingButtons  clearfix">
      <div class="shippingButtons_btn-block" *ngIf="!clickCollect">
        <a
          class="btn btn-default pull-left disabled-active reset-btn "
          (click)="onResetForm()"
          >CANCEL</a
        >
      </div>
      <div
        class="shippingButtons_btn-block"
        *ngIf="!manualAdress"
        [ngClass]="{ 'shippingButtons_btn-full-width': clickCollect }"
      >
        <button class="btn btn-default pull-right " type="submit">
          CONFIRM ADDRESS
        </button>
      </div>
    </div>
  </form>
</section>
