@import "../../../variable";



.card-block-height{
    min-height: 10px;
 }
.payment-type-card {
    background: url('https://css.moltonbrown.co.uk/images/payment-methods.png') no-repeat;
    width: 74px;
    height: 47px;
    display: inline-block;
    margin-top: 5px;
    &.icon-card{
        background-position: 0 0;
    }
    &.icon-card-paypal {
        background-position: 0 -48px ;
    }
    &.icon-card-giftcard {
        background-position: 0 -96px ;
    }
    &.icon-card-klarna {
        background-position: 0 -144px; 
    }
    &.icon-card-sepa {
        background-position: 0 -191px;
    }
}

/*paymentType*/

.mb-paytype{
    width: 259px;    
    min-height: 130px;
    padding: 10px;
    float: left;
    text-align: center;
    border: 1px solid #c2c2c2;
    background-color: $mb-white;
    cursor: pointer;
    position: relative;
    transition: opacity 0.7s;
    @media screen and (max-width:$screen-sm) {
        padding:10px 5px;width:48%;
    }
    h5 {
        font-size: 16px;
        margin: 0 0 10px;
        padding-bottom: 10px;
        color: $primary-color;
        border-bottom: 1px solid $light-grey;
        // height:50px;
        @media screen and(max-width:480px){
            font-size:12px;
        }
    }
    &.mb-dt-selected{
        border-color: $primary-color;
        &:after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: -7px;
        left: 50%;
        margin-left: -7px;
        border-color: $primary-color;
        background-color: $mb-white;
        box-shadow: 1px 1px 0 $primary-color;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

}

.subtotal-flex{ 
    .card-block-height{
    width:169px !important;
    min-height:116px !important;
    @media screen and(max-width:$screen-sm) {
        width:32% !important;
        min-height:94px !important;
    }

    h5{
        margin: 0px 0 10px;
    padding-bottom: 0px;
    color: $primary-color;
    border-bottom: none;
 
    @media screen and(max-width:$screen-sm) {
        
        margin: 0px 0 5px;
    }
    }
}
}
.mb-dt-unselected{
    filter: opacity(0.5);
    opacity: .5;
}
.payType-overlay{
     .dl-overlay {
        min-height: 200px !important; 
     }
}
.dl-overlay-payType{
    min-height: 200px !important; 
}