<div class="rowComponents verticalCollapsibleSections OneLinkHide">
  <div class="fullWidthContent">
    <div class="title" (click)="onDeliveryClick()">
      <h3>Delivery</h3>
      <span
        [ngClass]="{
          'cheveron-open': deliveryBoxStatus,
          'cheveron-close': !deliveryBoxStatus
        }"
      ></span>
    </div>
    <div class="dl-rectriction-container"
      [ngClass]="{
        'review-open': deliveryBoxStatus,
        'review-close': !deliveryBoxStatus
      }"
    >
      <div>
        <div class="dl-block">
          <span [innerHtml]="deliveryResctrictions | safe: 'html'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
