@import "../../../variable";
.OneLinkHide {
    display: block !important;
}
.fullWidthContent {
    position: relative;
    clear: both;
    padding: 0px 0px 30px;
    .title {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        cursor: pointer;
        &:before {
            position: absolute;
            content: "";
            top: 10px;
            left: 0px;
            right: 0px;
            height: 1px;
            background-color: rgb(206, 206, 206);
        }
        h3 {
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            z-index: 0;
            font-size: 15px;
            font-weight: bold;
            background: rgb(255, 255, 255);
            padding: 0px 10px;
        }
        span{
            position: absolute;
            right: 25px;
            top: 0px;
            z-index: 0;
            width: 22px;
            height: 22px;
            background: url('https://www.moltonbrown.co.uk/images/cherons.png') 0px 0px no-repeat transparent;
            background-position: 0px 0px;
        }
    }
}
.bv-cv2-cleanslate {
    color: $primary-color!important;
    direction: ltr!important;
    font-family: 'Times New Roman',Times,serif!important;
    font-size: medium!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 1!important;
    list-style-type: disc!important;
    text-align: left!important;
    text-decoration: none!important;
}
.dl-rectriction-container{
  opacity: 0;
  visibility: hidden;
}
.review-open{
    opacity: 1;
    overflow: hidden;
    visibility: visible;
}
.review-close{
     visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    -moz-transition: visibility 0s, opacity 0.5s linear;
    -o-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}
.cheveron-close{
    transform: rotate(0deg);
}
.cheveron-open{
    transform: rotate(90deg);
}

.dl-block{
    display: block;
    height: 513px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .delivery-info{
        a{
            &:hover{
                text-decoration: underline !important;
                cursor: pointer;
            }
        }
        p{
            padding-bottom:12px;
            span{
                font-size:12px;
                b{
                    font-size: 13px !important;
                }
            }
        }
    }
    b{
        font-size: 13px !important;
    }
     ul.countrylist {
        float: left;
        font-size: 12px;
        width: 800px;
        margin: 15px 0 0 0;
        list-style: none;
         li {
            float: left;
            margin-bottom: 10px;
            width: 200px;
        }
    }
}