<ng-container [ngSwitch]="switchMode">
  <section *ngSwitchCase="'encryptCard'">
    <div class="encryptCard">
      <div class="CustomerDetails" *ngFor="let card of cardList">
        <section class="choose-card" [formGroup]="group" custom-focus>
          <div class="form-group">
            <div class="radio" *ngIf="card">
              <div>
                  <input
                type="radio"
                name="cardType"
                class="savedcard-radio"
                [checked]="card.isDefault"
                [value]="card"
                formControlName="cardType"
                (change)="onChangeCardtypo(card)"
              /> 
              <label class="card-radio-label">
                <i
                  class="card-logo"
                  [ngClass]="{
                    'master-card': card.cardType == 'master',
                    'amex-card': card.cardType == 'amex',
                    'visa-card': card.cardType == 'visa'
                  }"
                >
                </i
                >
                <!-- {{ card.cardType }} -->
                <span *ngIf="card.ccaccountnumber">
                    {{replaceEncryptNumber(card.ccaccountnumber)}}
                </span>
                &nbsp;
              </label>
              </div>
            <div>
               <span
                class="help-block inline expiry-date"
                style="display: -webkit-inline-box;"
                *ngIf="card.expirationmonth"
                >Expires {{ card.expirationmonth }}/{{
                  card.expirationyear
                }}</span
              >
              <span class="help-block inline edit-expiry">
                <a (click)="onEditCardForm(card)">Edit</a></span
              >
            </div>
             
             
            </div>
          </div>

          <div
            class="form-group security-code savedcard1 shows"
            *ngIf="card.isDefault"
          >
            <label class="sr-only" for="securityCode">Security code</label>
            <a
              class="contextual-help"
              show-delay="100" ngbTooltip="{{'groupSecurityCode'|translate}}"  placement="right" 
            ></a>
            <input
              autocomplete="off"
              placeholder="Security code*"
              type="text"
              [attr.minlength]="getSecureLength(card.cardType)"
              [attr.maxlength]="getSecureLength(card.cardType)"
              #myInput
              class="form-control mandatory"
              formControlName="secureCode"
              [ngClass]="{
                'has-error  not-valid':
                  !group.get('secureCode').valid &&
                  group.get('secureCode').touched,
                valid: group.get('secureCode').valid,
                invalid: !group.get('secureCode').valid
              }"
            />
            <div
              *ngIf="
                (!group.controls['secureCode'].valid &&
                  group.get('secureCode').touched) 
              "
              class="not-valid-error-msg"
            >
              <span *ngIf="group.controls['secureCode'].errors.required"
                >What is the security code on your card?</span
              >
              <span *ngIf="group.controls['secureCode'].errors.patternInvalid"
                >This security code doesn't look right. It must be between 3 and
                4 characters.</span
              >
              <span *ngIf="group.controls['secureCode'].errors.invalid"
                >This security code doesn't look right. It must be between 3 and
                4 characters.</span
              >
            </div>
          </div>  
        </section>
      </div>
      <a title="Add new card" class="add-new-card" (click)="onAddNewCard()"
      >Add new card</a
    >
    </div>
  </section>

  <section *ngSwitchCase="'updateCard'">
      <div class="section-heading">
          <legend>Add new card</legend>
        </div>
    <form class="new-card-form" [formGroup]="cardDetailForm" custom-focus>
      <app-cd-card
         [newCard]="newCardOption"
         (changeCard)="changeCard($event)"
         [group]="cardDetailForm.get('paymentCard')"
      ></app-cd-card>
      <div class="section-heading">
        <h2>Billing address</h2>
      </div>

      <section [ngSwitch]="switchBillingAddresType" >
        <section  *ngSwitchCase="'retrieveAddress'"  >
          <div
            class="form-inline "
            *ngFor="let address of addressList; let k = index"
            style="justify-content: flex-start;"
          >
            <div class="radio existing-customer-list">
              <input
                name="address"
                type="radio"
                class="password-radio"
                [checked]="address.defaultAddress"
                (change)="onAddressChange(address)"
              />
              <label class="radio-inline ">
                {{ address.firstName + "  " + address.lastName }}
                {{ address.line1 +" "+ " , " + " "+ address.line2 }}
                {{ address.town }}, {{ address.postalCode }}
                {{ address.country.name }}.
              </label>
            </div>
            <div class="action-link">
              <span (click)="editBlAddress(address)">
                edit
              </span>
            </div>
          </div>
          <div class="form-group clearfix reg-add-new-delivery-address">
            <a (click)="onAddNewBlAddess($event)">Add new address</a>
          </div>
        </section>
         <section  *ngSwitchCase="'newAddress'">
            <div class="section-heading">
              <legend>Add new address</legend>
            </div> 
            <app-address-form
            (discardAddressForm)="discardCCAddressForm($event)"
            (submitAddressForm)="submitAddressForm($event)"
            >
            </app-address-form>
         </section>
         <section  *ngSwitchCase="'editAddress'">
          <div class="section-heading">
            <legend>Edit Address</legend>
          </div> 
          <app-address-form
          [detail]="editAddresData"
          (discardAddressForm)="discardCCAddressForm($event)"
          (submitAddressForm)="submitAddressForm($event)"
          >
          </app-address-form>
       </section>
      </section>

      <div class="form-group" *ngIf="!newAddress">
        <div
          class="form-group buttons-add-new-card clearfix"
          style="display: block;"
        >
          <a
            class="btn btn-default pull-left disabled-active reset-btn"
            (click)="onCancel()"
            >CANCEL</a
          >
          <button
            class="btn btn-default pull-right"
            (click)="onSubmitCdDetails($event)"
          >
            SUBMIT
          </button>
        </div>
      </div>
    </form>
  </section>



  <section *ngSwitchCase="'editCard'">
    <div class="mask-card-edit-info">
      <div class="section-heading">
        <h2>Edit card</h2>
      </div>
      <form [formGroup]="updateCardForm">
        <fieldset *ngIf="cardData">
          <div class="form-group selected-card-detail">
            <i
              class="card-logo"
              [ngClass]="{
                'master-card': cardData.cardType == 'master',
                'amex-card': cardData.cardType == 'amex',
                'visa-card': cardData.cardType == 'visa'
              }"
            ></i>
            <input formControlName="cardType" type="hidden" />
            <span class="inline masked-card"> {{replaceEncryptNumber(cardData.ccaccountnumber)}}    </span>
          </div>
          <section *ngIf="savedBillingForm; else editSavedCardBillingAddress">
            <div class="form-group card_field">
              <label class="sr-only">Card Holder First Name</label>
              <input
                formControlName="firstName"
                autocomplete="off"
                placeholder="Card holder first name*"
                type="text"
                class="form-control  mandatory "
                [ngClass]="{
                  'has-error  not-valid':
                    !updateCardForm.get('firstName').valid &&
                    updateCardForm.get('firstName').touched,
                  valid: updateCardForm.get('firstName').valid,
                  invalid: !updateCardForm.get('firstName').valid
                }"
                required
              />
              <div
                *ngIf="
                  (!updateCardForm.controls['firstName'].valid &&
                    updateCardForm.get('firstName').touched) ||
                  (isValidFormSubmitted != null && !isValidFormSubmitted)
                "
                class="not-valid-error-msg"
              >
                <span
                  *ngIf="updateCardForm.controls['firstName'].errors.required"
                >
                  What is the first name on your card?
                </span>
                <span
                  *ngIf="
                    updateCardForm.controls['firstName'].errors.patternInvalid
                  "
                >
                  What is the first name on your card?
                </span>
              </div>
            </div>
            <div class="form-group card_field">
              <label class="sr-only">Card last Name</label>
              <input
                formControlName="lastName"
                autocomplete="off"
                placeholder="Card holder last name*"
                type="text"
                class="form-control  mandatory "
                [ngClass]="{
                  'has-error  not-valid':
                    !updateCardForm.get('lastName').valid &&
                    updateCardForm.get('lastName').touched,
                  valid: updateCardForm.get('lastName').valid,
                  invalid: !updateCardForm.get('lastName').valid
                }"
                required
              />
              <div
                *ngIf="
                  (!updateCardForm.controls['lastName'].valid &&
                    updateCardForm.get('lastName').touched) ||
                  (isValidFormSubmitted != null && !isValidFormSubmitted)
                "
                class="not-valid-error-msg"
              >
                <span
                  *ngIf="updateCardForm.controls['lastName'].errors.required"
                >
                  What is the last name on your card?
                </span>
                <span
                  *ngIf="
                    updateCardForm.controls['lastName'].errors.patternInvalid
                  "
                >
                  What is the last name on your card?
                </span>
              </div>
            </div>
            <div>Expires</div>
            <div class="monthYearAlign ">
              <span class="custom-dropdown big card_field small-dropdown">
                <select
                  formControlName="month"
                  autocomplete="off"
                  class="mandatory form-control"
                  [ngClass]="{
                    'has-error  not-valid':
                      !updateCardForm.controls['month'].valid &&
                      updateCardForm.get('month').touched
                  }"
                >
                  <option value="" disabled selected>Month* </option
                  ><option [ngValue]="month" *ngFor="let month of expireMonth">{{
                    month.month
                  }}</option>
                </select>
                <div
                  *ngIf="
                    (!updateCardForm.controls['month'].valid &&
                      updateCardForm.get('month').touched) ||
                    (isValidFormSubmitted != null && !isValidFormSubmitted)
                  "
                  class="not-valid-error-msg"
                >
                  <span *ngIf="updateCardForm.controls['month'].errors.required"
                    >Please select a month.</span
                  >
                </div>
              </span>
              <span class="custom-dropdown big card_field small-dropdown">
                <select
                  formControlName="year"
                  autocomplete="off"
                  class="mandatory form-control"
                  [ngClass]="{
                    'has-error  not-valid':
                      !updateCardForm.controls['year'].valid &&
                      updateCardForm.get('year').touched
                  }"
                >
                  <option value="" disabled selected>Year* </option
                  ><option  [ngValue]="month" *ngFor="let month of expireYear">{{
                    month.year
                  }}</option>
                </select>
                <div
                  *ngIf="
                    (!updateCardForm.controls['year'].valid &&
                      updateCardForm.get('year').touched) ||
                    (isValidFormSubmitted != null && !isValidFormSubmitted)
                  "
                  class="not-valid-error-msg"
                >
                  <span *ngIf="updateCardForm.controls['year'].errors.required"
                    >Please select a year.</span
                  >
                </div>
              </span>
            </div>

            <section class="saved-delivery-addresses">
              <fieldset>
                <legend>Billing address</legend>
                <div class="flex-display">

                <label class="billing-label" *ngIf="cardData.billingAddress">
                  <span *ngIf="cardData.billingAddress.firstName">
                    {{
                      cardData.billingAddress.firstName +
                        "  " +
                        cardData.billingAddress.lastName
                    }},
                  </span>
                  <span *ngIf="cardData.billingAddress.line1">
                    {{ cardData.billingAddress.line1 }},</span
                  >
                  <span *ngIf="cardData.billingAddress.line2">
                    {{ cardData.billingAddress.line2 }},</span
                  >
                  <span *ngIf="cardData.billingAddress.town">
                    {{ cardData.billingAddress.town }},</span
                  >
                  <span *ngIf="cardData.billingAddress.postalCode">
                    {{ cardData.billingAddress.postalCode }},</span
                  >
                  <span *ngIf="cardData.billingAddress.country">
                    {{ cardData.billingAddress.country.name }}.</span
                  >
                </label>

                <span
                  class="edit-action"
                  (click)="onEditbillingAddress(cardData)"
                  >Edit
                  </span>
                </div>
              </fieldset>
            </section>
          </section>
          <ng-template #editSavedCardBillingAddress>
            <app-address-form
            (discardAddressForm)="discardCCAddressForm($event)"
            (submitAddressForm)="submitAddressForm($event)"
            [detail]="cardData.billingAddress"
           >
           </app-address-form>
          </ng-template>
        </fieldset>

        <div class="form-group" *ngIf="savedBillingForm" >
          <div class="form-group buttons-add-new-card clearfix">
            <a class="btn btn-default pull-left disabled-active reset-btn"
              (click)="onCancelEditCard()">CANCEL</a>
            <button
              class="btn btn-default pull-right"
              (click)="onSubmitUpdateCdDetails($event)"
            >
            SAVE CHANGES
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</ng-container>
<div [ngClass]="{ 'overlay-bg-show': loading, 'overlay-bg-hide': !loading }">
  <app-loading></app-loading>
</div>
