<section class="session-expired">
    <div class="container">
      <div class="rowComponents">
      <aside class="col-sm-3 hidden-xs account"> 
      <h3 class="facet_header">Search By</h3>
     <ul>
       <li><a routerLink="/store/about-us"   routerLinkActive="active" (click)="onRouteTo($event,'/store/about-us')" >About Us</a></li>
       <li><a routerLink="/store/company/stores" routerLinkActive="active" (click)="onRouteTo($event,'/store/about-us')">Molton Brown Stores</a></li>
       <li><a routerLink="/store/contact-us" routerLinkActive="active" (click)="onRouteTo($event,'/store/about-us')">Contact us</a></li>	
         
       <li> <a routerLink="/store/store/delivery" routerLinkActive="active" (click)="onRouteTo($event,'/store/about-us')">Delivery</a></li>
       <li><a routerLink="/store/privacy-policy" routerLinkActive="active" (click)="onRouteTo($event,'/store/about-us')">Privacy Policy</a></li>
       <li><a routerLink="/store/terms-conditions" routerLinkActive="active" (click)="onRouteTo($event,'/store/about-us')">Terms &amp; Conditions</a></li>
       <li><a routerLink="/store/faqs" routerLinkActive="active" (click)="onRouteTo($event,'/store/about-us')">FAQs</a></li>
       <li><a routerLink="/store/sitemap" routerLinkActive="active" (click)="onRouteTo($event,'/store/about-us')">Site Map</a></li>		
     </ul>
     </aside>
        <div class=" col-sm-9 rightColumn" >
            <div>
     <div style="float:right"></div><br>
     <div><b>Got side-tracked? Don't worry.</b></div><br>
     <div>While you were busy or browsing somewhere else, we had to end your session (sorry, it's a security thing). <br>
 If you were logged in, we've got your basket ready to go - just log in to continue.<br>
 If you weren't logged in, we've emptied your basket. Please refill it and complete your order so we can set to work.<br>
     </div>
 <br>

   </div>
      </div>
      </div>
    </div>
  </section>
  